<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <base href="/">
  <title>STEAM 教育</title>
  <meta name="Description" content="">
  <meta name="Keywords" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(client) app/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <link rel="stylesheet" href="http://at.alicdn.com/t/font_1424941746_1585999.css">

  <!-- build:css({.tmp,client}) app/app.css -->
  <link rel="stylesheet" href="app/app.css">
  <!-- injector:css -->
  <!-- endinjector -->
  <!-- endbuild -->
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?cb0b49e781f34d1d96cc9f2fb489040a";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
  </script>

</head>
<body ng-app="mauiAppDev">
  <!--[if lt IE 9]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div ng-if="!webview"
       ng-include="'components/navbar/navbar.html'"></div>
  <div ui-view class="fadeIn" style="min-height: 400px"></div>
  <div ng-if="!webview"
       ng-include="'components/footer/footer.html'"></div>

  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.min.js"></script>
  <![endif]-->

  <!-- build:js(client) app/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:remove -->
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="app/mock.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,client}) app/app.js -->
  <script src="app/app.js"></script>
  <script src="components/components.js"></script>
  <!-- injector:js -->
  <!-- endinjector -->
  <!-- endbuild -->
  <script>
    angular.module('mauiAppDev')
      .constant('initUser', <%- initUser %>)
  </script>
</body>
</html>
