<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <base href="/">
  <title>Maui 测试页面</title>
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(client) test/vendor.css -->
  <!-- endbuild -->

  <!-- build:css({.tmp,client}) test/app.css -->
  <link rel="stylesheet" href="test/app.css">
  <!-- endbuild -->
</head>

<body ng-app="mauiTestApp">

  <div ng-include="'test/main/test.html'"></div>

  <!-- build:js(client) test/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>
  <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
  <script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
  <script src="bower_components/restangular/dist/restangular.js"></script>
  <script src="bower_components/angular-notify/dist/angular-notify.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/moment/lang/zh-cn.js"></script>
  <script src="bower_components/videogular/videogular.js"></script>
  <script src="bower_components/videogular-controls/controls.js"></script>
  <script src="bower_components/videogular-buffering/buffering.js"></script>
  <script src="bower_components/videogular-overlay-play/overlay-play.js"></script>
  <script src="bower_components/videogular-poster/poster.js"></script>
  <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
  <script src="bower_components/highcharts/highcharts.js"></script>
  <script src="bower_components/highcharts/highcharts-more.js"></script>
  <script src="bower_components/highcharts/modules/exporting.js"></script>
  <script src="bower_components/highcharts/modules/drilldown.js"></script>
  <script src="bower_components/underscore.string/lib/underscore.string.js"></script>
  <script src="bower_components/utf8/utf8.js"></script>
  <script src="bower_components/sockjs/sockjs.js"></script>
  <script src="bower_components/angular-elastic/elastic.js"></script>
  <script src="bower_components/angular-sortable-view/src/angular-sortable-view.min.js"></script>
  <script src="bower_components/angular-i18n/angular-locale_zh-cn.js"></script>
  <script src="bower_components/Jcrop/js/jquery.Jcrop.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/pen/src/pen.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-scroll/angular-scroll.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,client}) test/app.js -->
  <script src="test/app.js"></script>
  <script src="components/components.js"></script>
  <!-- injector:js -->
  <script src="components/auth/auth.service.js"></script>
  <script src="components/auth/user.service.js"></script>
  <script src="components/configs/highcharts.lang.js"></script>
  <script src="components/directives/clickOutside.directive.js"></script>
  <script src="components/directives/compileHtml.directive.js"></script>
  <script src="components/directives/editor/budEditor.js"></script>
  <script src="components/directives/fixWhenReachTop.directive.js"></script>
  <script src="components/directives/focus.directive.js"></script>
  <script src="components/directives/holder.directive.js"></script>
  <script src="components/directives/imageZoom/imageZoom.directive.js"></script>
  <script src="components/directives/isVisible.directive.js"></script>
  <script src="components/directives/mongoose-error.directive.js"></script>
  <script src="components/directives/pen/pen.directive.js"></script>
  <script src="components/directives/retinaImageSrc.directive.js"></script>
  <script src="components/directives/srcKey.directive.js"></script>
  <script src="components/directives/titlePlaceholder/titlePlaceholder.directive.js"></script>
  <script src="components/directives/uploader/fileUtils.js"></script>
  <script src="components/directives/uploader/uploader.directive.js"></script>
  <script src="components/filters/bytes.filter.js"></script>
  <script src="components/filters/genColor.filter.js"></script>
  <script src="components/filters/htmlToPlaintext.filter.js"></script>
  <script src="components/filters/include.filter.js"></script>
  <script src="components/filters/minLength.filter.js"></script>
  <script src="components/filters/mine.filter.js"></script>
  <script src="components/filters/monent.filter.js"></script>
  <script src="components/filters/paging.filter.js"></script>
  <script src="components/filters/readableTime.filter.js"></script>
  <script src="components/filters/without.filter.js"></script>
  <script src="components/modals/imageCrop/imageCropPopup.js"></script>
  <script src="components/modals/message/messageModal.controller.js"></script>
  <script src="components/navbar/navbar.controller.js"></script>
  <script src="components/services/chartUtils.js"></script>
  <script src="components/services/message.service.js"></script>
  <script src="components/services/socket.service.js"></script>
  <script src="test/main/test.controller.js"></script>
  <!-- endinjector -->
  <!-- endbuild -->

  <script>
    angular.module('mauiTestApp')
      .constant('webview', <%- webview %>)
      .constant('initUser', <%- initUser %>)
      .constant('initNotify', <%- initNotify %>)
  </script>
</body>

</html>
