<div ng-if="activities.$count == null"
     class="text-center">
  加载中...
</div>

<div ng-if="activities.$count == 0"
     class="text-center">
  暂无新动态
</div>
<div class="col-md-12 activity-tile"
     ng-repeat="activity in activities">
  <ul>
    <li ng-switch="activity.action">
      <i ng-switch-when="create_article"
         class="fa fa-file-text-o text-muted bigger"
         ng-class="{'last':$last}"></i>
      <i ng-switch-when="create_course"
         class="fa fa-wrench text-muted bigger"
         ng-class="{'last':$last}"></i>
      <i ng-switch-when="create_follow"
         class="fa fa-user-plus text-muted bigger"
         ng-class="{'last':$last}"></i>
      <i ng-switch-when="like_course"
         class="fa fa-heart text-muted bigger"
         ng-class="{'last':$last}"></i>
      <i ng-switch-when="like_article"
         class="fa fa-heart text-muted bigger"
         ng-class="{'last':$last}"></i>
      <i ng-switch-when="create_group"
         class="fa fa-group text-muted bigger"
         ng-class="{'last':$last}"></i>
      <i ng-switch-when="join_group"
         class="fa fa-group text-muted bigger"
         ng-class="{'last':$last}"></i>
    </li>
    <li>
      <a class="user-info" ui-sref="user.home({userId: activity.userId._id})">
        <div class="avatar-sm inline-block-middle"
              ng-src="{{activity.userId.avatar|trusted:'url'}}">
        </div>
        <span class="user-name">{{activity.userId.name}}</span>
      </a>
    </li>
    <li ng-switch="activity.action" class="text-muted">
      <span ng-switch-when="create_group">
        创建了小组
        <a class="link-dark-color" ui-sref="groupDetail.articleList({groupId: activity.group._id})">
          {{activity.group.name}}
        </a>
      </span>
      <span ng-switch-when="join_group">
        加入了小组
        <a class="link-dark-color" ui-sref="groupDetail.articleList({groupId: activity.group._id})">
          {{activity.group.name}}
        </a>
      </span>
      <span ng-switch-when="create_article">
        <span ng-if="activity.group">
          在小组
          <a class="link-dark-color" ui-sref="groupDetail.articleList({groupId: activity.group._id})">
            {{activity.group.name}}
          </a>
        </span>
        发布了文章
        <a class="link-dark-color" ui-sref="articleDetail({articleId: activity.article._id})">
          ‘{{activity.article.title}}’
        </a>
      </span>
      <span ng-switch-when="create_course">
        制作了趣课
        <a class="link-dark-color" ui-sref="courseDetail({courseId: activity.course._id})">
          ‘{{activity.course.title}}’
        </a>
      </span>
      <span ng-switch-when="create_follow">
        关注了
        <a class="link-base-color" ui-sref="user.home({userId: activity.toUser._id})">
          {{activity.toUser.name}}
        </a>
      </span>
      <span ng-switch-when="like_course">
        赞了趣课
        <a class="link-dark-color" ui-sref="courseDetail({courseId: activity.course._id})">
          ‘{{activity.course.title}}’
        </a>
      </span>
      <span ng-switch-when="like_article">
        赞了文章
        <a class="link-dark-color" ui-sref="articleDetail({articleId: activity.article._id})">
          ‘{{activity.article.title}}’
        </a>
      </span>
    </li>
    <li>
      <small class="text-muted time">{{activity.created | moment: 'fromNow'}}</small>
    </li>
  </ul>
  <hr ng-class="{'last':$last}">
</div>

<div class="pagination-row"
     ng-if="activities.$count"
     ng-show="activities.$count > pageConf.itemsPerPage">
  <pagination total-items="activities.$count"
              ng-model="pageConf.currentPage"
              items-per-page="pageConf.itemsPerPage"
              class="pagination-sm bud"
              ng-change="changePage()"
              boundary-links="true"
              rotate="false"
              max-size="pageConf.maxSize">
  </pagination>
</div>
