<div ng-if="activities.$count == null"
     class="text-center">
  加载中...
</div>

<div ng-if="activities.$count == 0"
     class="text-center">
  暂无新动态
</div>

<div class="col-md-12 activity-tile"
     ng-repeat="activity in activities">
  <ul>
    <li>
      <a class="user-info" ui-sref="user.home({userId: activity.userId._id})">
        <div class="avatar-xs inline-block-middle"
              ng-src="{{activity.userId.avatar}}">
        </div>
        <span class="user-name">{{activity.userId.name}}</span>
      </a>
    </li>
    <li>
      <a ui-sref="articleDetail({articleId: activity.objectId})">
        发布了话题 {{activity.title}}
      </a>
    </li>
    <li>
      <small class="text-muted">{{activity.created | moment: 'fromNow'}}</small>
    </li>
  </ul>
</div>

<div class="pagination-row"
     ng-if="activities.$count"
     ng-show="activities.$count > pageConf.itemsPerPage">
  <pagination total-items="activities.$count"
              ng-model="pageConf.currentPage"
              items-per-page="pageConf.itemsPerPage"
              class="pagination-sm bud"
              ng-change="changePage()"
              boundary-links="true"
              rotate="false"
              max-size="pageConf.maxSize">
  </pagination>
</div>
