.activity-tile {
  ul {
    padding-top: 15px;
    padding-left: 0px;
  }
  ul, li {
    display: inline-block;
    .user-name {
      color: @base-color;
    }
    .text-muted {
      margin-left: 10px;
    }
  }
}
