<div>
  <div class="modal-header modal-header-black">
    <h4 class="modal-title">
      添加新{{itemTitle}}
      <a class="close" ng-click="cancel()">&times;</a>
    </h4>
  </div>
  <form class="form-horizontal new-item-form"
        name="form">
    <div class="form-group">
      <label class="control-label col-sm-3">{{itemTitle}}名</label>
      <div class="col-sm-8">
        <input class="form-control"
               id="item-name"
               ng-init="nameInputFocus=true"
               focus-me="nameInputFocus"
               placeholder="请输入{{itemTitle}}名称"
               ng-model="item.name"
               required>
        <small class="text-danger" ng-if="errors.name">{{ errors.name.message }}</small>
      </div>
    </div>

    <div class="form-group text-center">
      <button type="submit"
              id="confirm-btn"
              class="btn btn-danger"
              ng-click="confirm(form)">确认添加新{{itemTitle}}</button>
    </div>

  </form>
</div>
