.teacher-question-item {
  &.expended {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .question-title {
    padding: 0px 0px 0px 15px;
    margin: 0px;

    border-top: none;
    height: 60px;
    .title-info {
      padding-top: 20px;
      padding-left: 27px;
      height: 60px;
      margin: 0px;
      width: calc(~'100% - 90px');
    }
    .index {
      padding-right: 28px;
    }
    .close {
      display:none;
    }
    &.expended {
      color: #ffffff;
      background: @base-color;
      border-bottom: none;
    }
  }
  .question-title:hover {
    background: #f8f8f8;
    &.expended {
      color: #ffffff;
      border-bottom: none;
      background: @base-color;
    }
    .close {
      display:block;
      margin-top: 20px;
      margin-right: 10px;
    }
  }
  .question-content {
    .list-group-item {
      margin-top: 10px;
    }
    .question-option {
      padding-left: 25px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #9D9D9D
    }
    .index {
      padding-left: 8px;
      padding-right: 8px;

    }
    .question-answer {
      margin: 20px 20px 8px 20px;
      .answer-title {
        margin-left: -36px;
        margin-right: -36px;
        padding-left: 15px;
      }
    }
  }
}
