<div>
  <div class="sub-nav">
    <div class="container">
      <ul class="pull-left">
        <li>
          <a class="btn btn-primary btn-md rounded"
             ui-sref="teacher.lecture({courseId:$state.params.courseId, lectureId:$state.params.lectureId})"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li>
          <h3>{{category.name}}<small>/题库</small></h3>
        </li>
      </ul>
    </div>
  </div>
  <section class="teacher-question-library">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-md-8 search-group">
            <form ng-submit="searchQuestions()">
              <input type="text"
                     class="form-control question-search"
                     placeholder="按关键字搜索"
                     ng-model="keyword"/>
              <button type="button"
                      ng-click="addNewQuestion()"
                      class="btn btn-danger pull-right">
                <i class="fa fa-plus"></i>
                添加新题
              </button>
            </form>
            <hr/>
            <div class="row-fluid tags-search" ng-show="selectedKeyPoints.length > 0">
              <span ng-repeat="keyPoint in selectedKeyPoints">
                <div class="label key-point selected"
                     ng-class="{'selected':keyPoint.$selected}"
                     style="font-size: 1em; line-height:2em; margin-right:.2em">
                  {{keyPoint.name}}
                  <a ng-click="toggleKeyPoint(keyPoint)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                </div>
              </span>
            </div>

            <div class="list-group">
              <div class="list-group-item question-heading">
                <label>找到{{questions.length}}个习题</label>
                <button type="button"
                        class="btn btn-primary pull-right"
                        ng-click="selectedAll=!selectedAll;toggleSelectAll(selectedAll)">
                  <i ng-if="!selectedAll" class="fa fa-square-o"></i>
                  <i ng-if="selectedAll" class="fa fa-check-square-o"></i>
                </button>
              </div>
              <div class="list-group-item question-desc">
                <input type="checkbox"
                       ng-model="selectedAll"
                       ng-change="toggleSelectAll(selectedAll)"
                       class="bud checkbox-default pull-left">
                <span>编号</span><span>标题</span>
              </div>
              <div ng-repeat="question in questions">
                <div class="question-title list-group-item"
                     ng-class="{'expended':question.$expended==true}">
                  <input type="checkbox"
                         class="bud checkbox-default title-select"
                         ng-model="question.$selected">
                  <label class="title-info"
                         ng-click="question.$expended=!question.$expended">
                    <span class="index">{{$index+1}}</span>{{question.content.title}}
                  </label>
                </div>
                <ul class="nav nav-pills nav-stacked list-group-item question-content"
                    role="tablist"
                    ng-if="question.$expended">
                  <li ng-repeat="option in question.content.body"
                      class="question-option"
                      role="presentation">
                    <label class="text-muted" ng-class="{'label-correct':option.correct}">
                      <input type="checkbox"
                             class="bud checkbox-primary"
                             ng-disabled="true"
                             ng-model="option.correct">
                      <span class="index">{{$index | indexToABC}}. </span>
                      {{option.desc}}
                    </label>
                  </li>
                  <li role="presentation">
                    <div class="media alert alert-warning question-answer">
                      <label class="media-object pull-left">
                        {{getCorrectInfo(question)}}
                      </label>
                      <div class="media-body">
                        <b>注解：</b>{{question.solution}}
                        <div ng-if="question.keyPoints.length>0">
                          <b>知识点：</b><span ng-repeat="keyPoint in question.keyPoints">{{keyPoint.name}} </span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="text-center">
              <button type="button"
                      class="btn btn-danger"
                      ng-click="addToLecture()"
                      ng-disabled="getSelectedNum()==0 || updating">
                <span ng-if="!updating">确认添加 ({{getSelectedNum()}})</span>
                <span ng-if="updating"><i class="fa fa-spinner fa-spin"></i> 添加中</span>
              </button>
              <a type="button"
                 ui-sref="teacher.lecture({courseId:$state.params.courseId, lectureId:$state.params.lectureId})"
                 class="btn btn-warning">取消</a>
            </div>
          </div>
          <div class="col-md-4 tags-list">
            <label class="tags-title">知识点标签</label>
            <hr/>
            <div class="row-fluid">
              <span ng-repeat="keyPoint in keyPoints">
                <div class="label label-default key-point"
                     ng-click="toggleKeyPoint(keyPoint)"
                     ng-class="{'selected':keyPoint.$selected}"
                     style="font-size: 1em; line-height:2em; margin-right:.2em">
                  {{keyPoint.name}}
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
