<timetable event-souces="eventSouces" event-click="startCourse">
</timetable>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">课程：</h2>
      <div class="list-group"
          ng-repeat="course in courses">
        <!--<teacher-course-form class="list-group-item" course="course" categories="categories"></teacher-course-form>-->
        <a ng-click="toggleLectures(course)"
           class="list-group-item btn btn-default">
          {{course.name}}
        </a>
      </div>
    </div>
  </div>
  </p>
  <a type="button" class="btn btn-primary" ui-sref="teacher.course({courseId:'new'})">添加课程</a>
</div>


