<timetable event-click="startCourse">
</timetable>

<section class="course-list"
         id="course-list">
  <a class="anchor anchor-up"
     href="#course-list"
     du-smooth-scroll>
    <i class="fa fa-chevron-down"></i>
  </a>
  <div class="container">
    <div class="section-header"
         id="course-list-header">
      <h3>课程列表</h3>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-3 col-lg-3 col-sm-4 text-center">
          <button type="button"
                  class="btn btn-default new-course-btn"
                  ng-click="createNewCourse()">
            <i class="fa fa-file-text-o fa-3x"></i>
            <label>添加新课程</label>
            <i class="plus">+</i>
          </button>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-4"
             ng-repeat="course in courses | orderBy:'created':true">
          <a ui-sref="teacher.course({courseId:course._id})">
            <course-tile course="course"></course-tile>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<a href="#timetable"
   du-smooth-scroll
   class="back-to-top"
   du-scrollspy
   offset="60">
  <i class="fa fa-chevron-up"></i>
</a>
