<div class="group-tile" ng-click="gotoGroupDetail()">
  <div class="group-logo" ng-src="{{group.logo}}">  </div>
  <div class="group-body">
    <h4 class="group-name" >
      <a class="none-decoration" href ui-sref="groupDetail.articleList({groupId:group._id})">{{group.name}}</a>
    </h4>
    <h5 class="group-stat text-overflow">
      {{group.members.length}}个成员 {{group.postsCount||0}}个帖子
    </h5>

    <hr>

    <p class="group-info text-muted">
      {{group.info}}
    </p>
  </div>
  <div ng-switch="getRole()" class="group-join">
    <div ng-switch-when='creator'>
      <button class="btn btn-sm btn-outline btn-primary" ng-click="editGroupInfo($event)">
        修改小组信息</button>
    </div>
    <div ng-switch-when='member'>
      <button class="btn btn-sm btn-outline btn-joined"
              ng-click="leaveGroup($event)"
              ng-init="text='已加入'" ng-mouseenter="text='退出小组'" ng-mouseleave="text='已加入'">
        {{text}}</button>
    </div>
    <div ng-switch-default>
      <button class="btn btn-sm btn-outline btn-join" login-window login-success="joinGroup()" ng-click="$event.stopPropagation()">
        加入</button>
    </div>
  </div>
</div>
