.group-tile{
  font-size: 0; //Remove Whitespace Between Inline-Block Elements
  background: #FFF;
  cursor: pointer;
  border: 1px solid #eee;
  position: relative;
  width: 100%;
  margin: 10px 0;
  border-radius: 2px;
  background-color: #FFF;
  .panel-card;
  .transition(all .13s linear);
  border-radius: 2px;
  .group-logo{
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
    width:45%;
    background-color: @gray-lighter;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px 0 0 2px;
    display: inline-block;
    .transition(all .13s linear);
    &:hover{
      opacity: 0.7;
    }
  }
  .group-body{
    vertical-align: top;
    margin-top: -10px;
    width: 55%;
    margin-left: 10px;
    display: inline-block;
    hr{
      margin: 0 0 10px 0;
    }
    .group-stat{
      margin-top: 15px;
    }
    .group-info{
      font-size: 12px;
      .text-overflow();
    }
    h4{
      margin: 15px 0;
    }
  }
  .group-btn-pos{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  &:hover{
    .box-shadow(1px 1px 4px 1px rgba(0, 0, 0, 0.12));
  }
}
