.group-tile{
  font-size: 0; //Remove Whitespace Between Inline-Block Elements
  background: #FFF;
  cursor: pointer;
  border: 1px solid #eee;
  position: relative;
  width: 400px;
  margin: 10px auto;
  border-radius: 4px;
  .box-shadow(none);
  .transition(all .13s linear);
  .group-logo{
    height: 183px;
    width:45%;
    background-color: @gray-lighter;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px 0 0 4px;
    display: inline-block;
  }
  .group-body{
    vertical-align: top;
    width: 55%;
    padding: 0 5%;
    display: inline-block;
    .group-stat{
      margin-top: 15px;
    }
    .group-info{
      font-size: 12px;
      height: 40px;
      .text-overflow();
    }
    h4{
      margin: 15px 0;
    }
    hr{
      margin: 15px 0;
    }
  }
  .group-join{
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .btn-join{
    color: @base-color;
    border-color: @base-color;
    width: 74px;
    line-height: 13px;
    &:hover, :focus{
      color: white;
      background-color: @base-color;
    }
  }
  .btn-joined{
    color: white;
    border-color: @base-color;
    width: 74px;
    line-height: 13px;
    background-color: @base-color;
    &:hover, :focus{
      color: @base-color;
      background-color: white;
    }
  }
  &:hover{
    .box-shadow(0 0 4px 2px rgba(red(@base-color),green(@base-color),blue(@base-color),0.5));
  }
}
