<div class="panel panel-card recommend-users clearfix">
  <div class="col-md-12 clearfix">
    <h4>
      达人榜
      <a href="" ng-disable="RecommendUsers.loading" class="pull-right swap" ng-click="RecommendUsers.change()">换一批</a>
    </h4>
    <div ng-repeat="user in RecommendUsers.suggests" class="recommend-user">
      <div class="avatar-sm pull-left" ng-src="{{user.avatar|trusted:'url'}}"></div>
      <h5>
        <a href="" ui-sref="userDetail({userId:user._id})" class="user-title">
          {{user.name}}
          <br>
          <span>{{user.info}}</span>
        </a>
      </h5>
      <a href="" class="btn btn-default btn-xs pull-right"><i class="fa fa-plus"></i></a>
    </div>
  </div>
</div>
