<div>
  <div class="container">
    <div class="list-group col-md-12">
      <div class="text-center"
           ng-class="{'ppt':!videoActive}">
        <span class="btn-group lecture-nav-tabs">
          <a ng-click="setQuestionType('quizzes')"
             ng-class="{'selected':quizzesActive}"
             class="btn btn-default"
             du-smooth-scroll
             offset="60"
             href="#lecture-question">
            <i class="fa fa-clock-o"></i>
            随堂练习
          </a>
          <a ng-click="setQuestionType('homeworks')"
             ng-class="{'selected':!quizzesActive}"
             class="btn btn-default"
             du-smooth-scroll
             offset="60"
             href="#lecture-question">
            <i class="fa fa-file-o"></i>
            课后作业
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="list-group lecture-question-list-header">
    <div class="list-group-item heading">
      <div class="container">
        <div class="col-md-12">
          <label>共{{getQuestions().length}}个习题</label>
          <span class="btn-group pull-right">
            <a class="btn btn-link"
               ng-click="addNewQuestion()">
              加新习题
            </a>
            <a class="btn btn-link"
               ng-click="addLibraryQuestion()">
              题库添加
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="list-group-item desc">
      <div class="container">
        <div class="col-md-12">
          <label>
            <input type="checkbox"
                   ng-model="selectedAll"
                   ng-change="toggleSelectAll(selectedAll)"
                   class="bud checkbox-default pull-left">
            <small class="desc-span">全部</small>
          </label>
          <a ng-if="getSelectedNum()>0 || deleting"
             class="btn btn-danger pull-right"
             ng-click="removeQuestion()">
            <span ng-if="!deleting">删除所选 ({{getSelectedNum()}})</span>
            <span ng-if="deleting"><i class="fa fa-spinner fa-spin"></i> 删除中</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="lecture-question-list-body">
    <div class="container">
      <div class="col-md-12">
        <teacher-question-item ng-repeat="question in getQuestions()"
                               index="{{$index+1}}"
                               question="question"
                               keypoints="keyPoints"
                               remove-callback="removeQuestion($question)">
        </teacher-question-item>
      </div>
    </div>
  </div>
</div>
