<div>
  <div class="list-group-item keypoint-heading">
    知识点
    <a class="btn btn-danger keypoint-add-btn pull-right"
       ng-click="addKeyPoint()">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
  </div>
  <div class="list-group-item keypoint-item"
       ng-repeat="keyPoint in lecture.keyPoints">
    <input type="number"
           ng-model="keyPoint.timestamp"
           class="keypoint-input"
           ng-blur="saveKeyPoints()"/>
    <ui-select ng-model="keyPoint.kp"
               on-select="setKeyPointKp(keyPoint, $item, $select.search)"
               class="keypoint-select">
      <ui-select-match placeholder="请输入要添加的知识点，然后按回车">
        <span>{{$select.selected.name}}</span>
      </ui-select-match>
      <ui-select-choices repeat="keyPoint in keyPoints | filter:{categoryId:categoryId} | filter:$select.search">
        <span ng-bind-html="keyPoint.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
    <a ng-click="removeKeyPoint(keyPoint)" class="close">&times;</a>
  </div>
</div>
