<form class="form-horizontal"
      name="form"
      role="form">
  <div class="modal-header">
    <h3 class="modal-title">创建习题</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="question-title">标题：</label>
      </div>
      <div class="col-sm-10">
        <input class="form-control"
               id="question-title"
               type="text"
               focus-me="titleInputFocus"
               ng-init="titleInputFocus=true"
               ng-model="question.content.title"
               placeholder="习题标题"
               required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="question-solution">注解：</label>
      </div>
      <div class="col-sm-10">
        <textarea class="form-control"
                  id="question-solution"
                  ng-model="question.solution"
                  rows="2"
                  placeholder="答案注解"
                  required>
          </textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>选项：</label>
      </div>
      <div class="col-sm-10">
        <div ng-repeat="option in question.content.body"
             class="input-group">
          <span class="input-group-addon">{{$index | indexToABC}}</span>
          <input class="form-control"
                 type="text"
                 ng-model="option.desc"
                 placeholder="选项内容"
                 focus-me="optionInputFocus"
                 ng-init="optionInputFocus=isAddOption"
                 required/>
          <span class="input-group-addon">
            <input type="checkbox"
                   ng-required="!validateOptions()"
                   ng-model="option.correct"/>
          </span>
          <a class="input-group-addon"
             ng-click="removeOption($index)">
            <span class="glyphicon glyphicon-trash"/>
          </a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button"
                class="btn btn-default"
                ng-click="addOption();isAddOption=true">
          添加选项
        </button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>知识点：</label>
      </div>
      <div class="col-sm-10">
        <div class="input-group">
          <ui-select ng-model="selectedKeyPoint"
                     on-select="addkeyPoint($item)">
            <ui-select-match placeholder="查找并且添加知识点">
              <span class="text-muted">查找并且添加知识点</span>
            </ui-select-match>
            <ui-select-choices repeat="keyPoint in keyPoints | filter:{categoryId:categoryId} | filter:$select.search">
              <span ng-bind-html="keyPoint.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
        </div>
        <div class="row-fluid">
          <span ng-repeat="keyPoint in selectedKeyPoints">
            <div class="label label-primary"
                 style="font-size: 1em; line-height:2em; margin-right:.2em">
              {{keyPoint.name}}
              <a ng-click="removekeyPoint($index)" >
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="save(question, form)">完成</button>
    <button type="button" class="btn btn-warning" ng-click="close()">取消</button>
  </div>
</form>
