<div class="list-group col-md-12">
  <div class="btn-group pull-right">
    <button class="btn-link"
            ng-click="addNewQuestion()">
      添加新习题
    </button>
    <button class="btn-link"
            ng-click="addLibraryQuestion()">
      从题库中添加
    </button>
  </div>
  <tabset class="bud">
    <tab heading="随堂练习" select="setQuestionType('quizzes')" active="tabActive.quizzes">
    </tab>
    <tab heading="课后作业" select="setQuestionType('homeworks')" active="tabActive.homeworks">
    </tab>
  </tabset>
  <div class="list-group">
    <div class="list-group-item question-heading">
      <label>{{getQuestions().length}}个习题</label>
      <a ng-if="getSelectedNum()>0 || deleting"
         class="btn btn-danger pull-right"
         ng-click="removeQuestion()">
        <span ng-if="!deleting">删除所选 ({{getSelectedNum()}})</span>
        <span ng-if="deleting"><i class="fa fa-spinner fa-spin"></i> 删除中</span>
      </a>
    </div>
    <div class="list-group-item question-desc">
      <input type="checkbox"
             ng-model="selectedAll"
             ng-change="toggleSelectAll(selectedAll)"
             class="bud checkbox-default pull-left">
      <span>编号</span><span>标题</span>
    </div>
    <div ng-repeat="question in getQuestions()">
      <div class="question-title list-group-item"
           ng-class="{'expended':question.$expended==true}">
        <input type="checkbox"
               class="bud checkbox-default title-select"
               ng-model="question.$selected">
        <label class="title-info"
               ng-click="question.$expended=!question.$expended">
          <span class="index">{{$index+1}}</span>{{question.content.title}}
        </label>
        <a class="close pull-right" ng-click="removeQuestion(question)">&times;</a>
      </div>
      <ul class="nav nav-pills nav-stacked list-group-item question-content"
          role="tablist"
          ng-if="question.$expended">
        <li ng-repeat="option in question.content.body"
            class="question-option"
            role="presentation">
          <label class="text-muted" ng-class="{'label-correct':option.correct}">
            <input type="checkbox"
                   class="bud checkbox-primary"
                   ng-disabled="true"
                   ng-model="option.correct">
            <span class="index">{{$index | indexToABC}}. </span>
            {{option.desc}}
          </label>
        </li>
        <li role="presentation">
          <div class="media alert alert-warning question-answer">
            <label class="media-object pull-left">
              {{getCorrectInfo(question)}}
            </label>
            <div class="media-body">
              <b>注解：</b>{{question.solution}}
              <div ng-if="question.keyPoints.length>0">
                <b>知识点：</b><span ng-repeat="id in question.keyPoints">{{getKeyPoint(id).name}} </span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
