<div class="list-group col-md-12">
  <div class="btn-group pull-right">
    <button class="btn-link"
            ng-click="addNewQuestion()">
      添加新习题
    </button>
    <button class="btn-link"
            ng-click="addLibraryQuestion()">
      从题库中添加
    </button>
  </div>
  <tabset class="bud">
    <tab heading="随堂练习" select="setQuestionType('quizzes')">
    </tab>
    <tab heading="课后作业" select="setQuestionType('homeworks')">
    </tab>
  </tabset>
  <div style="padding-top: 5px"></div>
  <div class="list-group">
    <div href
         class="list-group-item"
         ng-click="question.$expended=!question.$expended"
         ng-repeat="question in getQuestions()">
      <span class="text-muted">{{$index+1}}</span> {{question.content.title}} {{expendedIndex}}
      <i class="glyphicon glyphicon-remove pull-right"
         ng-click="removeQuestion($index)">
      </i>
      <ul class="nav nav-pills nav-stacked" role="tablist"
          ng-if="question.$expended">
        <li ng-repeat="option in question.content.body"
            role="presentation">
          <a>
            <span>{{$index | indexToABC}}. </span>
            {{option.desc}}
            <span ng-class="{'pull-right glyphicon glyphicon-ok':option.correct}"></span>
          </a>
        </li>
        <li role="presentation">
          <div class="alert alert-warning">
            <b>注解：</b>{{question.solution}}
            <div ng-if="question.keyPoints.length>0">
              <b>知识点：</b><span ng-repeat="id in question.keyPoints">{{getKeyPoint(id).name}} </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
