.modal-body .pagination {
  padding: 0;
  margin: 0
}
.new-question-form {
  padding: 30px 30px 10px 30px;
  .new-option-btn {
    margin-top:5px;
    font-size:.9em;
    border-radius: 3px;
  }
}
.teacher {
  .lecture-form {
    .lecture-img-btn {
      padding: 3px 8px 3px 8px;
      position: absolute;
      left: calc(~'50% - 46px');
      top: 60%;
    }
    #lecture-name {
      padding: 7px 1px;
      display: block;
    }
    #lecture-info {
      padding: 7px 1px;
      display: block;
      min-height: 114px;
    }
    .edit-lecture-btn {
      color: #fff;
      padding: 7px;
      border-radius: 5px;
      background: #aaa;
      border-color: #aaa;
    }
    .edit-lecture-btn:hover,
    .edit-lecture-btn:focus,
    .edit-lecture-btn:active,
    .edit-lecture-btn.active {
      color: #fff;
      background-color: @base-color;
      border-color: @base-color;
    }
  }
  .title-hr {
    width: 25em;
    border: 2px solid @base-color;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .info-hr {
    border-top: 3px solid #666666;
    border-bottom: 1px solid #aaaaaa;
    height: 3px;
  }
  .info-section {
    padding-top: 20px;
  }
  .media-section {
    padding-top: 0px;
    margin-top: 20px;
    padding-bottom: 20px;
    background: #EBEBEB;
  }
  .question-section {
    padding-top: 0px;
    margin-top: 20px;
  }
  .lecture-slides-list {
    -webkit-user-select: none;
    -user-select: none;
    -moz-user-select: none;
    position:relative;
    max-height: 450px;
    overflow: auto;
    margin: 0px;
    .list-group-item {
      border-left: none;
    }
  }
  .lecture-video {
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin: 0px;
    background: #ffffff;
    &.lecture-video-empty {
      border: 2px dashed #ccc;
      height: 360px;
      text-align: center;
      .empty-video-desc {
        margin-top: 100px;
        font-size: 1.3em;
        text-align: center;
      }
      .lecture-video-btn {
        margin-top: 70px;
        padding: 3px 8px 3px 8px;
      }
    }
    .video-body {
      margin: 0px;
      padding: 0px;
    }
    .btn-group {
      background: #5abda6;
      border: 1px solid #5abda6;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      width: 100%;
      padding: 0px;
      margin: 0px;
      height: 36px;
      .info {
        padding-top: 5px;
        font-size: 1.2em;
        color: #ffffff;
        text-indent: 10px;
        font-weight: normal;
        width: calc(~'100% - 150px');
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .lecture-ppt {
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin: 0px;
    height: 510px;
    background: #ffffff;
    &.lecture-ppt-empty {
      border: 2px dashed #ccc;
      height: 360px;
      text-align: center;
      .empty-ppt-desc {
        margin-top: 100px;
        font-size: 1.3em;
        text-align: center;
      }
      .lecture-ppt-btn {
        margin-top: 70px;
        padding: 3px 8px 3px 8px;
      }
    }
    .btn-group {
      background: #5abda6;
      border: 1px solid #5abda6;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      width: 100%;
      padding: 0px;
      margin: 0px;
      height: 36px;
      .info {
        padding-top: 5px;
        font-size: 1.2em;
        color: #ffffff;
        text-indent: 10px;
        font-weight: normal;
        width: calc(~'100% - 150px');
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .keypoint-heading {
    border-top-right-radius: 5px;
    background: #000000;
    color: #ffffff;
    border-left: none;
    border-color: #000000;
    padding: 3px 12px;
  }
  .keypoint-item {
    border-left: none;
    padding: 1px 7px 1px 0px;
  }
  .keypoint-label {
    color: #666666;
    font-size: .95em;
    padding-left: 5px;
  }
  .keypoint-input {
    border-radius: 4px;
    width: 80px;
    padding: 0px 3px;
    border: 1px solid #dddddd;
  }
  .keypoint-add-btn {
    padding: 3px 6px;
    margin: -4px -13px;
    border-top-right-radius: 4px;
  }
  .keypoint-time-btn {
    padding: 2px 8px;
    margin: -2px 0px;
    background: #ffffff;
    border-color: #dddddd;
    color: #555555;
  }
  .keypoint-time-btn:hover {
    background: @base-color;
    border-color: @base-color;
    color: #ffffff;
  }
  .keypoint-select {
    width: calc(~'100% - 150px');
    display: inline-block;
    .ui-select-match,
    .ui-select-search {
      padding: 0px 5px;
      margin: 0px;
      height: 22px;
      outline: 0;
      border: none;
      color: #777777;
      font-size: .92em;
    }
    .ui-select-choices-row>a {
      font-size: .9em;
      color: #888888;
    }
    .ui-select-choices-row.active>a {
      background-color: @base-color;
      color: #ffffff;
    }
  }
  .question-heading {
    background: @base-color;
    border-top-left-radius: 8px;
    border: 1px solid @base-color;
    color: #ffffff;
    margin-top: 10px;
    padding-right: 1px;
    padding-top: 0px;
    height: 45px;
    label {
      padding-top: 10px;
      font-size: 1.1em;
      font-weight: normal;
    }
    .btn {
      margin-top: 6px;
      margin-right: 6px;
      border: none;
      border-radius: 5px;
      padding: 5px 9px 5px 9px;
    }
  }
  .question-desc {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #636363;
    background: #DAEEE9;
    border-top: none;
    border-bottom: 2px solid #dddddd;
    font-size: 1em;
    span {
      padding-left: 20px;
    }
  }
  .question-title {
    padding: 0px 0px 0px 15px;
    margin: 0px;
    border-top: none;
    height: 60px;
    .title-info {
      padding-top: 20px;
      padding-left: 27px;
      height: 60px;
      margin: 0px;
      width: calc(~'100% - 90px');
    }
    .index {
      padding-right: 28px;
    }
    .close {
      display:none;
    }
    &.expended {
      color: #ffffff;
      background: @base-color;
      border-bottom: none;
    }
  }
  .question-title:hover {
    background: #f8f8f8;
    &.expended {
      color: #ffffff;
      border-bottom: none;
      background: @base-color;
    }
    .close {
      display:block;
      margin-top: 20px;
      margin-right: 10px;
    }
  }
  .question-content {
    .question-option {
      padding-left: 25px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #9D9D9D
    }
    .index {
      padding-left: 8px;
      padding-right: 8px;

    }
    .question-answer {
      margin: 20px 20px 8px 20px;
      padding: 10px 10px 5px 10px;
      .media-object {
        color: #ffffff;
        padding: 5px 15px 5px 15px;
        font-size: 2em;
        background: #F6B855;
      }
    }
  }
}
