<div class="list-group col-md-8 col-md-offset-2">
  <div class="input-group list-group-item-heading">
    <span class="input-group-addon">知识点</span>
    <input type="text"
           typeahead-on-select="addkeyPoint($item)"
           typeahead-input-formatter="keyPointFormatter($model)"
           ng-model="selectedKeyPoint"
           placeholder="查找并且添加知识点"
           typeahead="keyPoint as keyPoint.name for keyPoint in keyPoints | filter:{name:$viewValue} | limitTo:8"
           class="form-control">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
  </div>
  <div class="list-group-item" ng-repeat="keyPoint in lecture.keyPoints">
    <a class="btn-link" ng-click="seekPlayerTime(keyPoint.timestamp)">
      <span class="glyphicon glyphicon-ok"></span>
      {{keyPoint.kp.name}}
    </a>
    <div class="pull-right">
      <a ng-click="removekeyPoint($index)" >
        <span class="glyphicon glyphicon-remove"></span>
      </a>
      <a ng-click="updatekeyPoint(keyPoint)" >
        <span class="glyphicon glyphicon-arrow-up"></span>
      </a>
      <input type="number"
             ng-model="keyPoint.timestamp"
             ng-blur="savekeyPoints()"/>
    </div>
  </div>
</div>
