<div class="teacher-lecture">
  <div class="sub-nav">
    <div class="container">
      <ul class="pull-left" ng-if="!$state.includes('teacher.lecture.questionLibrary')">
        <li>
          <a class="btn btn-primary btn-md rounded" ui-sref="teacher.course({courseId:$state.params.courseId})">
            <i class="fa fa-arrow-left"></i>
          </a>
        </li>
        <li>
          <h3>{{course.name}}<small>/{{lecture.name}}</small></h3>
        </li>
      </ul>
      <ul class="pull-left" ng-if="$state.includes('teacher.lecture.questionLibrary')">
        <li>
          <a class="btn btn-primary btn-md rounded"
             ui-sref="teacher.lecture({courseId:$state.params.courseId, lectureId:$state.params.lectureId})">
            <i class="fa fa-arrow-left"></i>
          </a>
        </li>
        <li>
          <h3>{{lecture.name}}<small>/从题库中添加</small></h3>
        </li>
      </ul>
    </div>
  </div>
  <div ui-view class="teacher"></div>
  <section class="info-section"
           id="lecture-info"
           ng-hide="$state.includes('teacher.lecture.questionLibrary')">
    <div class="container">
      <h3 class="text-center">
        <a ui-sref="teacher.course({courseId:course._id})">{{course.name}}</a> / {{lecture.name}}
      </h3>
      <hr class="title-hr"/>
      <h4 class="text-center">基本信息</h4>
      <hr class="info-hr"/>
      <div class="row lecture-form">
        <div class="col-md-3 col-sm-12 text-center">
          <img src-key="lecture.thumbnail"
               ng-hide="editingInfo"
               suffix="?imageView2/2/w/210/h/210"
               holder-src="holder.js/210x210/:#9c9c99:#bbb"/>
          <span ng-if="editingInfo">
            <img src-key="editingInfo.thumbnail"
                 suffix="?imageView2/2/w/210/h/210"
                 holder-src="holder.js/210x210/:#9c9c99:#bbb"/>
            <uploader limit="2*1024*1024"
                      on-complete="onThumbUploaded($data)"
                      class="lecture-img-btn btn-danger"
                      accept="image/*">
              <span class="glyphicon glyphicon-picture"></span>
              上传封面
            </uploader>
          </span>
        </div>
        <form class="col-md-9 col-sm-12 form-horizontal" name="form" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">课时名称</label>
            <div class="col-sm-10">
              <span id="lecture-name" ng-hide="editingInfo">{{lecture.name}}</span>
              <div class="btn-group pull-right" dropdown ng-if="!editingInfo">
                <button type="button"
                        tooltip="请选择开始上课的班级"
                        tooltip-placement="top"
                        id="start-teaching-btn"
                        class="btn btn-primary dropdown-toggle">
                  开始上课 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="classe in course.classes">
                    <a ui-sref="teacher.teaching({courseId:course._id, lectureId:lecture._id, classeId:classe._id})">{{classe.name}}</a>
                  </li>
                </ul>
              </div>
              <span ng-if="editingInfo">
                <input class="form-control"
                       name="name"
                       type="text"
                       maxlength="40"
                       focus-me="lectureNameFocus"
                       ng-init="lectureNameFocus=true"
                       ng-model="editingInfo.name"
                       placeholder="课时名称"
                       required>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">课时信息</label>
            <div class="col-sm-10">
              <span id="lecture-info" ng-hide="editingInfo">{{lecture.info}}</span>
              <span ng-if="editingInfo">
                <textarea class="form-control"
                          name="info"
                          rows="5"
                          ng-model="editingInfo.info"
                          placeholder="课时信息">
                </textarea>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <span ng-if="!editingInfo" class="pull-right">
                <button type="button"
                        class="btn btn-default glyphicon glyphicon-pencil edit-lecture-btn"
                        ng-click="switchEdit()">
                </button>
              </span>
              <span ng-if="editingInfo" class="pull-right">
                <button type="submit"
                        ng-disabled="deleting && saving"
                        class="btn btn-primary"
                        ng-click="saveLecture(form)">
                  <span ng-if="!saving">保存</span>
                  <span ng-if="saving">
                    <i class="fa fa-spinner fa-spin"></i>
                    保存中
                  </span>
                </button>
                <button type="button"
                        ng-disabled="deleting && saving"
                        class="btn btn-warning"
                        ng-click="deleteLecture()">
                  <span ng-if="!saving">删除</span>
                  <span ng-if="saving">
                    <i class="fa fa-spinner fa-spin"></i>
                    删除中
                  </span>
                </button>
                <button type="button"
                        ng-if="lecture.__v > 0"
                        class="btn btn-default"
                        ng-click="switchEdit(false)">
                  取消
                </button>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="lecture-nav-tabs"
           ng-class="{'ppt':!videoActive}">
        <a ng-click="videoActive = true"
           ng-class="{'selected':videoActive}"
           class="btn btn-primary">
          <i class="fa fa-file-video-o"></i>
          视频
        </a>
        <a ng-click="videoActive = false"
           ng-class="{'selected':!videoActive}"
           class="btn btn-primary">
          <i class="fa fa-file-powerpoint-o"></i>
          PPT
        </a>
      </div>
    </div>
  </section>
  <section class="media-section"
           id="lecture-media"
           ng-hide="$state.includes('teacher.lecture.questionLibrary')">
    <div class="container">
      <br/>
      <h4 class="text-center">
        <label ng-if="videoActive" class="video-title">视频课件</label>
        <label ng-if="!videoActive" class="ppt-title">PPT课件</label>
      </h4>
      <hr class="info-hr"/>
      <br/>
      <div class="row" ng-show="videoActive">
        <div class="col-md-12 lecture-video lecture-video-empty"
             ng-if="!lecture.media">
          <label class="empty-video-desc">目前没有视频，请添加</label>
          <div>
            <uploader limit="2000*1024*1024"
                      on-complete="onMediaUploaded($data)"
                      on-start="onMediaUploadStart()"
                      on-progress="onMediaUploading($speed, $percentage, $event)"
                      on-convert="onMediaConvert()"
                      class="lecture-video-btn btn-danger"
                      accept="video/*">
              <i class="fa fa-file-video-o"></i>
              导入视频
            </uploader>
          </div>
        </div>
        <div class="col-md-12 lecture-video"
             ng-if="lecture.media">
          <div class="col-md-6 video-body">
            <videogular vg-player-ready="onPlayerReady" class="bud">
              <video class="videoPlayer" src-key="lecture.media" source-attr="video">
              </video>
              <vg-poster-image></vg-poster-image>
              <vg-buffering></vg-buffering>
              <vg-overlay-play></vg-overlay-play>
              <vg-controls style="height: 50px;">
                <vg-play-pause-button></vg-play-pause-button>
                <vg-timeDisplay>{{ currentTime }}</vg-timeDisplay>
                <vg-scrubBar>
                  <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
                </vg-scrubBar>
                <vg-timeDisplay>{{ totalTime }}</vg-timeDisplay>
                <vg-volume>
                  <vg-mutebutton></vg-mutebutton>
                  <vg-volumebar></vg-volumebar>
                </vg-volume>
                <vg-fullscreenButton></vg-fullscreenButton>
              </vg-controls>
            </videogular>
            <div class="btn-group">
              <label class="info" tooltip="{{lecture.name}} 视频">{{lecture.name}} 视频</label>
              <span class="pull-right">
                <uploader limit="100*1024*1024"
                          on-complete="onMediaUploaded($data)"
                          on-start="onMediaUploadStart()"
                          on-progress="onMediaUploading($speed, $percentage, $event)"
                          on-convert="onMediaConvert()"
                          class="btn btn-primary"
                          accept="video/*">
                  <i class="glyphicon glyphicon-refresh"></i>
                  替换
                </uploader>
                <button type="button" class="btn btn-primary"
                        ng-click="removeMedia()">
                  <i class="glyphicon glyphicon-remove"></i>
                  删除
                </button>
              </span>
            </div>
          </div>
          <div edit-lecture-key-points
               lecture="lecture"
               class="col-md-6 video-body"
               key-points="keyPoints"
               category-id="course.categoryId"
               media-api="mediaApi">
          </div>
        </div>
      </div>
      <div class="row" ng-show="!videoActive">
        <div class="col-md-12 lecture-ppt lecture-ppt-empty"
             ng-if="!(lecture.slides.length > 0)">
          <label class="empty-ppt-desc">
            <span ng-if="!(lecture.slides.length > 0) && pptUploadState==null">目前没有PPT，请添加</span>
            <span ng-if="pptUploadState=='uploading'">正在上传PPT...</span>
            <span ng-if="pptUploadState=='converting'">PPT已上传，正在转换...</span>
            <progressbar class="progress-striped active"
                         value="pptUploadProgress"
                         ng-if="pptUploadState!=null"
                         type="danger">
              {{pptUploadProgress}}%
            </progressbar>
            <span class="ppt-name" ng-if="pptUploadState!=null">{{lecture.name}} PPT
              <small class="pull-right text-muted" ng-if="pptUploadState!=null">{{pptUploadInfo}}</small>
            </span>
          </label>
          <span ng-show="pptUploadState==null">
            <br/>
            <uploader limit="50*1024*1024"
                      on-complete="onPPTUploaded($data)"
                      on-start="onPPTUploadStart()"
                      on-progress="onPPTUploading($speed, $percentage, $event)"
                      on-convert="onPPTConverting()"
                      class="lecture-ppt-btn btn-danger"
                      accept=".ppt, .pptx">
              <i class="fa fa-file-powerpoint-o"></i>
              导入PPT
            </uploader>
          </span>
        </div>
        <div class="col-md-12 lecture-ppt"
             ng-if="lecture.slides.length > 0">
          <div class="col-md-10 lecture-ppt-content">
            <div ppt-viewer
                 slides="lecture.slides"
                 current-index="lecture.slides.$activeIndex"
                 index-visible="true"
                 style="width:100%"></div>
            <div class="btn-group">
              <label class="info" tooltip="{{lecture.name}} PPT">{{lecture.name}} PPT</label>
              <span class="pull-right">
                <uploader limit="50*1024*1024"
                          on-complete="onPPTUploaded($data)"
                          on-start="onPPTUploadStart()"
                          on-progress="onPPTUploading($speed, $percentage, $event)"
                          on-convert="onPPTConverting()"
                          class="btn btn-primary"
                          accept=".ppt, .pptx">
                  <i class="glyphicon glyphicon-refresh"></i>
                  替换
                </uploader>
                <button type="button" class="btn btn-primary"
                        ng-disabled="pptUploadState=='uploading' || pptUploadState=='converting'"
                        ng-click="removePPT()">
                  <i class="glyphicon glyphicon-remove"></i>
                  删除
                </button>
              </span>
            </div>
          </div>
          <div class="list-group lecture-slides-list col-md-2">
            <a class="list-group-item stretch"
               ng-class="{'active':(lecture.slides.$activeIndex==$index)}"
               ng-click="lecture.slides.$activeIndex=$index"
               ng-repeat-reorder="slide in lecture.slides "
               ng-repeat-reorder-handle="div.drag-point">
              <div class="drag-point index" draggable="true"> <b>{{$index+1}}</b></div>
              <img src-key="slide.thumb"
                   suffix="?imageView2/2/w/75/h/55"
                   height="55"
                   width="75">
              <button ng-click="removeSlide($index)" class="close">&times;</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="question-section"
           id="lecture-question"
           ng-hide="$state.includes('teacher.lecture.questionLibrary')">
    <div class="container">
      <h4 class="text-center">随堂练习和课后作业</h4>
      <hr class="info-hr"/>
      <div edit-lecture-questions
           lecture="lecture"
           key-points="keyPoints"
           category-id="course.categoryId"></div>
    </div>
  </section>
</div>
