<div>
  <div class="list-group-item"
       ng-repeat="keyPoint in lecture.keyPoints">
    <a ng-click="updatekeyPoint(keyPoint)" >
      <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
    <input type="number"
           ng-model="keyPoint.timestamp"
           style="width:50px"
           ng-blur="savekeyPoints()"/>
    <a class="btn-link" ng-click="seekPlayerTime(keyPoint.timestamp)">
      {{keyPoint.kp.name}}
    </a>
    <div class="pull-right">
      <a ng-click="removekeyPoint($index)" >
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
  </div>
  <div class="list-group-item">
    <ui-select ng-model="selectedKeyPoint"
               on-select="addkeyPoint($item)">
      <ui-select-match placeholder="查找并且添加知识点">
        <span class="text-muted">查找并且添加知识点</span>
      </ui-select-match>
      <ui-select-choices repeat="keyPoint in keyPoints | filter:{categoryId:categoryId} | filter:$select.search">
        <span ng-bind-html="keyPoint.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
