<div class="container">
  <a ui-sref="teacher.course({id:$state.params.courseId})">
    <i class="fa fa-arrow-circle-o-left"></i>
    返回
  </a>
  <form class="form" name="form">
    <img qiniu-key="lecture.thumbnail"
         alt="{{lecture.name}}"
         class="img-thumbnail">
    <div class="form-group">
      <label for="lecture-name">课时名称</label>
      <input class="form-control"
             id="lecture-name"
             name="name"
             ng-model="lecture.name"
             placeholder="课时名称"
             required>
    </div>
    <div class="form-group">
      <label for="lecture-info">课时信息</label>
      <input class="form-control"
             id="lecture-info"
             name="info"
             ng-model="lecture.info"
             placeholder="课时信息">
    </div>
    <div class="form-group">
      <label class="btn btn-default" ng-show="!isPptProcessing">
        <input type="file"
               style="display:none;"
               ng-file-select="onPPTSelect($files)"/>
        PPT
      </label>
      <label class="btn btn-default disabled" ng-show="isPptProcessing">
        <i class="fa fa-spinner fa-spin"></i>
        导入中
      </label>
    </div>
    <div class="form-group">
      <label class="btn btn-default" ng-show="!isPptProcessing">
        <input type="file" style="display:none;"
               ng-file-select="onImagesSelect($files)"
               multiple />
        图片
      </label>
      <label class="btn btn-default disabled" ng-show="isPptProcessing">
        <i class="fa fa-spinner fa-spin"></i>
        导入中
      </label>
    </div>
    <img ng-repeat="key in slides" qiniu-key="key">
    <button type="submit"
            class="btn btn-default"
            ng-click="saveLecture(lecture, form)">
      保存
    </button>
  </form>
  <hr/>
</div>
