<div class="container">
  <a href="/t/courses/{{$stateParams.courseId}}"><i class="fa fa-arrow-circle-o-left"></i>返回</a>
  <form class="form" name="form">
    <img qiniu-key="lecture.thumbnail" alt="{{lecture.name}}" class="img-thumbnail">
    <div class="form-group">
      <label for="lecture-name">课时名称</label>
      <input class="form-control" id="lecture-name" name="name" ng-model="lecture.name" placeholder="课时名称" required>
    </div>
    <div class="form-group">
      <label for="lecture-info">课时信息</label>
      <input class="form-control" id="lecture-info" name="info" ng-model="lecture.info" placeholder="课时信息">
    </div>
    <div class="form-group">
      <label class="btn btn-default" ng-show="!isPptProcessing">
        <input type="file" style="display:none;" ng-file-select="onFileSelect($files)"/>
        PPT
      </label>
      <label class="btn btn-default disabled" ng-show="isPptProcessing">
        <i class="fa fa-spinner fa-spin"></i>导入中
      </label>
    </div>
    <button type="submit" class="btn btn-default" ng-click="saveLecture(lecture,form)">Submit</button>

  </form>
  <hr/>
  <label>知识点</label>
  <div class="form-group">
    <label for="keypoints">新增知识点</label>
    <select ui-select2 ng-model="keypoint" data-placeholder="选择一个知识点" name="keypoints" id="keypoints">
      <option value=""></option>
      <option ng-repeat="option in keypoints" value="{{option}}">{{option.name}}</option>
    </select>
    or <input ng-model="newKeypoint"/>
    <button class="btn btn-default" ng-click="createKeypoint(newKeypoint)">添加</button>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="keypoint in keypoints">
      <strong>{{keypoint.name}}</strong><br>
      <span class="text-muted">{{keypoint._id}}</span>
      <div class="pull-right">
        <a ng-click="delete(keypoint)" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
      </div>
    </li>
  </ul>
</div>
