<div class="teacher-manager-detail">

  <div edit-teacher-tile
       info-editable="true"
       can-delete="true"
       on-update-user="updateTeacher()"
       on-delete-user="deleteTeacher()"
       user="teacher">
  </div>

  <div class="teacher-courses-detail">
    <strong>所授课程</strong>
    <div>
      <div class="btn-group">
        <label class="btn btn-default"
               btn-radio="course._id"
               ng-model="selectedCourse._id"
               ng-repeat="course in courses">
          {{course.name}}
       </label>
      </div>
      <div class="course-detail stats-view">

        <div class="overall clearfix">
          <div class="col-md-12 pies clearfix">
            <div class="col-md-4">
              <highchart config="quizStats" class="bud-chart"></highchart>
              <div class="percentage quiz-percentage">
                {{quizStats.series[0].data[0].y||0}}<sup>%</sup>
              </div>
            </div>
            <div class="col-md-4">
              <highchart config="homeworkStats" class="bud-chart"></highchart>
              <div class="percentage homework-percentage">
                {{homeworkStats.series[0].data[0].y||0}}<sup>%</sup>
              </div>
            </div>
            <div class="col-md-4">
              <highchart config="keypointStats" class="bud-chart"></highchart>
              <div class="percentage keypoint-percentage">
                {{keypointStats.series[0].data[0].y||0}}<sup>%</sup>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix detail-container">
          <div class="detail">
            <tabset class="trend">
              <tab heading="随堂问题">
                <highchart config="quizTrendChart" class="bud-chart"></highchart>
              </tab>
              <tab heading="课后习题"
                   select="triggerResize()">
                <highchart config="homeworkTrendChart" class="bud-chart"></highchart>
              </tab>
            </tabset>

            <div class="keypoints">
              <highchart config="keypointBarChart" class="bud-chart"></highchart>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
