node_modules
public
.tmp
.sass-cache
client/bower_components
dist
server/**/*.map
client/index.html
.idea
/server/test.coffee
/server/test.js
/server/api/**/*.js
/server/config/seed*.js
/server/app.js
/server/routes.js
/server/config/environment/production.js
/server/config/environment/development.js
/server/common/Const.js
