node_modules
public
.tmp
.sass-cache
client/bower_components
dist
server/**/*.map
server/app.js.map
client/index.html
.idea
/server/test.coffee
/server/test.js
/server/api/**/*.js
/server/config/*seed*.js
/server/app.js
/server/routes.js
/server/config/environment/**/*.js
/server/config/set_sockjs.js
/server/common/**/*.js
dump.rdb
npm-debug.log
/server/test/**/*.js
