.group-list{
  padding-top: 0;
  .header-row{
    margin-bottom: 5px;
  }
  .category-logo{
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    background-color: #323232;
    height: 34px;
    width: 34px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 34px;
    padding: 5px;
    color: #FFF;
  }
  .group-search{
    margin-top: -2px;
  }
  .group-create{
    margin-right: 29px;
  }
  .pagination-row{
    .box-shadow(0 0 2px @gray-light);
    margin-top: 18px;
    background: #FFF;
    height: 30px;
    margin-bottom: 30px;
    .pagination{
      margin: 2px 0;
    }
  }
}