<section class="container group-list">
  <div class="clearfix header-row">
    <div class="category-logo">
      <i class="budon budon-course"></i>
    </div>
    <span>全部小组</span>
    <search-input keyword="viewState.keyword"
                  on-submit="reload(true)"
                  placeholder="讨论组关键字搜索"
                  class="group-search pull-right">
    </search-input>
    <button class="group-create btn btn-sm btn-primary pull-right"
            ng-click="createGroup()">
      新建小组
    </button>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="group in groups">
      <group-tile group="group" me="me"></group-tile>
    </div>
  </div>

  <div class="pagination-row text-center"
       ng-if="groups.$count > pageConf.itemsPerPage">
    <pagination
      total-items="groups.$count"
      ng-model="pageConf.currentPage"
      items-per-page="pageConf.itemsPerPage"
      class="pagination-sm bud"
      boundary-links="true"
      rotate="false"
      ng-change="reload()"
      max-size="pageConf.maxSize">
    </pagination>
  </div>

  <loading-tile data="groups"
                loading-text="加载中..."
                not-found-icon="fa fa-group"
                not-found-text="暂无小组">
  </loading-tile>

</section>
