<div class="course-editor">
  <div class="container">

    <div class="panel" ng-show="viewState.editingTitle">
      <form name="form" ng-submit="submitCourse(form, true)" novalidate>
        <div class="form-group">
          <input type="text" required placeholder="请输入课程名称。。。" ng-model="course.title" class="form-control">
        </div>
        <!-- todo: category -->
        <!-- <div class="form-group">
          <select ng-model="course.category" class="form-control" ng-options="category.name for category in categories"></select>
        </div> -->
        <button type="submit" class="btn btn-primary">下一步</button>
        <a href="" class="btn btn-default" ng-click="viewState.editingTitle = false" ng-if="course._id">取消</a>
      </form>
    </div>
    <form name="form" ng-submit="submitCourse(form, true)" novalidate>
      <div class="panel" ng-show="!viewState.editingTitle">
        <div class="panel-heading">
          <div class="assets"></div>
          <div class="tool-bar">
            <div class="pull-left tools">
              <a class="btn btn-xs btn-default tool-btn" ng-click="viewState.editingTitle=!viewState.editingTitle">修改基本信息</a>
              <a class="btn btn-xs btn-default tool-btn">步骤</a>
              <a class="btn btn-xs btn-default tool-btn" ng-click="addStep()">新增步骤</a>
              <a class="btn btn-xs btn-default tool-btn">上传</a>
              <a class="btn btn-xs btn-default tool-btn">插件</a>
            </div>
            <div class="pull-right actions">
              <a class="btn btn-xs btn-default tool-btn" ng-click="viewState.showPreview=true">预览</a>
              <button class="btn btn-xs btn-default tool-btn" type="submit">保存</button>
              <a class="btn btn-xs btn-default tool-btn">发布</a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-10 col-md-offset-1 editor" ng-repeat="step in course.steps">
            <div class="assets">
            </div>
            <input type="text" required placeholder="请输入标题。。。" class="form-control" ng-model="step.title">
            <div pen ng-model="step.content" placeholder="请输入内容">
            </div>
            <hr>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="preview-wrap" ng-show="viewState.showPreview" ng-click="viewState.showPreview=false">
    <div class="preview" >
      <h1>{{course.title}}</h1>
      <img ng-src="{{image}}" alt="" ng-repeat="image in step.images">
      <h2 ng-repeat-start="step in course.steps">
        {{step.title}}
      </h2>
      <p ng-bind-html="step.content"></p>
      <hr ng-repeat-end>
    </div>
  </div>
</div>
