<div class="container has-header">

  <!-- article content -->
  <article>
    <h3>{{article.title}}</h3>
    <small class="text-muted">
      <a class="text-info"
         ui-sref="user({userId: article.author._id})">{{article.author.name}}</a>
      - {{article.created | moment: 'fromNow'}}
    </small>
    <small class="pull-right text-muted">
      {{article.viewersNum}}次查看
    </small>
    <hr/>
    <p><div ng-bind-html="article.content"></div></p>
  </article>

  <!-- article like & share buttons -->
  <div class="article-like">
    <small class="text-muted" ng-if="article.author._id==me()._id">
      {{article.likeUsers.length}}个赞
    </small>
    <small class="text-muted" ng-if="article.author._id!=me()._id">
      <a href login-window login-success="likeClick(article)">{{article.likeUsers.length}}个赞</a>
      <span ng-if="article.likeUsers.indexOf(me()._id)>=0">已赞</span>
    </small>
    &nbsp;
  </div>

  <hr>

  <!-- article comment list -->
  <comments belong-to="{{article._id}}" type="{{const.CommentType.Article}}"></comments>

</div>
