<div class="container has-header">

  <!-- article content -->
  <article>
    <h3>{{article.title}}</h3>
    <small class="text-muted">
      <a class="text-info"
         ui-sref="user({userId: article.author._id})">{{article.author.name}}</a>
      - {{article.created | moment: 'fromNow'}}
    </small>
    <small class="pull-right text-muted">
      {{article.viewersNum}}次查看
    </small>
    <hr/>
    <p><div ng-bind-html="article.content"></div></p>
  </article>

  <!-- article like & share buttons -->
  <div class="article-like">
    <small class="text-muted" ng-if="!me._id || article.author._id==me._id">
      {{article.likeUsers.length}}个赞
    </small>
    <small class="text-muted" ng-if="me._id && article.author._id!=me._id">
      <a href ng-click="likeClick(article)">{{article.likeUsers.length}}个赞</a>
    </small>
    &nbsp;
  </div>

  <hr>

  <!-- article comment list -->
  <h4>所有评论</h4>

  <div class="article-comment text-center">

    暂无评论

  </div>


</div>
