<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>
      <p>重设数据请编辑 <code>server/config/seed.coffee, seed_data.coffee</code>. </p>
      <p ng-repeat="user in testLoginUsers">
        <button class="btn btn-default"
                tooltip="CMD+Click 自动登录 {{user.name}} 用户"
                ng-click="setLoginUser($event, form, user)">
          {{user.name}}： <code>{{user.email}}</code> / <code>{{user.password}}</code>
        </button>
      </p>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="login(form)" novalidate>
        <div class="form-group">
          <label>邮箱</label>
          <input type="text"
                 name="username"
                 focus-me="loginInputFocus"
                 ng-init="loginInputFocus=true"
                 class="form-control"
                 ng-model="user.email">
        </div>
        <div class="form-group">
          <label>密码</label>
          <input type="password"
                 name="password"
                 class="form-control"
                 ng-model="user.password">
        </div>

        <div class="form-group has-error">
          <p class="help-block"
             ng-show="form.username.$error.required && form.password.$error.required && submitted">
             请输入您的邮箱和密码。
          </p>
          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            登录
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/signup">
            注册
          </a>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>