.settings{
  .personal-info{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  .notice-view{
    min-height: 300px;
    .message{
      padding: 12px 12px;
      margin-top: 0px;
      &.unread{
        background: @gray-lighter;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}

