<div class="container settings padding-top-20 margin-top">

  <div class="row">

    <!--nav-pills-->
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked panel panel-card">
        <li>
          <user-tile class="personal-info"
                     user="me"
                     me="me"
                     type="small">
          </user-tile>
        </li>
        <li ui-sref="notices.unread" ui-sref-active="active">
          <a>未读消息</a>
        </li>
        <li ui-sref="notices.read" ui-sref-active="active">
          <a>已读消息</a>
        </li>
      </ul>
    </div>

    <!--notice list-->
    <div class="col-md-9" >
      <div class="panel panel-card setting-panel fadeIn notice-view"
           ui-view>

        <loading-tile data="messages"
                      loading-text="加载中..."
                      not-found-icon="fa fa-envelope-o"
                      not-found-text="暂无消息">
        </loading-tile>

        <ul class="media-list message-list"
            ng-if="messages.length > 0">
          <li ng-repeat="message in messages|orderBy:'raw.status'"
              class="message media broadcast"
              ng-class="{'unread':!message.raw.status}"
              ng-click="markAsRead(message)">
            <a class="pull-left">
              <div class="avatar-xs"
                   ng-src="{{message.raw.fromWhom.avatar|trusted:'url'}}"></div>
            </a>
            <a class="pull-right btn fa"
               ng-class="{'fa-check text-muted':message.raw.status,'fa-square-o':!message.raw.status}"
               ng-click="markAsRead(message, $event)"
               title="标记为{{message.raw.status?'未读':'已读'}}">
            </a>
            <div class="media-body">
              <h6 class="media-heading">
                {{message.raw.fromWhom.name}}
                <small>|&nbsp;{{message.raw.created|moment: "fromNow"}}</small>
              </h6>
              <div class="text-muted" ui-sref="{{message.link}}">{{message.title}}</div>
            </div>
          </li>
        </ul>

        <div class="row pagination-row text-center"
             ng-if="messages.$count"
             ng-show="messages.$count > pageConf.itemsPerPage">
          <pagination total-items="messages.$count"
                      ng-model="pageConf.currentPage"
                      ng-change="changePage()"
                      items-per-page="pageConf.itemsPerPage"
                      class="pagination-sm bud"
                      boundary-links="true"
                      rotate="false"
                      max-size="pageConf.maxSize"
                      previous-text="&lsaquo;"
                      next-text="&rsaquo;"
                      first-text="&laquo;"
                      last-text="&raquo;"
                      num-pages="numPages">
          </pagination>
        </div>
      </div>
    </div>
  </div>

</div>
