<div class="article-detail">
  <div class="social-share-section" fix-when-reach-top offset="70">
    <div class="container">
      <social-share image="{{article.image}}" title="{{article.title}}" summary="{{article.content|htmlToPlaintext|limitTo:120}}">
      </social-share>
    </div>
  </div>
</div>
<div class="container has-header article-detail">

  <!-- article content -->
  <div class="row">
    <div class="col-md-9 strip-padding-xs">
      <div class="panel panel-card article-panel">
        <loading-tile data="article"
                      ng-if="!article"
                      loading-text="加载中...">
        </loading-tile>
        <article ng-if="article">
          <h3 class="article-title">
            {{article.title}}
            <a class="btn-right btn link-base-color"
               ng-if="me._id == article.author._id"
               ui-sref="articleEditor({articleId:article._id})">
              编辑
            </a>
          </h3>
          <div class="article-info">
            <ul class="ul-inline">
              <li>
                <a ui-sref="user.home({userId: article.author._id})"
                   class="link-base-color">
                  {{article.author.name}}
                </a>
              </li>
              <li ng-if="article.column">
                专栏－{{article.column.name}}
              </li>
              <li ng-if="article.group">
                发布于
                <a ui-sref="groupDetail.articleList({groupId: article.group._id})">
                  {{article.group.name}}
                </a>
              </li>
              <li>
                {{article.created | moment: 'fromNow'}}
              </li>
              <span class="pull-right">
                <li>
                  <i class="iconfont icon-discuss"></i>
                  {{article.commentsNum||0}}
                </li>
                <li>
                  <i class="iconfont icon-like"></i>
                  {{article.likeUsers.length||0}}
                </li>
                <li>
                  <i class="iconfont icon-look"></i>
                  {{article.viewersNum||0}}
                </li>
              </span>
            </ul>
            <div class="tag-list">
              <a ui-sref="articleList({tags:tag})"
                 class="tag"
                 ng-repeat="tag in article.tags">
                #{{tag}}
              </a>
            </div>
          </div>
          <div class="blog" compile-html="article.content|appendLink|trusted"></div>

          <div class="article-like" ng-if="article">
            <vote-box entity="article" me="me">
            </vote-box>
          </div>

          <div class="article-footer" ng-if="article">
            <ul class="ul-inline">
              <li>
                <user-avatar-name user="article.author"></user-avatar-name>
              </li>
              <li ng-if="article.column">
                专栏－{{article.column.name}}
              </li>
              <li ng-if="article.group">
                发布于
                <a ui-sref="groupDetail.articleList({groupId: article.group._id})">
                  {{article.group.name}}
                </a>
              </li>
              <li>
                {{article.created | moment: 'calendar'}}
              </li>
              <span class="pull-right">
                <li>
                  <i class="iconfont icon-discuss"></i>
                  {{article.commentsNum||0}}
                </li>
                <li>
                  <i class="iconfont icon-like"></i>
                  {{article.likeUsers.length||0}}
                </li>
                <li>
                  <i class="iconfont icon-look"></i>
                  {{article.viewersNum||0}}
                </li>
              </span>
            </ul>
            <div class="tag-list">
              <a ui-sref="articleList({tags:tag})"
                 class="tag"
                 ng-repeat="tag in article.tags">
                #{{tag}}
              </a>
            </div>
          </div>
        </article>

      </div>

      <!-- article comments -->
      <div class="panel panel-card comments-panel"
           ng-if="article">
        <comments belong-to="article._id"
                  class="comments"
                  type="{{const.CommentType.Article}}"
                  me="me">
        </comments>
      </div>
    </div>

    <div class="col-md-3 strip-padding-xs">
      <group-tile-lg ng-if="group"
                     group="group"
                     me="me">
      </group-tile-lg>
      <user-tile ng-if="!article.group"
                 type="normal-articles"
                 user="article.author"
                 me="me">
      </user-tile>
    </div>
  </div>

  <a href="" class="weixin-share-btn" ng-if="showWechatShareBtn()" ng-click="wechatShare()">微信分享</a>

</div>
