.article-detail {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  .comments-panel{
    margin-top: 40px;
    padding: 20px 55px;
    @media screen and (max-width: @screen-lg-min) {
      padding: 20px 35px;
    }
  }

  article {
    padding-left: 15px;
    padding-right: 15px;
    .article-content {
      padding-left: 45px;
      padding-right: 45px;
      @media screen and (max-width: @screen-lg-min) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  .article-like {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    .vote-box {
      display: inline-block;
    }
  }
  .article-footer {
    border-top: 1px solid @tile-border;
    padding: 20px;
    margin: -11px;
    background-color: rgba(142, 173, 170, .05);
  }
}
