<div class="container has-header article-detail">

  <!-- article content -->
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <div class="panel panel-card">
        <article>
          <h3>
            {{article.title}}
            <small ng-if="article.author._id == me._id" class="pull-right">
              <a ng-show="$state.current.name=='articleDetail'"
                 ui-sref="articleEditor({articleId: article._id})">编辑</a>
              <a ng-show="$state.current.name=='groupArticleDetail'"
                 ui-sref="groupArticleEditor({groupId: $state.params.groupId, articleId: article._id})">编辑</a>
            </small>
          </h3>
          <hr/>
          <div class="article-content" ng-bind-html="article.content"></div>
        </article>

        <div class="article-like" ng-if="article">
          <vote-box entity="article" me="me">
          </vote-box>
        </div>

        <div class="article-footer">
          <ul class="ul-inline">
            <li class="user-info">
              <div class="avatar-xs inline-block-middle"
                   ng-src="{{article.author.avatar|trusted:'url'}}">
              </div>
              <a href="" ui-sref="user.home({userId: article.author._id})">
                {{article.author.name}}
              </a>
            </li>
            <li ng-if="article.column">
              专栏－{{article.column.name}}
            </li>
            <li ng-if="article.group">
              发布于<a ui-sref="groupDetail.articleList({groupId: article.group._id})">
                {{article.group.name}}
              </a>
            </li>
            <li>
              {{article.created | moment: 'fromNow'}}
            </li>
          </ul>
          <small class="pull-right text-muted">
            {{article.viewersNum}}次查看
          </small>
        </div>
      </div>

      <!-- article comments -->
      <div class="panel panel-card comments-panel">
        <comments belong-to="article._id"
                  ng-if="article"
                  class="comments"
                  type="{{const.CommentType.Article}}"
                  me="me">
        </comments>
      </div>
    </div>

    <div class="col-md-4 col-lg-3">
      <group-tile-lg ng-if="group"
                     group="group"
                     me="me">
      </group-tile-lg>
      <user-tile ng-if="!article.group"
                 type="normal-articles"
                 user="article.author"
                 me="me">
      </user-tile>
    </div>

  </div>
</div>
