<div class="container has-header">

  <!-- article content -->
  <article>
    <h3>
      {{article.title}}
      <small ng-if="article.author._id == me._id" class="pull-right">
        <a ng-show="$state.current.name=='articleDetail'"
           ui-sref="articleEditor({articleId: article._id})">编辑</a>
        <a ng-show="$state.current.name=='groupArticleDetail'"
           ui-sref="groupArticleEditor({groupId: $state.params.groupId, articleId: article._id})">编辑</a>
      </small>
    </h3>
    <small class="text-muted">
      <a class="text-info"
         ui-sref="user({userId: article.author._id})">{{article.author.name}}</a>
      - {{article.created | moment: 'fromNow'}}
    </small>
    <small class="pull-right text-muted">
      {{article.viewersNum}}次查看
    </small>
    <hr/>
    <p><div ng-bind-html="article.content"></div></p>
  </article>

  <!-- article like & share buttons -->
  <div class="article-like">
    <a class="text-muted small" href login-window login-success="likeClick(article)">{{article.likeUsers.length}}个赞</a>
    <span class="text-muted small" ng-if="article.likeUsers.indexOf(me._id)>=0">已赞</span>
  </div>

  <hr>

  <!-- article comments -->
  <comments belong-to="{{article._id}}" type="{{const.CommentType.Article}}" me="me"></comments>

</div>
