.article-detail {

  .comments-panel {
    margin-top: 20px;
    padding: 20px 55px;
    @media screen and (max-width: @screen-lg-min) {
      padding: 20px 35px;
    }
  }

  article {
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (max-width: @screen-md-min) {
      padding-left: 10px;
      padding-right: 10px;
    }
    .article-title {
      padding-right: 50px;
      margin-bottom: 0;
      .btn-right {
        position: absolute;
        top: 25px;
        right: 30px;
      }
    }
    .article-info {
      height: 30px;
      line-height: 30px;
      border-bottom: dotted 1px #D8D8D8;
      margin-top: 20px;
      margin-bottom: 25px;
    }
  }
  .article-like {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    .vote-box {
      display: inline-block;
    }
  }
  .article-footer {
    border-top: 1px solid @tile-border;
    padding: 20px;
    margin: -11px;
    background-color: rgba(142, 173, 170, .05);
  }
}
