.avatar(@size: 80px) {
  position: relative;
  background-color: @gray-lighter;
  width: @size;
  height: @size;
  border-radius: @size/2;
  display: block;
  margin: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-image: url(/assets/images/empty_avatar.png);
}


// settings
.avatar-md{
  .avatar(36px);
}

// topic, detail, navbar
.avatar-sm{
  .avatar(30px);
}

// profile, stats
.avatar-lg{
  .avatar(80px);
}

// reply, stats
.avatar-xs{
  .avatar(24px);
}

