@btn-primary-border: @base-color;
.btn{
  .transition(all .3s ease-in-out);

  &,
  &:active,
  &.active {
    &:focus {
      outline: none;
      // outline: 1px auto -webkit-focus-ring-color;
      // outline-offset: -2px;
    }
  }

  &.rounded{
    border-radius: 15px;
  }

  &-sm{
    margin: 10px;
    height: 25px;
    width: 60px;
    font-size: 8px;
    padding: 3px 10px;
  }

}

.btn-icon{
  &:hover{
    text-decoration: none;
  }
}


