.footer {
  color: #EEE;
  a{
    color: #EEE;
  }
  .logo{
    font-size: 18px;
  }
  width: 100%;
  background:#5C5454;
  padding: 35px 0;
  .list-inline{
    margin-bottom: 0;
    li{
      min-width: 60px;
    }
  }
  @media screen and (max-width: @screen-xs-max) {
    padding: 20px 0;
  }
}
