.link {
  cursor: pointer;
  color: #464545;
  text-decoration: none;
  &:hover,
  &.active,
  &:active {
    color: @base-color;
    text-decoration: none;
  }
  .transition();
}

.link-gray-color {
  .link;
  color: @gray;
  &:hover {
    color: @gray-light;
  }
}

//.link-dark-color {
//  .link;
//  color: @gray-dark !important;
//}

.link-base-color {
  .link;
  color: @base-color !important;
  &:active {
    color: @base-color-darker;
    text-decoration: none;
  }
}

a {
  .link;
}
