.text-shadow(@shadow){
  text-shadow: @shadow;
  -webkit-text-shadow: @shadow;
  -moz-text-shadow: @shadow;
}

.blur(@value){
  filter: blur(@value);
  -webkit-filter: blur(@value);
  -moz-filter: blur(@value);
}
