
@navbar-margin-bottom:  0;
@navbar-default-link-active-color: @base-color;
@navbar-default-bg: @base-color;
@navbar-default-color: #FFFFFF;
@navbar-default-link-color: #FFFFFF;
@navbar-height: 60px;

// @navbar-default-link-hover-color: @base-color;
.navbar{
  overflow: hidden;
  border: none;
  .box-shadow(0 4px 2px rgba(34,30,31, 0.70));
  &-nav {
    > li > a {
      box-shadow: inset 0 -2px 0 transparent;
      &:hover,
      &:focus,
      &.active {
        box-shadow: inset 0 -2px 0 @navbar-default-link-active-color;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        box-shadow: inset 0 -2px 0 @navbar-default-link-active-color;
      }
    }
  }
}

.main-nav{
  height: @navbar-height;
  .avatar-md{
    margin:12.5px;
  }
}
.nav-loading{
  position: absolute;
  overflow: hidden;
  width:100%;
  background: red;
  height: 5px;
  top:@navbar-height;
  opacity:1;
  -webkit-transition:all ease .5s;
  transition:all ease .5s;

  &.ng-hide-remove,
  &.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
  }

  &.ng-hide-add,
  &.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
  }
}

.sub-nav{
  @sub-nav-height : 50px;
  ul, li{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding-left: 0;
  }
  li{
    a{
      position: relative;
      display: block;
      padding: 0 15px;
    }
    height: @sub-nav-height;
    line-height: @sub-nav-height;
    .btn-icon{
      font-size: 20px;
      height: @sub-nav-height;
      width: @sub-nav-height;
      line-height: @sub-nav-height;
      &:hover{
        color: white;
        background: @base-color;
      }
    }
  }
  height: @sub-nav-height;
  min-height: @sub-nav-height;
  .box-shadow(inset 0 0 2px @gray-light);
}


