.bud.nav {
  @nav-link-padding: 0;
  > li {
    > a {
      padding: @nav-link-padding;
    }
  }
}

.bud>.nav-tabs,
.bud.nav-tabs {
  @nav-tabs-border-color:            @base-color;
  @nav-tabs-active-link-hover-bg:    @base-color;
  @nav-tabs-link-hover-border-color: @base-color;
  @nav-tabs-active-link-hover-color: #fff;

  border-bottom: 1px solid @nav-tabs-border-color;
  > li {
    border: 1px solid @nav-tabs-border-color;
    border-bottom: none;
    padding: 0;
    &.active,
    &.active > a{
      background-color: @nav-tabs-active-link-hover-bg;
      color: @nav-tabs-active-link-hover-color;
    }
    > a {
      border: none;
      padding: 13px 15px;
      margin-right: 0;
      font-size: 24px;
      &:hover,
      &:focus {
        background-color: @nav-tabs-active-link-hover-bg;
        color: @nav-tabs-active-link-hover-color;
        border: none;

      }
    }
  }
}
