
[class^="sprite-"]{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: url('/assets/images/sprites@1x.png');
  background-repeat: no-repeat;
  background-size: 100px 470px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi){
  [class^="sprite-"]{
    background: url('/assets/images/sprites@2x.png');
  }
}
.sprite-logo-big{ background-position: 0 0; width: 100px; height: 106px; }
.sprite-nav-course{ background-position: 0 -146px; width: 80px; height: 51px; }
.sprite-nav-find{ background-position: 0 -237px; width: 80px; height: 51px; }
.sprite-nav-market{ background-position: 0 -328px; width: 81px; height: 51px; }
.sprite-nav-topic{ background-position: 0 -419px; width: 80px; height: 51px; }
