
.tag(@background: @gray;@foreground: #FFFFFF){
  color: @foreground;
  display: inline;
  font-size: 9px;
  background: @background;
  padding: 2px 5px;
  margin: 2px 10px 2px 2px;
  cursor: pointer;
  border-radius: 2px;
}

tag,
.tag{
  &{
    .tag();
  }
  &.red{
    .tag(@brand-danger, #FFFFFF);
  }
  &[href="lecture"]{
    .tag(@brand-primary, #FFFFFF);
  }
  &[href="keypoint"]{
    .tag(@brand-warning, #FFFFFF);
  }
}
