
//
// Override Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@base-color-lighter: lighter(@base-color, 20%);
@base-color-light  : lighter(@base-color, 13.5%);
@base-color        : #47d5bb;
@base-color-dark   : darken(@base-color, 13.5%); //#5fb611
@base-color-darker : darken(@base-color, 20%);

@base-text-color: #555;

@base-body-color: #fff;

@gray         : #606060;
@gray-light   : #9D9C99;
@gray-lighter : #EBEBEB;

// @font-size-base: 14*0.75pt;

@link-color       : @base-color-dark;
@link-hover-color : @base-color-darker;
@brand-primary    : @base-color;
@brand-success    : #5cb85c;
@brand-info       : #5bc0de;
@brand-warning    : #FAC11F; //#F69226;
@brand-danger     : #E84D50;

@input-border-focus: @base-color-dark;

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial,"Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

h4, .h4{
  font-size: 16px;
}
