.ul-inline {
  padding: 0;
  display: inline;
  li {
    a {
      color: #333;
      &:hover {
        color: @base-color;
      }
    }
    font-size: 12px;
    display: inline;
    + li {
      .text-muted;
      &:before {
        margin-right: 3px;
        content: '•';
        padding: 0 3px;
        color: #BBB;
        display: inline-block;
        font-family: Arial;
      }
    }
  }
  .avatar-xs {
    display: inline-block;
    vertical-align: middle;
  }
}
