.bud{
  vg-controls {
    bottom: 0;
    top: calc(~'100% - 25px');
    height: 25px;
    #controls-container {
      height: 25px;
    }
    vg-scrubBarCurrentTime {
      height: 25px
    }
    vg-timedisplay {
      font-size: 12px;
      width: 45px;
    }
  }
}