<div class="article-tile-simple">

  <a ng-if="article.image && !article.group"
     ui-sref="articleDetail({articleId: article._id})"
     target="_blank">
    <div ng-src="{{article.image | trusted:'url'}}"
         class="article-image pull-right image-hover">
    </div>
  </a>
  <a ng-if="article.image && article.group"
     ui-sref="groupArticleDetail({articleId: article._id})"
     target="_blank">
    <div ng-src="{{article.image | trusted:'url'}}"
         class="article-image pull-right image-hover">
    </div>
  </a>
  <h4 class="article-title">
    <a ng-if="!article.group"
       ui-sref="articleDetail({articleId: article._id})"
       target="_blank">
      {{article.title}}
    </a>
    <a ng-if="article.group"
       ui-sref="groupArticleDetail({articleId: article._id})"
       target="_blank">
      {{article.title}}
    </a>
  </h4>
  <p class="article-summary text-muted">
    {{article.content|htmlToPlaintext}}
  </p>

</div>
