/**  discover article tile. todo: responsive */
.article-tile {
  position: relative;
  background: #FFF;
  padding: 20px 10px 20px 65px;
  width: 100%;
  +.article-tile {
    border-top: 1px solid @tile-border;
  }
  .article-btn-group {
    opacity: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  &:hover {
    .article-btn-group {
      .transition();
      opacity: 1;
    }
  }
  .article-image {
    height: 60px;
    width: 94px;
    margin-right: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .article-title {
    margin-top: 5px;
    margin-bottom: 14px;
    .text-overflow();
  }
  .article-summary {
    max-height: 40px;
    .text-overflow();
  }
  .vote-box {
    position: absolute;
    top: 24px;
    left: 16px;
  }
  @media screen and (max-width: 640px) {
    padding: 10px 10px 15px;
    .vote-box {
      display: none;
    }
    .article-image {
      height: 50px;
      width: 60px;
      margin-top: 5px;
      margin-right: 0;
    }
  }
}

