/**  discover article tile. todo: responsive */
.article-tile{
  position: relative;
  background: #FFF;
  padding: 20px 66px;
  .box-shadow(@tile-shadow);
  width: 100%;
  margin: 0 0 16px;

  .article-image{
    height: 94px;
    width: 94px;
    margin-right: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .article-title{
    margin-top: 5px;
    margin-bottom: 14px;
    a{
      color: #333;
      &:hover{
        color: @base-color;
      }
    }
    .text-overflow();
  }
  .article-summary{
    /** height: 40px; */
    max-height: 40px;
    overflow: hidden;
  }
  hr{
    margin-top: 23px;
  }
  .article-info{
    span{
      font-size: 12px;
      .fa{

      }
      margin: 0 8px;
    }
    .avatar-xs{
      display: inline-block;
      vertical-align: middle;
    }
  }
  .vote-box{
    position: absolute;
    top: 24px;
    left: 16px;
  }
  .share-btn{
    text-align: left;
    position: absolute;
    right: -1px;
    bottom: 14px;
    width:63px;
    border-radius: 0;
    .budon-send{
      font-size: 18px;
      margin-top: -4px;
      margin-right: 5px;
    }
  }
  .actions-dropdown{
    position: absolute;
    top: 0;
    right: 0;
    .dropdown-menu{
      min-width: 100px;
      left: auto;
      right: 0px;
    }
  }
}

