<div class="article-tile-simple">

  <div ng-if="article.image && !article.group"
       ng-src="{{article.image | trusted:'url'}}"
       ui-sref="articleDetail({articleId: article._id})"
       class="article-image pull-right image-hover pointer">
  </div>
  <div ng-if="article.image && article.group"
       ng-src="{{article.image | trusted:'url'}}"
       ui-sref="groupArticleDetail({articleId: article._id})"
       class="article-image pull-right image-hover pointer">
  </div>
  <h4 class="article-title">
    <a ng-if="!article.group" ui-sref="articleDetail({articleId: article._id})">
      {{article.title}}
    </a>
    <a ng-if="article.group" ui-sref="groupArticleDetail({articleId: article._id})">
      {{article.title}}
    </a>
  </h4>
  <p class="article-summary text-muted">
    {{article.content|htmlToPlaintext}}
  </p>

</div>
