<div class="article-tile">
  <div ng-if="article.image"
       ng-src="{{article.image | trusted:'url'}}"
       class="article-image pull-right">
  </div>
  <h4 class="article-title">
    <a ng-if="!article.group" ui-sref="articleDetail({articleId: article._id})">
      {{article.title}}
    </a>
    <a ng-if="article.group" ui-sref="groupArticleDetail({articleId: article._id})">
      {{article.title}}
    </a>
  </h4>
  <p class="article-summary text-muted">
    {{article.content|htmlToPlaintext}}
  </p>
  <ul class="ul-inline">
    <li class="user-info">
      <div class="avatar-xs inline-block-middle"
           ng-src="{{article.author.avatar|trusted:'url'}}">
      </div>
      <a ui-sref="user.home({userId: article.author._id})">
        {{article.author.name}}
      </a>
    </li>
    <li ng-if="article.column">
      专栏－{{article.column.name}}
    </li>
    <li ng-if="article.group">
      发布于<a ui-sref="groupDetail.articleList({groupId: article.group._id})">{{article.group.name}}</a>
    </li>
    <li>
      {{article.created | moment: 'fromNow'}}
    </li>
    <li>
      <i class="fa fa-comment"></i>
      {{article.commentsNum||0}}
    </li>
    <li>
      <i class="fa fa-star"></i>
      {{article.likeUsers.length||0}}
    </li>
  </ul>

  <vote-box entity="article" me="me">
  </vote-box>

  <div ng-if="me._id==article.author._id"
       class="article-btn-group pull-right">
    <a class="link-dark-color" ui-sref="articleEditor({articleId:article._id})">编辑</a>
    &nbsp;&nbsp;
    <a class="link-dark-color" ng-click="removeArticle(article)">删除</a>
  </div>

</div>
