<div class="article-tile">
  <a ng-if="article.image && !article.group"
     ui-sref="articleDetail({articleId: article._id})"
     target="_blank">
    <div ng-src="{{article.image | trusted:'url'}}"
         class="article-image pull-right image-hover">
    </div>
  </a>
  <a ng-if="article.image && article.group"
     ui-sref="groupArticleDetail({articleId: article._id})"
     target="_blank">
    <div ng-src="{{article.image | trusted:'url'}}"
         class="article-image pull-right image-hover">
    </div>
  </a>
  <h4 class="article-title">
    <a ng-if="!article.group" ui-sref="articleDetail({articleId: article._id})" target="_blank">
      {{article.title}}
    </a>
    <a ng-if="article.group" ui-sref="groupArticleDetail({articleId: article._id})" target="_blank">
      {{article.title}}
    </a>
  </h4>
  <p class="article-summary text-muted">
    {{article.content|htmlToPlaintext}}
  </p>
  <ul class="ul-inline">
    <li class="user-info">
      <a class="link-base-color" ui-sref="user.home({userId: activity.userId._id})">
        <div class="avatar-xs inline-block-middle"
             ng-src="{{article.author.avatar|trusted:'url'}}">
        </div>
        <span class="user-name">{{article.author.name}}</span>
      </a>
    </li>
    <li ng-if="article.column">
      专栏－{{article.column.name}}
    </li>
    <li ng-if="article.group">
      发布于<a ui-sref="groupDetail.articleList({groupId: article.group._id})">{{article.group.name}}</a>
    </li>
    <li>
      {{article.created | moment: 'fromNow'}}
    </li>
    <li>
      <i class="iconfont icon-discuss"></i>
      {{article.commentsNum||0}}
    </li>
    <li>
      <i class="iconfont icon-like"></i>
      {{article.likeUsers.length||0}}
    </li>
  </ul>

  <vote-box entity="article" me="me">
  </vote-box>

  <div ng-if="me._id==article.author._id"
       class="article-btn-group pull-right">
    <a class="link-base-color" ui-sref="articleEditor({articleId:article._id})">编辑</a>
    &nbsp;&nbsp;
    <a class="link-base-color" ng-click="removeArticle(article)">删除</a>
  </div>

</div>
