<div>

<h2>申请创建小组</h2>

<div class="row">
  <form class="form-horizontal col-sm-8"
        name="form"
        ng-submit="createGroup(form)">

    <div class="form-group">
      <label class="col-xs-2 control-label">小组名称</label>
      <div class="col-xs-8">
        <input class="form-control"
               ng-model="groupData.title"
               required/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-2 control-label">小组简介</label>
      <div class="col-xs-8">
        <textarea type="text"
                  class="form-control"
                  style="margin-top: 0px; margin-bottom: 0px; height: 247px;"
                  placeholder="简单的介绍一下小组吧"
                  ng-model="groupData.info"
                  required></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-8">
        <button class="btn btn-danger btn-sm rounded" type="submit">创建</button>
      </div>
    </div>
  </form>
</div>
</div>