<div class="footer">
  <div class="container clearfix">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <ul>
          <li class="logo">
            <h4>
              <a href="/" >
              </a>
            </h4>
          </li>
          <li>
            <small>&copy;2015&nbsp;上海学之方教育科技有限公司</small>
          </li>
          <li>
            <small>沪ICP备14041743号-2</small>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul>
          <li><h4>关于我们</h4></li>
          <!-- <li><a href="">杨梅客简介</a></li> -->
          <li><a href="mailto:info@cloud3edu.com?subject=联系我们" target="_blank">联系我们 info@cloud3edu.com</a></li>
          <li><a ui-sref="recruit">来信投稿</a></li>
          <li><a href="mailto:info@cloud3edu.com?subject=意见与建议" target="_blank">意见与建议</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul>
          <li>
            <h4>
              合作伙伴
            </h4>
          </li>
          <li>
            <a href="http://gamedesk.org/" target="_blank" title="Gamedesk"><img src="/assets/images/gamedesk_logo.png" alt="makewonder"></a>
          </li>
          <li>
            <a href="https://www.makewonder.com/" target="_blank" title="Makewonder"><img src="/assets/images/workshop_logo.png" alt="makewonder"></a>
          </li>
          <li>
            <a href="https://www.digitalmediaacademy.org/" target="_blank" title="Digital Media Academy"><img src="/assets/images/dma_logo.png" alt="digitalmediaacademy"></a>
          </li>
        </ul>


      </div>
      <div class="col-md-3 col-sm-6">
        <ul>
          <li>
            <small>
              更多最新奇、最好玩、最潮流的我们都为您网罗到这！<br>快用手机扫一扫，加入“杨梅客”微信公众号
            </small>
          </li>
          <li>
            <img style="width:100px" src="/assets/images/QR.jpg" alt="QRCode">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
