<div class="footer">
  <div class="container clearfix">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-inline pull-left text-center">
          <li class="logo">
            <a href="/" >STEAM</a>
          </li>
          <li>
            <a href="">关于我们</a>
          </li>
          <li>
            <a href="">趣课</a>
          </li>
          <li>
            <a href="">小组</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-inline pull-right">
          <li>
            &copy;2015&nbsp;上海学之方教育科技有限公司
          </li>
          <li></li>
          <li>
            沪ICP备14041743号
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
