<form class="course-editor" name="form" novalidate>
  <div class="container">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="panel panel-card clearfix" style="margin-bottom:0;">
        <div class="panel-headding text-center">
          创建趣课
        </div>
        <div class="row">
          <div class="course-summary col-md-10 col-md-offset-1">
            <div class="image-upload">
              <uploader
                class="cover-uploder"
                limit="{{configs.imageSizeLimitation}}"
                on-complete="onCoverUploaded($data)"
                accept-type="image"
                crop="true"
                style="height: 210px;width: 290px;margin-bottom:20px"
                crop-ratio="1.33"
                max-width="600">
                <div class="cover" ng-if="course.image" ng-src="{{course.image}}" source-attr="background-image">
                  <div class="mask">
                    <div class="btn btn-xs btn-primary">
                      <i class="fa fa-cloud-upload"></i>
                      修改图片
                    </div>
                  </div>
                </div>
                <div class="drag-uploder" ng-if="!course.image" style="padding: 30px 16px;">
                  <img src="/assets/images/empty.png" alt="">
                  <h4>封面照片</h4>
                  <div class="text-muted">请拖拽图片至此或点击上传按钮</div>
                  <div class="btn btn-xs btn-primary">
                    <i class="fa fa-cloud-upload"></i>
                    上传图片
                  </div>
                </div>
              </uploader>
            </div>
            <div class="form-group">
              <label class="col-md-3" for="title">趣课名称</label>
              <div class="col-md-9">
                <input type="text"
                  name="title"
                  id="title"
                  ng-maxlength="20"
                  required
                  placeholder="请输入趣课名称..."
                  ng-model="course.title"
                  class="form-control input-md">
                <p class="text-danger" ng-show="form.title.$error.required && submitted">
                  请输入趣课名称
                </p>
                <p class="text-danger" ng-show="form.title.$error.maxlength && submitted">
                  趣课名称不能超过20个字
                </p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3" for="category">趣课分类</label>
              <div class="col-md-3">
                <select ng-model="course.categoryId"
                  id="category"
                  name="category"
                  ng-options="category.name for category in categories track by category._id"
                  class="form-control input-md">
                </select>
                <p class="text-danger" ng-show="form.category.$error.required && submitted">
                  请选择趣课类型
                </p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3" for="info">趣课简介</label>
              <div class="col-md-9">
                <input type="text" placeholder="请输入趣课简介..." required id="info" name="info" ng-model="course.info" class="form-control input-md">
                <p class="text-danger" ng-show="form.info.$error.required && submitted">
                  请输入趣课简介
                </p>
                <p class="text-danger" ng-show="form.info.$error.maxlength && submitted">
                  趣课简介不能超过20个字
                </p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3" for="tag">标签</label>
              <div class="col-md-9">
                <ui-select multiple
                           ng-model="course.tags"
                           id="tag"
                           sortable="true"
                           tagging
                           tagging-label=""
                           on-select="addTag($item, $select.search, $event)"
                           class="form-control input-md">
                  <ui-select-match placeholder="请输入要添加的tag，然后按回车">
                    {{$item}}
                  </ui-select-match>
                  <ui-select-choices repeat="tag in tags | filter:$select.search">
                    {{tag}}
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tool-bar" ng-show="!viewState.showPreview" fix-when-reach-top offset="600">
    <div class="container">
      <div class="col-lg-10 col-lg-offset-1">
        <ul class="steps-nav list-group">
          <li class="list-group-item steps-nav-title">快速导航</li>
          <li ng-repeat="step in course.steps" class="list-group-item">
            <a href="#step{{$index+1}}" title="{{step.title}}" du-smooth-scroll du-scrollspy>&nbsp;{{step.title}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" >
    <div class="col-lg-10 col-lg-offset-1">
      <div class="panel panel-card clearfix" style="margin-top:-2px;">
        <div class="row">
          <div class="course-body col-md-10 col-md-offset-1 clearfix">
            <div ng-if="course.steps.length===0">
              <a ng-click="addStep(plugins[0], -1)" class="btn btn-primary btn-outline" style="margin-top:5px;"><i class="fa fa-plus"></i>&nbsp;添加步骤方法</a>
              <a ng-click="addStep(plugins[1], -1)" ng-if="Auth.hasRole('admin')" class="btn btn-primary btn-outline" style="margin-top:5px;"><i class="fa fa-plus"></i>&nbsp;添加步骤方法(Markdown)</a>
              <a ng-click="addStep(plugins[2], -1)" ng-if="Auth.hasRole('admin')" class="btn btn-primary btn-outline" style="margin-top:5px;"><i class="fa fa-plus"></i>&nbsp;添加视频(优酷、腾讯)</a>
              <a ng-click="addStep(plugins[3], -1)" ng-if="Auth.hasRole('admin')" class="btn btn-primary btn-outline" style="margin-top:5px;"><i class="fa fa-plus"></i>&nbsp;添加代码</a>
            </div>
            <div id="step{{$index+1}}" class="editor clearfix fade-in" ng-repeat="step in course.steps">
              <div ng-switch="step.type">
                <div ng-switch-when="wysiwyg">
                  <div class="form-group">
                    <input type="text" required title-placeholder="第{{($index+1)|numberToCN}}步" class="form-control" ng-model="step.title">
                  </div>
                  <div class="form-group">
                    <div text-angular ng-model="step.content" placeholder="请输入内容"></div>
                  </div>
                </div>
                <div ng-switch-when="md">
                  <div class="form-group">
                    <input type="text" required title-placeholder="第{{($index+1)|numberToCN}}步" class="form-control" ng-model="step.title">
                  </div>
                  <div class="form-group">
                    <textarea name="" id="" cols="30" rows="10" class="form-control" ng-model="step.content" placeholder="请输入markdown格式的内容"></textarea>
                  </div>
                </div>
                <div ng-switch-when="embed">
                  <div class="form-group">
                    <input type="text" required title-placeholder="第{{($index+1)|numberToCN}}步" class="form-control" ng-model="step.title">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" title-placeholder="插入网页链接或者iframe代码" ng-model="step.content">
                  </div>
                </div>
                <div ng-switch-when="code">
                  <div class="form-group">
                    <input type="text" required title-placeholder="第{{($index+1)|numberToCN}}步" class="form-control" ng-model="step.title">
                  </div>
                  <div class="form-group">
                    <div ui-ace="aceOption" ng-model="step.content"></div>
                  </div>
                </div>
                <div ng-switch-default>
                  <div class="assets">
                  </div>
                  <div class="form-group">
                    <input type="text" required title-placeholder="第{{($index+1)|numberToCN}}步" class="form-control" ng-model="step.title">
                  </div>
                  <div class="form-group">
                    <div text-angular ng-model="step.content" placeholder="请输入内容"></div>
                  </div>
                </div>
              </div>
              <div class="actions">
                <a ng-click="removeStep(step)" tooltip="删除步骤" tooltip-placement="right" class="btn remove-step-btn" ng-if="course.steps.length>1"><i class="fa fa-times"></i></a>
                <a class="btn move-step-btn move-up" ng-click="moveUpStep(step)" ng-if="$index>0"><i class="fa fa-arrow-up"></i></a>
                <a class="btn move-step-btn move-down" ng-click="moveDownStep(step)" ng-if="$index<course.steps.length-1"><i class="fa fa-arrow-down"></i></a>
              </div>
              <a ng-click="addStep(plugins[0], $index)" class="btn btn-primary btn-outline" style="margin-top:5px;"><i class="fa fa-plus"></i>&nbsp;添加步骤方法</a>
              <a ng-click="addStep(plugins[1], $index)" ng-if="Auth.hasRole('admin')" class="btn btn-primary btn-outline" style="margin-top:5px;"><i class="fa fa-plus"></i>&nbsp;添加步骤方法(Markdown)</a>
              <a ng-click="addStep(plugins[2], $index)" ng-if="Auth.hasRole('admin')" class="btn btn-primary btn-outline" style="margin-top:5px;"><i class="fa fa-plus"></i>&nbsp;添加视频(优酷、腾讯)</a>
              <a ng-click="addStep(plugins[3], $index)" ng-if="Auth.hasRole('admin')" class="btn btn-primary btn-outline" style="margin-top:5px;"><i class="fa fa-plus"></i>&nbsp;添加代码</a>
              <hr>
            </div>
          </div>
        </div>
        <div class="row text-center editor-bottom">
          <button type="button" class="btn btn-primary" ng-click="submitCourse(form)">保存发布</button>
          <button type="button" ng-click="cancelSave()" class="btn btn-default">取消</button>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom"></div>
  <div class="preview-wrap" ng-if="viewState.showPreview" ng-click="viewState.showPreview=false">
    <div class="preview" >
      <h1>{{course.title}}</h1>
      <h2 ng-repeat-start="step in course.steps">
        {{step.title}}
      </h2>
      <div ng-switch="step.type">
        <p ng-switch-when="wysiwyg" ng-bind-html="step.content"></p>
        <div ng-switch-when="embed" compile-html="step.content|embed"></div>
        <div ng-switch-when="md" ng-bind-html="step.content|showdown"></div>
        <div ng-switch-when="code">
          <div ui-ace="aceOption" readonly ng-model="step.content"></div>
        </div>
        <p ng-switch-default ng-bind-html="step.content" ng-init="step.type='wysiwyg'"></p>
      </div>
      <hr ng-repeat-end>
    </div>
  </div>

  <div class="saving-mask text-center" ng-show="saving" style="display: none">
    <h1>
      <i class="fa fa-spin fa-spinner spin"></i>
    </h1>
  </div>

</form>
