.course-editor{
  .preview-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    #gradient .radial(@inner-color: #555; @outer-color: #333);
    .preview{
      .container();
      display: block;
      border-radius: 4px;
      margin:auto;
      background: #FFF;
      min-width: 320px;
    }
  }
  .tool-bar{
    &.fixed{
      .container();
      background: #999;
      position: fixed;
      top: 0;
      z-index: 1000;
    }
  }
}
