.search-input-group {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  width: 250px;
  position: relative;
  font-weight: normal;
  input {
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .search-hint{
    position: absolute;
    left: 12px;
    top: 10px;
    color: @gray-light;
  }
  &.focused{
    .search-hint{
      color: @base-color;
    }
  }
  .clear{
    position: absolute;
    right: 12px;
    top: 10px;
    color: @gray-light;
  }
}
