.course-list{
  .category-dropdown{
    margin-bottom: 12px;
    .panel{
      margin-bottom: 0;
      padding: 4px 10px;
      color: #333;
    }
    .category-logo{
      vertical-align: middle;
      text-align: center;
      display: inline-block;
      background-color: #323232;
      height: 34px;
      width: 34px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 34px;
      padding: 5px;
      color: #FFF;
    }
  }
  .new-course-btn{
    margin-top: 7px;
    margin-right: 30px;
    vertical-align: top;
  }
  .left-side{
  }
  .right-side{
  }
  .pagination-row{
    hr{
      margin-bottom: 5px;
    }
    .pagination{
      margin-bottom: 10px;
    }
  }
}
