<div class="course-list">
  <div class="container">
    <div class="col-md-9 left-side">
      <div class="row clearfix">
        <div class="pull-left dropdown category-dropdown" style="position:relative;">
          <a class="btn dropdown-toggle panel panel-card">
            {{getCategoryName(pageConf.category)||'全部'}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="category in categories">
              <a href="" ng-click="pageConf.category=category._id;reload(true)">
                {{category.name}}
              </a>
            </li>
          </ul>
        </div>
        <div class="pull-right">
        </div>
      </div>
      <div class="panel panel-card clearfix row">
        <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="course in courses">
          <course-tile course="course" me="me"></course-tile>
        </div>
      </div>

      <div class="panel panel-card clearfix text-center row"
        ng-if="courses.$count > pageConf.itemsPerPage">
        <pagination
          total-items="courses.$count"
          ng-model="pageConf.currentPage"
          items-per-page="pageConf.itemsPerPage"
          class="pagination-sm bud"
          boundary-links="true"
          rotate="false"
          ng-change="reload()"
          max-size="pageConf.maxSize">
        </pagination>
      </div>

    </div>

    <div class="col-md-3 right-side">
      <div class="panel panel-card">
        <h3>
          你可能会喜欢
          <a href="" class="pull-right">换一批</a>
        </h3>

      </div>

      <div class="panel panel-card">
        <h3>
          值得关注的达人
          <a href="" class="pull-right">换一批</a>
        </h3>
      </div>
    </div>

  </div>

  <div class="container">
    <a ui-sref="courseEditor" login-window class="btn btn-default">创建课程</a>
  </div>

</div>

