<div class="jumbotron timetable"
     qiniu-key="'9afunBb7Fz/DSC00591.jpg'"
     suffix="?imageMogr2/blur/35x35"
     source-attr="background-image"
     id="timetable">
  <div class="row content">
    <div class="col-md-2 text-center">
      <a href="" class="arrow"><i class="fa fa-chevron-left"></i></a>
    </div>
    <div class="col-md-8">
      <div class="pages">
        <img style="width:900px;" src="assets/images/timetable.png" alt="">
      </div>
    </div>
    <div class="col-md-2 text-center">
      <a href="" class="arrow"><i class="fa fa-chevron-right"></i></a>
    </div>
  </div>

</div>
<section class="course-list" ng-class="{'limit-height':viewState.limitHeight }" id="course-list">
  <a class="anchor anchor-up" href="#course-list" du-smooth-scroll>
    <i class="fa fa-chevron-down"></i>
  </a>
  <div class="container" >
    <div class="section-header">
      <h3>
        我的课程
      </h3>
    </div>
    <div class="row">
      <p class="col-md-6 col-md-offset-3 text-center">
        未来的精英，必会是你我之中， 未来的精英，必会是你我之中！<br/>未来的精英，必会是你我之中未来的精英
      </p>
    </div>
    <div class="row">
      <div class="col-md-3" ng-repeat="course in courses">
        <a ui-sref="student.courseDetail({courseId:course._id})">
          <student-course-tile course="course">
          </student-course-tile>
        </a>
      </div>
    </div>
  </div>
  <div class="more text-center" ng-click="viewState.limitHeight = false" ng-show="viewState.limitHeight">
    <a href="">由此展开更多课程</a>
  </div>
  <a class="anchor anchor-down bottom-up inverse" ng-click="viewState.limitHeight = false" ng-show="viewState.limitHeight">
    <i class="fa fa-chevron-down"></i>
  </a>
  <a class="anchor anchor-down bottom-up inverse"  ng-show="!viewState.limitHeight" href="#my-rank" du-smooth-scroll>
    <i class="fa fa-chevron-down"></i>
  </a>
</section>

<section class="my-rank" id="my-rank">

  <div class="container" >
    <div class="section-header">
      <h3>
        我的排名
      </h3>
    </div>
    <div class="row">
      <p class="col-md-6 col-md-offset-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Pariatur soluta, molestiae. Laudantium ex id magnam voluptas
        cupiditate expedita, eum hic nobis excepturi aspernatur modi dolor,
        praesentium aperiam natus molestiae, voluptatum.
      </p>
    </div>

  </div>
</section>

<a href="#timetable" du-smooth-scroll class="back-to-top" du-scrollspy>
  <i class="fa fa-chevron-up"></i>
</a>




