<form class="login-form" name="form" ng-submit="login(form)">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control input-lg"
      type="text"
      placeholder="用户名"
      ng-model="user.username"
      name="username"
      required>
      <div class="input-group-addon">
        <i class="fa fa-user"></i>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control input-lg"
      type="password"
      placeholder="密码"
      name="password"
      ng-model="user.password"
      required>
      <div class="input-group-addon">
        <i class="fa fa-lock"></i>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-danger btn-lg rounded" type="submit">登录</button>
  </div>
</form>
