.group-info{
  height: 48px;
  line-height: 48px;
  margin-bottom: 20px;
  img{
    height: 48px;
    width: 48px;
    vertical-align: top;
    padding-right: 33px;
    box-sizing: content-box;
  }
  h1{
    display: inline;
    margin: 0;
    vertical-align: middle;
    word-wrap: break-word;
    font-weight: bold;
    color: #494949;
    padding: 0 0 15px 0;
    line-height: 1.1;
  }
  .group-misc {
    display: inline-block;
    position: relative;
    a{
      margin-left: 6px;
    }
  }
}