<div class="group-article-list">
  <div class="pull-right">
    <search-input keyword="viewState.keyword"
                  on-submit="reload(true)"
                  placeholder="搜索小组帖子" >
    </search-input>
    <button class="btn btn-sm btn-primary"
            login-window
            login-success="createGroupArticle()">
      发表新帖
    </button>
  </div>

  <ul class="nav-tab">
    <li ui-sref="{sort: null}" ui-sref-active="active">
      <a>最新贴</a>
    </li>
    <li ui-sref="{sort: 'heat'}" ui-sref-active="active">
      <a>最热帖</a>
    </li>
  </ul>

  <div class="panel panel-card">

    <loading-tile data="groupArticles"
                  loading-text="加载中..."
                  not-found-text="该小组暂无帖子"
                  not-found-icon="fa fa-comments-o">
    </loading-tile>

    <article-tile article="article" me="me" ng-repeat="article in groupArticles"></article-tile>
    <div class="pagination-row text-center"
         ng-if="groupArticles.$count > pageConf.itemsPerPage">
      <pagination
        total-items="groupArticles.$count"
        ng-model="pageConf.currentPage"
        items-per-page="pageConf.itemsPerPage"
        class="pagination-sm bud"
        boundary-links="true"
        rotate="false"
        ng-change="reload()"
        max-size="pageConf.maxSize">
      </pagination>
    </div>
  </div>
</div>
