.group-detail {
  .group-info {
    background: #FFF;
    cursor: pointer;
    border: 1px solid #eee;
    position: relative;
    padding: 20px;
    border-radius: 4px;
    .group-logo {
      height: 185px;
      width: 100%;
      background-color: @gray-lighter;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 2px;
    }
  }
}