<div class="container group-detail">
  <div class="row">
    <div class="col-md-9 col-sm-12" >
      <div class="text-center">
        <a href="" login-window login-success="createGroupArticle()"><i>+</i>发言</a>
      </div>
      <div ui-view class="fadeIn"></div>
    </div>
    <div class="col-md-3">
      <div class="group-info">
        <div class="group-logo" ng-src="{{group.logo}}">  </div>
        <div class="group-body">
          <h4 class="group-name">
            {{group.name}}
          </h4>
          <p class="group-disc text-muted">
            {{group.info}}
          </p>
          <p>创建于{{group.created | moment: 'calendar'}}</p>
          <p>组长：<a ui-sref="user.home({userId:group.creator._id})" target="{{group.creator._id}}">{{group.creator.name}}</a></p>
          <div ng-switch="getRole()">
            <div ng-switch-when='creator'>我是小组组长
              <button ng-click="editGroupInfo()">修改小组信息</button>
            </div>
            <div ng-switch-when='member'>我是小组成员&nbsp;> <a href="" ng-click="leaveGroup()">退出</a></div>
            <div ng-switch-default><button class="btn btn-sm btn-outline btn-success" login-window login-success="joinGroup()">加入</button></div>
          </div>
        </div>

        <hr>

        <div class="group-members">
          <h5 class="group-stat text-overflow">
            {{group.members.length}}个成员
          </h5>
          <div class="member" ng-repeat="member in groupMembers">
            <div class="avatar-md"
                 title="{{member.name}}"
                 source-attr="background-image"
                 src-key="member.avatar"
                 suffix="?imageView2/1/w/64/h/64"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
