.forum{
  .title-row{
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 3px;
  }
  .form-group{
    margin-bottom: 3px;
  }
  .col-xs-6{
    padding-left: 0;
    padding-right: 0;
  }
  .search{
    padding-left: 0;
  }
  .dropdown-toggle{
    background-color: transparent;
  }

  .avatar-md{
    margin-top: 3px;
  }
}

.bud.input-group{
  border: none;
  .input-group-addon{
    border: none;
    background: transparent;
    color: @gray;
  }
  .form-control{
    border: none;
    .box-shadow(none);
  }

}
