.forum{
  .title-row{
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 3px;
  }
  .form-group{
    margin-bottom: 3px;
  }
  .col-xs-6{
    padding-left: 0;
    padding-right: 0;
  }
  .search{
    padding-left: 0;
  }
  .dropdown-toggle{
    background-color: transparent;
  }
  .topic-list{
    width: calc(~"940px*0.42");
    float: left;
    background: #FFFFFF;
    border-right: 2px solid @gray-light;
    @media screen and (max-width: @screen-sm-min) {
      width: 100%;
    }
    &.fixed{
      position: fixed;
      top: 62px;
      bottom: 0;
      left: 0;
      overflow-y: auto;
      width: calc(~"940px*0.42");
      @media screen and (max-width: @screen-md-min) {
        width: calc(~"700px*0.42");
        left: 0;
      }
      @media screen and (max-width: @screen-sm-min) {
        width: 100%;
        position: static;
      }
    }
  }

  .topic-detail{
    @media screen and (max-width: @screen-sm-min) {
      margin-left: 0;
      clear: both;
    }
    margin-left: 43%;
    min-height: 700px;
  }
  
  .avatar-md{
    margin-top: 3px;
  }
}

.bud.input-group{
  border: none;
  .input-group-addon{
    border: none;
    background: transparent;
    color: @gray;
  }
  .form-control{
    border: none;
    .box-shadow(none);
  }

}
