.bud.topic-list{
  .transition();
  .topic{
    @vertical-padding: 15px;
    @horizontal-padding: 20px;
    background: #FFFFFF;
    list-style: none;
    margin: 5px 0;
    height: 140px;
    border-top: 1px solid @gray-lighter;
    border-bottom: 1px solid @gray-lighter;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      bottom: 4px;
      width: 0px;
      background: @base-color;
      .transition(all 0.2s ease-in-out);
    }
    &:hover{
      &:before{
        width: 4px;
      }
    }
    &.selected{
      background: @gray-lighter;
    }
    .topic-left{
      cursor: pointer;
      position: absolute;
      left: @horizontal-padding;
      top:@vertical-padding;
      bottom: @vertical-padding;
      right: 200px;
      h4{
        .text-overflow();
      }
    }
    .topic-right{
      position: absolute;
      right: 0;
      top:@vertical-padding;
      bottom: @vertical-padding;
      width: 220px;
      .status{
        text-align: center;
        width: 40px;
        float: right;
        font-size: 20px;
        margin: 20px 15px;
        line-height: 200%;
        i{
          color: @gray;
          font-size: 1.5em;
          &.fa-heart{
            color: @brand-danger;
          }
          &.fa-comments{
            color: @base-color;
          }
        }
      }
    }
    .spans{
      overflow: hidden;
      height: 24px;
      >span{
        position: relative;
        float: left;
        height: 26px;
        margin-right: 12px;
        margin-left: 12px;
        &:after{
          content: '';
          width:1px;
          height: 11px;
          background: @gray;
          position: absolute;
          top: 5px;
          right: -12px;
        }
        &:nth-child(1){
          margin-left: 0;
        }
        &:nth-last-child(1){
          &:after{
            content: none;
          }
        }
        .topic-type{
          padding: 2px 6px;
          background: @brand-danger;
          height: 22px;
        }
        .avatar{
          .avatar(24px);
          float: left;
          margin-right: 3px;
        }
        .poster-name{
          font-size: 10px;
          line-height: 24px;
        }
        .created-time{
          line-height: 24px;
          font-size: 10px;
        }
        
        .tags{
          float: left;
          .tag{
            display: block;
            float: left;
          }
        }
      }
    }
  }
  .title-row{
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 3px;
  }
  .form-group{
    margin-bottom: 3px;
  }
  .col-xs-6{
    padding-left: 0;
    padding-right: 0;
  }
  .search{
    padding-left: 0;
  }
}