<div class="bud topic-detail">
  <div ng-show="topic">
    <div class="bud article">

      <div class="article-header">
        <h4 class="article-title">
          <a class="btn btn-primary btn-md rounded"
             ui-sref="forum.course({courseId: topic.courseId})">
            <i class="fa fa-arrow-left"></i>
          </a>
          {{topic.title}}
        </h4>
        <span class="spans">
          <span class="flag flag-danger">
          {{topic.metadata.postType||'提问'}}
          </span>
          <div class="pull-left avatar-xs "
               source-attr="background-image"
               src="http://placehold.it/32x32"
               src-key="topic.postBy.avatar"
               suffix="?imageView2/1/w/64/h/64">
          </div>
          <span class="poster-name">{{topic.postBy.name}}</span>
          <span class="text-muted created-time">发表于{{topic.created|timeToTimeAgo}}</span>
          <span class="status">
            <i class="fa fa-comments base-color"></i>
            {{topic.$replies.length||0}}
          </span>
          <span class="status">
            <i class="fa fa-eye"></i>
            {{topic.viewers.length||0}}
          </span>
          <span class="status">
            <i class="fa fa-heart" 
              ng-class="{'active':topic.voteUpUsers.indexOf(me._id)>=0}"
              ng-click="toggleLike(topic)"></i>
            {{topic.voteUpUsers.length||0}}
          </span>
        </span>
      </div>

      <div class="article-body">
        <div class="blog" compile-html="topic.content" >
        </div>
      </div>
    </div>

    <hr>
    <div class="replies">
      <div class="new-reply clearfix">
        <div class="new-reply-left">
          <div class="media-object avatar-sm"
               source-attr="background-image"
               src="http://placehold.it/32x32"
               src-key="me.avatar"
               suffix="?imageView2/1/w/64/h/64">
          </div>
        </div>
        <div class="new-reply-right" id="new-reply" is-visible="viewState.newReplyVisible">
          <bud-editor 
            content="newReply.content"
            metadata="newReply.metadata">
          </bud-editor>
        </div>

        <div>
          <button 
            class="btn btn-danger btn-sm rounded submit pull-right" 
            ng-click="replyTo(topic, newReply)"
            ng-disabled="!newReply.content">提交</button>
        </div>
      </div>
      <div class="clearfix title-row actions-bar" style="margin-bottom: 20px;">
        <div class="pull-left" ng-init="viewState.orderBy = '-voteUpUsers.length'">
          <a href class="btn btn-nav text-muted"
            ng-class="{'active':viewState.orderBy == '-created'}"
            ng-click="viewState.orderBy = '-created'">
            最新回复
          </a>
          <a href class="btn btn-nav text-muted"
            ng-class="{'active':viewState.orderBy == '-voteUpUsers.length'}"
            ng-click="viewState.orderBy = '-voteUpUsers.length'">
            最热回复
          </a>
        </div>
        <span class="pull-left text-muted" style="line-height: 30px;">&nbsp;|&nbsp;</span>
        <div class="pull-left">
          <div class="btn-group" dropdown is-open="status.isopen" ng-init="viewState.filterMethod='all'">
            <a type="button" class="btn dropdown-toggle text-muted">
              {{viewState.filterMethod=='all'?'全部':'只看我的'}}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href ng-click="viewState.filterMethod='all';status.isopen = false">全部</a></li>
              <li><a href ng-click="viewState.filterMethod='createdByMe';status.isopen = false">只看我的</a></li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="list-group " ng-init="listinit()">
        <li class="bud thumbnail media col-md-12 reply"
            ng-repeat="reply in topic.$replies|orderBy: viewState.orderBy|filter: repliesFilter" id="{{reply._id}}" ng-init="scrollToReply(reply._id)">
          <a class="pull-left" href>
            <div class="media-object avatar-sm"
                 source-attr="background-image"
                 src="http://placehold.it/32x32"
                 src-key="reply.postBy.avatar"
                 suffix="?imageView2/1/w/64/h/64">
            </div>
          </a>
          <div class="media-body">

            <h5 class="base-color reply-author-name">{{reply.postBy.name}}
              <small>|</small>
              <small>{{reply.created|timeToTimeAgo}}</small>
              <small>|</small>
              <small>
                <i
                  class="fa fa-heart vote"
                  ng-class="{'active':reply.voteUpUsers.indexOf(me._id)>=0}"
                  ng-click="toggleVote(reply)">
                </i>
                {{reply.voteUpUsers.length||0}}
              </small>
              <a href ng-show="reply.postBy._id == me._id" class="pull-right" ng-click="deleteReply(topic, reply)"><i class="fa fa-times"></i></a>
            </h5>
            <div class="reply-body blog" compile-html="reply.content" ></div>
          </div>
        </li>
      </ul>

      <a class="btn form-control btn-primary btn-md rounded back-to-editor"
        style="margin: 20px 0;border-radius: 3px;"
        ng-class="{'hide': viewState.newReplyVisible}"
        href="#new-reply" du-smooth-scroll du-scrollspy offset="200">
        发表回复
      </a>
    </div>

  </div>
</div>
