.bud.topic-detail{
  min-height: 700px;
  .article{
    padding: 5px 10px;
    .article-header{
      position: relative;
      min-height: 70px;
      .article-header-left{
        margin-right: 100px;
        .article-title{
        }
        .post-time,
        .comment-count{
          color: @gray-light;
          font-size: 12px;
          display: inline-block;
          margin-right: 40px;
        }
      }
      .article-header-right{
        position: absolute;
        top: 0;
        right: 0;
        width: 96px;
        &:before{
          content: '';
          position: absolute;
          left: -4px;
          top: 4px;
          bottom: 4px;
          width: 4px;
          background: @gray-light;
        }
        .poster-name{
          text-align: center;
          color: @gray-light;
        }
      }

    }
  }

  .replies{
    .new-reply{
      position: relative;
      .new-reply-left{
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
      }
      .new-reply-right{
        margin-left: 45px;
      }
      .reply-input{
        border-radius: 3px;
      }
      .reply-tools{
        width: 100%;
        background: @gray-light;
        padding: 6px;
        .new-img{
          background: transparent;
          color: @gray;
          border:none;
          padding: 0;
          margin-left: 6px;
        }
      }

      .submit{
        border-radius: 2px;
        font-size: 14px;
        padding: 0 15px;
        margin: 5px 0;
      }
    }

    .list-group{
      .media.reply{
        margin: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 10px;
        .reply-author-name{
          small{
            margin-left: 16px;
          }
        }
      }
    }

  }
  
}