<div class="bud topic-list">
  <div class="clearfix title-row">
    <div class="pull-left search">
      <div class="bud input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input class="form-control" type="text" ng-model="viewState.query" placeholder="查询">
      </div>
    </div>
    
  </div>
  <ul class="list-group">
    <div class="clearfix title-row">
      <div class="pull-left">
        <div class="btn-group" dropdown is-open="status.isopen" ng-init="viewState.filterMethod='all'">
          <a type="button" class="btn btn-sm dropdown-toggle">
            {{viewState.filterMethod=='all'?'全部':'只看我的'}}<i class="fa fa-filter"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href ng-click="viewState.filterMethod='all';status.isopen = false">全部</a></li>
            <li><a href ng-click="viewState.filterMethod='createdByMe';status.isopen = false">只看我的</a></li>
          </ul>
        </div>
      </div>
      <div class="pull-right" ng-init="viewState.orderBy = '-$heat' ">
        <a href class="btn btn-sm" 
          ng-class="{'active':viewState.orderBy == '-created'}" 
          ng-click="viewState.orderBy = '-created'">
          发布时间<i class="fa fa-sort-amount-desc"></i>
        </a>
        <a href class="btn btn-sm" 
          ng-class="{'active':viewState.orderBy == '-$heat'}" 
          ng-click="viewState.orderBy = '-$heat'">
          智能排序<i class="fa fa-sort-amount-desc"></i>
        </a>
      </div>
    </div>
    <li class="bud thumbnail media col-md-12 topic"
        ng-repeat="topic in topics|filter:viewState.query|filter: topicsFilter|orderBy:viewState.orderBy"
        ng-class="{'selected':topic._id==selectedTopic._id}"
        >
      <div class="pull-left" href>
        <div class="media-object avatar-md"
             source-attr="background-image"
             src="http://placehold.it/32x32"
             src-key="topic.postBy.avatar"
             suffix="?imageView2/1/w/64/h/64">
        </div>
        <!-- <span>{{topic.postBy.name}}</span> -->
      </div>
      <div class="media-body" ng-click="selectTopic(topic)">
        <div class="pull-left">
          <strong>{{topic.title}}</strong>
          <div class="tags" compile-html="topic.$tags">
          </div>
        </div>
      </div>
      <span class="badge">
        {{topic.replies||0}}
      </span>
    </li>
  </ul>
</div>
