<div ng-show="selectedClasse"
     class="list-group form col-md-8 student-list-group">
  <form class="form list-group-item"
        ng-submit="saveClasse(form)"
        name="form"
        id="classe-name">
    <input class="form-control"
           name="name"
           ng-model="editingClasseName"
           ng-blur="saveClasse(form)"
           placeholder="请输入班级名称"
           required>
  </form>
  <div ui-view class="fadeIn list-group-item">
    <strong>学生列表</strong>
    <span class="liner"></span>
    <input class="form-control search-input"
           ng-model="searchStudent"
           placeholder="查找学生">
    <span class="btn-group pull-right">
      <button class="btn btn-danger btn-sm"
              ng-click="addNewStudent()">
        添加
      </button>
      <label class="btn btn-danger btn-sm">
        <input type="file"
               style="display:none;"
               ng-file-select="onFileSelect($files)"/>
        批量导入
      </label>
      <button class="btn btn-default btn-sm"
              ng-click="deleteStudents(selectedStudents)"
              ng-disabled="selectedStudents.length == 0 || deleting">
        <span ng-if="!deleting">
          删除
        </span>
        <span ng-if="deleting">
          <i class="fa fa-spinner fa-spin"></i>
          删除中
        </span>
        <span ng-if="selectedStudents.length > 0">({{selectedStudents.length}})</span>
      </button>
    </span>

    <hr/>

    <div class="student-info header">
      <input type="checkbox"
             ng-model="toggleSelectAllStudents"
             ng-change="toggleSelect(selectedClasse.$students, toggleSelectAllStudents)"
             class="bud checkbox-default">
      <span class="name">姓名</span>
      <span class="username">用户名</span>
      <span class="email">邮箱</span>
    <span class="pull-right">
      账户状态
    </span>
    </div>
    <div ng-repeat="student in selectedClasse.$students | filter:searchStudent"
         class="student-info">
      <input type="checkbox"
             ng-model="student.$selected"
             ng-change="toggleSelect([student], student.$selected)"
             class="bud checkbox-default">
      <a ui-sref="admin.classeManager.detail.student({classeId:selectedClasse._id, studentId:student._id})">
        <span class="name">{{student.name}}</span>
        <span class="username">{{student.username}}</span>
        <span class="email">{{student.email}}</span>
      <span class="pull-right">
        <span class="status">{{student.status||'活跃'}}</span>
      </span>
      </a>
    </div>
  </div>
</div>
