<div class="classe-manager">
  <div class="col-md-4 list-group classe-list-group">
    <div class="list-group-item new-classe-item">
      <button class="btn btn-danger"
              ui-sref="admin.classeManager.detail({classeId:'new'})">
        <i class="fa fa-plus pull-right"></i>
        新班级
      </button>
    </div>
    <div class="list-group-item classe-info desc">
      <input ng-model="searchClasse"
             class="form-control"
             placeholder="查找班级">
    </div>
    <div class="list-group-item classe-info desc">
      <label>
        <input type="checkbox"
               ng-model="selectedAllClasse"
               ng-click="toggleSelectAll(selectedAllClasse)"
               class="bud checkbox-default">
        <span ng-if="!selectedAllClasse">全选</span>
        <span ng-if="selectedAllClasse">取消全选</span>
      </label>
      <a class="btn btn-link"
         ng-show="nSelectedClasse > 0">删除 ({{nSelectedClasse}})</a>
    </div>
    <div ng-repeat="classe in classesQ.$object | filter:{name:searchClasse} | orderBy:'name'"
         class="list-group-item classe-info">
      <input type="checkbox"
             ng-model="classe.$selected"
             ng-click="classe.$selected=!classe.$selected"
             class="bud checkbox-default">
      <a ui-sref-active="active"
         ui-sref="admin.classeManager.detail({classeId:classe._id})">
        <span class="classe-name">{{classe.name}}</span>
        <span class="badge">{{classe.students.length}}</span>
      </a>
    </div>
  </div>
  <div ui-view class="col-md-8 student-list-group"></div>
</div>
