<div ng-show="selectedClasse"
     class="list-group form">
  <form class="form list-group-item"
        ng-submit="saveClasse(form)"
        name="form"
        id="classe-name">
    <input class="form-control"
           name="name"
           ng-model="selectedClasse.name"
           ng-blur="saveClasse(form)"
           placeholder="班级名称"
           required>
  </form>
  <div class="list-group-item">
    <strong>学生列表</strong>
    <span class="liner"></span>
    <input class="form-control search-input"
           ng-model="searchStudent"
           placeholder="查找学生">
    <span class="btn-group pull-right">
      <button class="btn btn-danger">
        添加
      </button>
      <label class="btn btn-danger">
        <input type="file"
               style="display:none;"
               ng-file-select="onFileSelect($files)"/>
        批量导入
      </label>
      <button class="btn btn-default">
        删除
      </button>
    </span>

    <hr/>

    <div class="student-info header">
      <label class="name">
        <input type="checkbox"
               ng-model="selectedAllStudent"
               ng-change="toggleSelectAll(selectedAllStudent)"
               class="bud checkbox-default">
        姓名
      </label>
      <span class="username">学号</span>
      <span class="email">邮箱</span>
      <span class="pull-right">
        账户状态
      </span>
    </div>
    <div ng-repeat="student in selectedClasse.$students | filter:searchStudent"
         class="student-info">
      <label class="name">
        <input type="checkbox"
               ng-click="student.$selected = !student.$selected"
               class="bud checkbox-default">
        {{student.name}}
      </label>
      <span class="username">{{student.username}}</span>
      <span class="email">{{student.email}}</span>
      <span class="pull-right">
        <span class="status">{{student.status||'活跃'}}</span>
        <button ng-click="delete(student)"
                class="trash">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </span>
    </div>
  </div>

</div>
