.admin {
  .student-list-group {
    .rounded-list(4px);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    #classe-name {
      margin: 0px;
      padding: 8px 5px;
      background-color: #000;
      .form-control {
        cursor: pointer;
        display: inline-block;
        background-color: #000;
        font-size: 1.12em;
        border-radius: 4px;
        border: none;
        color: white;
        &:focus {
          background-color: #333;
          cursor: text;
        }
      }
    }
  }
}
