@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (orientation: portrait) {
  .container {
    max-width: 730px;
  }
}

// injector:less
@import 'article/article.less';
@import 'article/articleTile/articleTile.less';
@import 'comment/comments.less';
@import 'course/courseDetail/courseDetail.less';
@import 'course/courseEditor/courseEditor.less';
@import 'course/courseTile/courseTile.less';
@import 'group/group.less';
@import 'group/groupList/groupList.less';
@import 'group/groupTile/groupTile.less';
@import 'main/main.less';
@import 'settings/profile/profile.less';
@import 'settings/settings.less';
@import 'theme/Jcrop.less';
@import 'theme/anchor.less';
@import 'theme/animations.less';
@import 'theme/avatar.less';
@import 'theme/blog.less';
@import 'theme/checkbox.less';
@import 'theme/footer.less';
@import 'theme/image-display-and-upload.less';
@import 'theme/message-dropdown.less';
@import 'theme/mixin.less';
@import 'theme/modals.less';
@import 'theme/navbar.less';
@import 'theme/radio.less';
@import 'theme/scrollbar.less';
@import 'theme/section.less';
@import 'theme/sprite.less';
@import 'theme/tag.less';
@import 'user/user.less';
@import 'user/userTile/userTile.less';
@import 'decorators/pagination/pagination.less';
@import 'directives/editor/bud-editor.less';
@import 'directives/imageZoom/imageZoomViewer.less';
@import 'directives/pen/pen.less';
@import 'directives/searchInput/searchInput.less';
@import 'directives/titlePlaceholder/title-placeholder.less';
@import 'login/loginModal.less';
@import 'modals/imageCrop/image-crop.less';
@import 'theme/bud-font.less';
@import 'theme/textAngular.less';
@import 'theme/theme.less';
// endinjector
