@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/* Responsive: Portrait tablets and up */
@media screen and (orientation: portrait) {
  .container {
    max-width: 730px;
  }
}

// injector:less
@import 'article/article.less';
@import 'article/articleDetail/articleDetail.less';
@import 'article/articleTile/articleTile.less';
@import 'comment/comments.less';
@import 'course/courseDetail/courseDetail.less';
@import 'course/courseEditor/courseEditor.less';
@import 'course/courseList/course-list.less';
@import 'course/courseTile/courseTile.less';
@import 'group/editGroup/editGroupModal.less';
@import 'group/groupDetail/groupDetail.less';
@import 'group/groupList/groupList.less';
@import 'group/groupTile/groupTile.less';
@import 'main/forgot/forgot.less';
@import 'main/main.less';
@import 'main/reset/reset.less';
@import 'settings/notice/notice.less';
@import 'settings/profile/profile.less';
@import 'settings/settings.less';
@import 'theme/Jcrop.less';
@import 'theme/anchor.less';
@import 'theme/animations.less';
@import 'theme/avatar.less';
@import 'theme/blog.less';
@import 'theme/checkbox.less';
@import 'theme/footer.less';
@import 'theme/image-display-and-upload.less';
@import 'theme/j-carousels.less';
@import 'theme/message-dropdown.less';
@import 'theme/mixin.less';
@import 'theme/navbar.less';
@import 'theme/panel.less';
@import 'theme/radio.less';
@import 'theme/scrollbar.less';
@import 'theme/section.less';
@import 'theme/sprite.less';
@import 'theme/tag.less';
@import 'theme/ul.less';
@import 'user/user.less';
@import 'user/userTile/userTile.less';
@import 'decorators/pagination/pagination.less';
@import 'directives/imageZoom/imageZoomViewer.less';
@import 'directives/pen/pen.less';
@import 'directives/searchInput/searchInput.less';
@import 'directives/titlePlaceholder/title-placeholder.less';
@import 'directives/voteBox/voteBox.less';
@import 'login/loginModal.less';
@import 'modals/imageCrop/image-crop.less';
@import 'modals/message/messageModal.less';
@import 'modals/modals.less';
@import 'theme/bud-font.less';
@import 'theme/button.less';
@import 'theme/textAngular.less';
@import 'theme/theme.less';
// endinjector
