<ul class="pagination">
  <li ng-if="directionLinks"
      class="page-direction"
      ng-class="{disabled: noPrevious()}">
    <a href ng-click="selectPage(page - 1)">
      <i class="fa fa-chevron-left"></i>&nbsp;上一页
    </a>
  </li>
  <li ng-if="pages[0].text!=1" class="npage-btn">
    <a href ui-sref="{page: 1}" ng-click="selectPage(1)">
      1
    </a>
  </li>
  <li ng-repeat="page in pages track by $index"
      class="npage-btn"
      ng-class="{active: page.active}">
    <a href ui-sref="{page: page.number}" ng-click="selectPage(page.number)">
      {{page.text}}
    </a>
  </li>
  <li ng-if="pages[pages.length-1].text!=totalPages">
    <a href ui-sref="{page: totalPages}" ng-click="selectPage(totalPages)">
      {{totalPages}}
    </a>
  </li>
  <li>
    <span class="text-muted">
      转到
      <input type="number"
             class="form-control page-input"
             ng-model="page"
             ng-keydown="$event.keyCode==13 && selectPage(page)">
      页
    </span>
  </li>
  <li ng-if="directionLinks"
      class="page-direction"
      ng-class="{disabled: noNext()}">
    <a href ng-click="selectPage(page + 1)">
      下一页&nbsp;<i class="fa fa-chevron-right"></i>
    </a>
  </li>
</ul>
