.bud.pagination{
  .page-input{
    text-align: center;
    display: inline;
    width: 20px;
    min-width: 20px;
    font-size: 14px;
    padding: 0;
    height: 20px;
  }
  > li > a, > li > span{
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 3px 9px;
    &.text-muted{
      color: #9d9c99;
    }
  }
}