<div class="modal-header">
  <h4 class="modal-title">
    <i class="fa fa-magic"></i>
    魔术
  </h4>
  <a class="close" ng-click="close()">&times;</a>
</div>
<div class="modal-body text-message">
  <h4>什么是魔术，试试在下面输入优酷或腾讯的视频链接吧~</h4>
  <input class="form-control" ng-model="embededcode" placeholder="请输入链接或嵌入式代码">
  <div id="embeded-preview" class="embeded" title="{{embededcode}}">
  </div>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-sm btn-primary"
          ng-click="close(embededcode)">确定</button>
</div>
