<div class="course-tile clearfix">
  <div class="image-btn-group">
    <a ui-sref="courseDetail({courseId:course._id})" target="_blank">
      <div class="course-cover-image" whr="1.5" ng-src="{{course.image}}"></div>
    </a>
    <div class="btn-group" ng-if="course.author._id==me._id">
      <a class="btn btn-primary" ui-sref="courseEditor({courseId: course._id})">编辑</a>
      <a class="btn btn-primary" ng-click="removeCourse(course)">删除</a>
    </div>
  </div>
  <vote-box class="pull-left" entity="course" me="me"></vote-box>
  <a ui-sref="courseDetail({courseId:course._id})" title="{{course.title}}" target="_blank">
    <h4 class="course-title">
      <small class="pull-right comments-count text-muted" style="font-size: 14px;">
        <i class="iconfont icon-discuss"></i>&nbsp;{{course.commentsNum||0}}
      </small>
      {{course.title}}
    </h4>
    <div class="course-summary text-muted">
      {{course.content|htmlToPlaintext}}
    </div>
  </a>
</div>
