/**  discover course tile. todo: responsive */

.course-tile {
  position: relative;
  width: 100%;
  margin: 15px auto;
  display: block;
  overflow: hidden;
  background-color: #FFF;
  .panel-card;
  border-radius: 2px;
  .course-title{
    .text-overflow();
    cursor: pointer;
    padding-right: 50px;
    .transition(all .13s linear);
    &:hover{
      opacity: 0.7;
    }
    .comments-count{
      font-size: 14px;
      margin-right: -50px;
    }
  }
  .vote-box{
    margin: 10px 12px 0 0;
  }
  .course-summary{
    .text-overflow();
    cursor: pointer;
  }
  .course-cover-image{
    height: 200px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/images/no_image.jpg');
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    .box-shadow(0 0px 4px 2px rgba(50,50,50,0.3));
    .transition(all .13s linear);
    &:hover{
      opacity: 0.7;
    }
  }
}
