/**  discover course tile. todo: responsive */

.course-tile {
  position: relative;
  width: 100%;
  margin: 15px auto;
  display: block;
  max-width: 290px;
  .course-title{
    .text-overflow();
    padding-right: 50px;
    .comments-count{
      font-size: 14px;
      margin-right: -50px;
    }
  }
  .vote-box{
    margin: 10px 12px 0 0;
  }
  .course-summary{
    .text-overflow();
  }
  .course-cover-image{
    height: 210px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5px;
    display: inline-block;
  }
}
