<label ng-file-drop="onFileSelect($files)">
  <input type="file" style="display:none;"
         ng-if="!multiple"
         ng-disabled="uploadState!=null&&uploadState!='fail'"
         accept="{{getAcceptValue()}}"
         class="uploader-file-input"
         onclick="this.value = null"
         ng-file-select="onFileSelect($files)"/>
  <input type="file" style="display:none;"
         ng-if="multiple"
         multiple
         onclick="this.value = null"
         accept="{{getAcceptValue()}}"
         class="uploader-file-input"
         ng-disabled="uploadState!=null&&uploadState!='fail'"
         ng-file-select="onFileSelect($files)"/>
  <span ng-if="uploadState=='uploading'">
    <i class="fa fa-spinner fa-spin"></i>
     上传中 {{uploadProgress}}
  </span>
  <span ng-if="uploadState=='converting'">
    <i class="fa fa-spinner fa-spin"></i>
     正在转换
  </span>
  <span ng-if="uploadState=='fail'">
    <i class="fa fa-exclamation-triangle"></i>
     上传失败
  </span>
  <span ng-transclude
        ng-hide="uploadState!=null"></span>
</label>
