.teacher {
  .drag-point {
    cursor:move;
  }
  .dragging{
    box-shadow: 0px 0px 30px #888888;
    opacity: .3;
  }
  .course-card {
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 15px;
    -webkit-box-shadow: .5px 0 1px 0 rgba(146, 146, 146, 0.8);
    box-shadow: .5px 0 1px 0 rgba(146, 146, 146, 0.8);

    &.course-card-new {
      width: 970px;
      height: 403px;
      border: 3px dashed @base-color;
      text-align: center;
      padding-top: 120px;
      .course-btn {
        color: #666;
        padding: 7px;
        margin-bottom: 8px;
        border-radius: 5px;
        border-color: #fff;
        background: #fff;
        .plus {
          color: @base-color;
          font-size: 50px;
          margin-top: -20px;
          display: block;
        }
        label {
          display: block;
          font-size: 22px;
          padding-top: 10px;
        }
      }
      .course-btn:hover,
      .course-btn:focus,
      .course-btn:active,
      .course-btn.active {
        color: #fff;
        .plus {
          color: #fff;
        }
      }
    }
    .course-form {
      border-bottom: solid 1px #ddd;
      .btn.disabled,
      .btn[disabled],
      fieldset[disabled] .btn {
        opacity: 1;
        border: none
      }
      .course-btn {
        color: #fff;
        padding: 7px;
        border-radius: 5px;
        background: #aaa;
        border-color: #aaa;
      }
      .course-btn:hover,
      .course-btn:focus,
      .course-btn:active,
      .course-btn.active {
        color: #fff;
        background-color: @base-color;
        border-color: @base-color;
      }
      .form-control[disabled] {
        cursor: text;
      }
      .form-group {
        margin-bottom: 5px;
      }
      .btn-group {
        margin-top: 5px;
      }
      .course-title {
        font-size: 1.5em;
        padding: 1.1em;
        text-align: center;
      }
      .course-title[disabled] {
        background-color: black;
        border-color: black;
        padding-left: 1.1em;
        color: white;
      }
      .course-control[disabled] {
        padding-left: 0px;
        background: none;
        border-color: #ffffff;
        box-shadow: none;
        .caret {
          display: none;
        }
        .form-control {
          padding-left: 0px;
        }
      }
      .media-object {
        background-color: #9c9c99;
      }
      img[disabled] {
        opacity: .5;
      }
      .course-img {
        position: absolute;
        left: 300px;
        top: 240px;
        padding: 3px 8px 3px 8px;
      }
      .course-detail {
        padding: 15px 30px 0px 20px;
        height: 100%;
      }
      .course-info {
        margin-top: 50px;
        margin-bottom: 10px;
      }
    }
    .btn-block {
      padding: 0px;
    }
    .course-lectures {
      min-height: 370px;
      margin: 0px;
      hr {
        margin-top: 10px;
        margin-bottom: 1px;
        border: 0;
        border-top: 4px solid #999;
      }
      .form-control {
        border-radius: 2em;
        height: 2em;
        line-height: 1em;
      }
      .lecture-list-header {
        .title {
          font-size: 18px;
          margin-right: 15px;
          margin-left: 5px;
          line-height: 1em;
          font-weight: bold;
        }
        .search {
          width: 60%;
        }
        .btn {
          padding: 2px 15px 2px 15px;
        }
      }
      .lecture-list {
        max-height: 288px;
        overflow: scroll;
        margin-top: -1px;
        padding-right: 8px;
        -webkit-user-select:none;
        -user-select:none;
        -moz-user-select:none;
        position:relative;
        .name {
          padding-left: 1px;
          padding-right: 5px;
          border-left: none;
          border-right: none;
        }
        .btn-link {
          color: #555555;
          font-weight: bold;
          font-size: 14px;
          padding: 0px;
        }
        .btn-default {
          color: #fff;
          padding: 3px;
          border-radius: 5px;
          background: #aaa;
          border-color: #aaa;
        }
        .btn-default:hover,
        .btn-default:focus,
        .btn-default:active,
        .btn-default.active {
          color: #fff;
          background-color: rosybrown;
          border-color: rosybrown;
        }
      }
    }
    img {
      border: none;
    }
  }
  .course-list{
    background: #EBEBEB;
    position: relative;
    padding-bottom: 30px;
    .course-btn {
      color: #666;
      padding: 7px;
      border-radius: 5px;
      border-color: #EBEBEB;
      background: #EBEBEB;
      label {
        display: block;
      }
    }
    .course-btn:hover,
    .course-btn:focus,
    .course-btn:active,
    .course-btn.active {
      color: #fff;
      background-color: @base-color;
      border-color: @base-color;
    }

    &.limit-height{
      overflow: hidden;
      @media screen and (min-height: 0px) {
        height: 550px;
      }
      @media screen and (min-height: 700px) {
        height: 915px;
      }
    }
  }
}
