<div class="container">
  <form class="form-horizontal media" name="form" role="form">
    <div class="media-object pull-right">
      <uploader limit="2*1024*1024"
                on-complete="onThumbUploaded($data)"
                accept="image">
        <img src-key="course.thumbnail"
             suffix="?imageView2/2/w/210/h/140"
             src="/assets/images/empty.jpg"/>
      </uploader>
    </div>
    <div class="media-body">
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <label for="course-name">课程名称</label>
        </div>
        <div class="col-sm-10">
          <input class="form-control"
                 id="course-name"
                 name="name"
                 type="text"
                 focus-me="titleInputFocus"
                 ng-init="titleInputFocus=true"
                 ng-model="course.name"
                 placeholder="课程名称"
                 required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <label>课程类别</label>
        </div>
        <div class="col-sm-10">
          <ui-select ng-model="course.categoryId">
            <ui-select-match placeholder="选择一个类别">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="option._id as option in categories | filter: $select.search">
              <span ng-bind-html="option.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <label for="course-info">课程信息</label>
        </div>
        <div class="col-sm-10">
          <textarea class="form-control"
                 id="course-info"
                 name="info"
                 rows="2"
                 ng-model="course.info"
                 placeholder="课程信息">
            </textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit"
                  class="btn btn-default"
                  ng-click="saveCourse(course,form)">
            保存
          </button>
          <button type="button"
                  class="btn btn-link"
                  ng-if="course && course._id"
                  ng-click="deleteCourse(course)">
            删除
          </button>
          <a class="btn btn-link"
             ng-if="course && !course._id"
             ui-sref="teacher.home">
            取消
          </a>
        </div>
      </div>
    </div>
  </form>

  <div ng-if="course._id">
    <hr/>
    <span ng-repeat="classe in classes">
      <a class="btn btn-default"
         ng-click="selectClasse(classe)"
         ng-class="{'btn-primary':course.classes.indexOf(classe._id) != -1}">
        {{classe.name}}
      </a>
    </span>
  </div>

  <hr/>

  <div class="panel panel-default"
       ng-if="course._id">
    <div class="panel-heading">
      <a class="btn btn-default"
         ng-disabled="!course._id"
         ui-sref="teacher.lecture({courseId:course._id, lectureId:'new'})">添加新课时</a>
    </div>
    <ul class="list-group"
        style="-webkit-user-select: none;-user-select: none;-moz-user-select: none;position:relative">
      <li class="list-group-item stretch"
          ng-repeat-reorder="lecture in course.$lectures"
          ng-repeat-reorder-handle="div.drag-point">
        <div class="drag-point fa fa-bars" draggable="true"></div>
        <a ui-sref="teacher.lecture({courseId:course._id, lectureId:lecture._id})">
          <strong>{{lecture.name}}</strong>
        </a>
        <a class="pull-right" ng-click="deleteLecture(lecture)" >
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </li>
    </ul>
  </div>

  <a ui-sref="teacher.courseStats({courseId:course._id})" class="btn btn-primary">
    统计
  </a>

</div>
