<div class="container padding-top-20">
  <form class="form-horizontal media" name="form" role="form">
    <div class="media-object pull-left">
      <uploader limit="2*1024*1024"
                on-complete="onThumbUploaded($data)"
                accept="image">
        <img src-key="course.thumbnail"
             suffix="?imageView2/2/w/700/h/400"
             src="/assets/images/empty.jpg"/>
      </uploader>
    </div>
    <div class="media-body">
      <div class="form-group">
        <div class="col-sm-10">
          <input class="form-control"
                 id="course-name"
                 name="name"
                 type="text"
                 focus-me="titleInputFocus"
                 ng-init="titleInputFocus=true"
                 ng-model="course.name"
                 placeholder="课程名称"
                 required>
        </div>
        <a ng-if="course && course._id" ng-click="deleteCourse(course)">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </a>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <ui-select ng-model="course.categoryId">
            <ui-select-match placeholder="所在专业">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="option._id as option in categories | filter: $select.search">
              <span ng-bind-html="option.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <span ng-repeat="owner in course.owners">{{owner.name}} </span>
      <div style="height: 80px"/>
      简介：
      <div class="form-group">
        <div class="col-sm-10">
          <textarea class="form-control"
                 id="course-info"
                 name="info"
                 rows="5"
                 ng-model="course.info"
                 placeholder="课程信息">
            </textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <a ui-sref="teacher.courseStats({courseId:course._id})" class="btn btn-primary">
            统计
          </a>
          <button type="submit"
                  class="btn btn-primary"
                  ng-click="saveCourse(course,form)">
            确认
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-click="cancelCourse(course)">
            取消
          </button>
        </div>
      </div>
    </div>
  </form>

  <hr/>

  <div class="row">
    <div class="col-md-4"
         ng-if="course._id">
      <div>
        <ui-select ng-model="addingClasse"
                   on-select="addClasse($item)">
          <ui-select-match placeholder="添加班级"><span class="text-muted">添加班级</span></ui-select-match>
          <ui-select-choices repeat="classe in classes | filter:{name:$select.search}">
            <span ng-bind-html="classe.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <hr/>
      <ul class="nav nav-tabs nav-stacked"
          ng-repeat="classe in course.$classes">
        <li><a >
            {{classe.name}}
            <button type="button"
                    class="close"
                    ng-click="removeClasse(classe)">&times;</button>
        </a></li>
      </ul>
    </div>

    <div class="col-md-8"
         ng-if="course._id">
      <div class="form-inline">
        <label><strong>课时</strong></label>
        <input type="text"
               class="form-control"
               placeholder="搜索"
               ng-model="keyword"/>
        <button class="btn btn-primary pull-right"
           ng-disabled="!course._id"
           ui-sref="teacher.lecture({courseId:course._id, lectureId:'new'})">添加</button>
      </div>
      <hr/>
      <ul class="nav nav-tabs nav-stacked"
          ng-repeat-reorder="lecture in course.$lectures | filter:{name:keyword}"
          style="-webkit-user-select: none;-user-select: none;-moz-user-select: none;position:relative"
          ng-repeat-reorder-handle="div.drag-point">
        <li>
          <a>
            <strong>{{lecture.name}}</strong>
            <div class="pull-right">
              <span class="glyphicon glyphicon-pencil"
                      ui-sref="teacher.lecture({courseId:course._id, lectureId:lecture._id})" >
              </span>
              <div class="drag-point glyphicon glyphicon-sort" draggable="true"></div>
              <span class="glyphicon glyphicon-remove" ng-click="deleteLecture(lecture)" >
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
