<div class="modal-header modal-header-black">
  <h4 class="modal-title">创建新课程
    <a class="close" ng-click="close()">&times;</a>
  </h4>
</div>
<form class="form media new-course-form"
      name="form"
      role="form">
  <div class="modal-body">
    <div class="media-object pull-left">
      <img src-key="course.thumbnail"
           holder-src="holder.js/700x400/:#9c9c99:#bbb"
           suffix="?imageView2/2/w/700/h/400"/>
      <uploader limit="2*1024*1024"
                class="course-img btn-danger"
                on-complete="onThumbUploaded($data)"
                accept-type="image"
                crop="true"
                crop-ratio="1.75"
                max-width="1000">
        <span class="glyphicon glyphicon-picture"></span>
        上传封面
      </uploader>
    </div>
    <div class="media-body">
      <div class="form-group">
        <input class="form-control course-title"
               id="course-name"
               name="name"
               type="text"
               focus-me="focusCourseNameInput"
               ng-init="focusCourseNameInput=true"
               ng-model="course.name"
               placeholder="课程名称"
               required>
      </div>
      <div class="form-group">
        <ui-select ng-model="course.categoryId"
                   required>
          <ui-select-match placeholder="所在专业">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="option._id as option in categories | filter: $select.search">
            <span ng-bind-html="option.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        <small class="text-danger"
               style="padding-top: 5px; position: absolute"
               ng-if="submitted && !form.$valid && !course.categoryId">请选择一个专业</small>
      </div>
      <div class="form-group">
        <div class="course-info">
          <span class="label label-primary">简介：</span>
        </div>
        <textarea class="form-control"
                  id="course-info"
                  rows="7"
                  ng-model="course.info"
                  placeholder="课程信息">
        </textarea>
      </div>
      <div class="text-center">
        <button type="submit"
                class="btn btn-primary"
                ng-click="submitted=true; confirmCreate(course, form)">
          确认
        </button>
        <button type="button"
                class="btn btn-warning"
                ng-click="close()">
          取消
        </button>
      </div>
    </div>
  </div>
</form>
