<form class="form-horizontal media course-form" name="form" role="form">
  <div class="media-object pull-left">
    <img src-key="course.thumbnail"
         width="700"
         height="400"
         ng-disabled="editing"
         holder-src="holder.js/700x400/:#9c9c99:#bbb/text:{{getHolderText(editing)}}"
         suffix="?imageView2/2/w/700/h/400"/>
    <uploader limit="2*1024*1024"
              ng-if="editing"
              class="course-img btn-danger"
              on-complete="onThumbUploaded($data)"
              accept="image">
      <span class="glyphicon glyphicon-picture"></span>
      上传封面
    </uploader>
  </div>
  <div class="media-body course-detail">
    <div class="form-group">
      <input class="form-control course-title"
             id="course-name"
             name="name"
             type="text"
             ng-model="course.name"
             ng-disabled="!editing"
             placeholder="课程名称"
             required>
    </div>
    <div class="form-group">
      <ui-select ng-model="course.categoryId"
                 class="course-control"
                 ng-disabled="!editing">
        <ui-select-match placeholder="所在专业">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="option._id as option in categories | filter: $select.search">
          <span ng-bind-html="option.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="form-group">
      <span ng-repeat="owner in course.owners">{{owner.name}} </span>
    </div>
    <div class="form-group">
      <div class="course-info">
        <span class="label label-default">简介：</span>
      </div>
      <textarea class="form-control course-control"
                id="course-info"
                ng-disabled="!editing"
                name="info"
                rows="6"
                ng-model="course.info"
                placeholder="课程信息">
      </textarea>
    </div>
    <div class="form-group pull-right btn-group">
      <div ng-show="!editing">
        <button type="button"
                du-smooth-scroll
                offset="60"
                href="#course-{{course._id}}"
                class="btn btn-default glyphicon glyphicon-pencil course-btn"
                ng-click="switchEditing(course)">
        </button>
      </div>
      <span ng-show="editing">
        <button type="submit"
                du-smooth-scroll
                href="#course-{{course._id}}"
                offset="60"
                class="btn btn-primary"
                ng-click="saveCourse(course,form)">
          确认
        </button>
        <button type="button"
                class="btn btn-warning"
                ng-show="course && course._id"
                ng-click="deleteCourse(course)">
          删除
        </button>
        <button class="btn btn-default"
                du-smooth-scroll
                href="#course-{{course._id}}"
                offset="60"
                ng-click="switchEditing(course)">
          <span ng-if="!course._id">取消</span>
          <span ng-if="course._id">返回</span>
        </button>
      </span>
    </div>
  </div>
</form>