<div id="lectures-{{course._id}}" >
  <div class="row course-lectures">
    <br/>
    <div class="col-md-4"
         ng-if="course._id">
      <div class="row lectures-header">
        <a href="#lectures-{{course._id}}"
           du-smooth-scroll
           offset="60">
          <label class="col-sm-3 title hand-point">班级</label>
        </a>
        <div class="col-sm-10 search-class">
          <ui-select ng-model="addingClasse"
                     on-select="addClasse($item)">
            <ui-select-match placeholder="添加班级"><span class="text-muted">添加班级</span></ui-select-match>
            <ui-select-choices repeat="classe in classes | without:course.classes:'_id' | filter:{name:$select.search}">
              <span tooltip="{{classe.name}}" tooltip-placement="left" tooltip-append-to-body=true ng-bind-html="classe.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <hr class="hr-title"/>

      <tabset vertical="true"
              type="pills"
              class="classe-list">
        <tab ng-repeat="classe in course.classes"
             select="selectClasse(classe)"
             active="classe.$active">
          <tab-heading>
            {{classe.name}}
            <button type="button"
                    class="close"
                    ng-click="removeClasse(classe)">&times;</button>
          </tab-heading>
        </tab>
      </tabset>
    </div>

    <div class="col-md-8 lecture-list-group"
         ng-if="course._id">
      <div class="media lectures-header">
        <a href="#lectures-{{course._id}}"
           du-smooth-scroll
           offset="60">
          <label class="media-object pull-left title hand-point">课时</label>
        </a>
        <div class="media-body form-inline">
          <input type="text"
                 class="form-control search-lecture"
                 placeholder="查找课时"
                 ng-model="keyword"/>
          <button class="btn btn-danger pull-right"
                  ng-disabled="creating"
                  ng-click="createLecture()">

            <span ng-if="!creating">
              <i class="fa fa-plus"></i>
              添加课时
            </span>
            <span ng-if="creating">
              <i class="fa fa-spinner fa-spin"></i>
              添加中
            </span>
          </button>
        </div>
      </div>
      <hr class="hr-title"/>
      <div class="list-group lecture-list"
           sv-root
           sv-on-sort="sortLecture()"
           sv-part="course.$lectures">
        <div class="stretch lecture-item"
             sv-element
             ng-show="filter(lecture, keyword)"
             ng-repeat="lecture in course.$lectures">
          <div class="lecture-icon col-md-1 col-sm-1"
               ng-class="{'active':progressMap[activeProgressKey].indexOf(lecture._id)>=0}">
            <span ng-if="progressMap[activeProgressKey].indexOf(lecture._id)>=0">
              <div class="liner"></div>
              <a class="fa fa-check done btn"
                 ng-click="startTeaching(course, lecture)">
              </a>
            </span>
            <span ng-if="progressMap[activeProgressKey].indexOf(lecture._id)==-1">
              <a class="new btn"
                 ng-class="{'start':firstUndoLecture._id == lecture._id}"
                 ng-click="startTeaching(course, lecture)">
              </a>
            </span>
            <label class="label-danger lecture-icon-tooltip">开始上课</label>
          </div>
          <a class="lecture-content list-group-item col-md-11 col-sm-11" >
            <label ui-sref="teacher.lecture({courseId:course._id, lectureId:lecture._id})">
              {{lecture.name}}
            </label>
            <div class="pull-right">
              <button type="button"
                      class="btn btn-default glyphicon glyphicon-sort"></button>
              <button type="button"
                      class="btn btn-default glyphicon glyphicon-remove"
                      ng-click="deleteLecture(lecture)">
              </button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
