.teacher {
  .drag-point {
    cursor:move;
  }
  .dragging{
    box-shadow: 0px 0px 30px #888888;
    opacity: .3;
  }
  .course-card {
    padding: 0px;
    margin-bottom: 20px;

    .course-form {
      border-bottom: solid 1px #ddd;
    }
    .course-img {
      padding: 0px;
      border: none;
    }
    .media-object {
      margin-right: 15px;
      .btn.disabled,
      .btn[disabled],
      fieldset[disabled] .btn {
        opacity: 1;
      }
    }
    .form-group {
      margin-right: -50px;
    }
    .course-detail {
      margin-top: 15px;
      height: 100%;
    }
    .course-info {
      margin-top: 50px;
      margin-bottom: 15px;
    }
    .btn-block {
      padding: 0px;
    }
    .course-lectures {
      min-height: 300px;
      margin: 0px;
      border-bottom: solid 1px #ddd;
    }
    img {
      border: none;
    }
  }
  .course-list{
    background: #EBEBEB;
    position: relative;
    &.limit-height{
      overflow: hidden;
      @media screen and (min-height: 0px) {
        height: 550px;
      }
      @media screen and (min-height: 700px) {
        height: 915px;
      }
    }
  }
}
