<form class="form-horizontal media course-form" name="form" role="form">
  <div class="media-object pull-left">
    <img src-key="course.thumbnail"
         width="700"
         height="400"
         ng-hide="editingInfo"
         holder-src="holder.js/700x400/:#9c9c99:#bbb/text:未上传课程封面"
         suffix="?imageView2/2/w/700/h/400"/>
    <span ng-if="editingInfo">
      <img src-key="editingInfo.thumbnail"
           width="700"
           height="400"
           holder-src="holder.js/700x400/:#9c9c99:#bbb/text:未上传课程封面"
           suffix="?imageView2/2/w/700/h/400"/>
      <uploader limit="2*1024*1024"
                class="course-img btn-danger"
                on-complete="onThumbUploaded($data)"
                accept="image">
        <span class="glyphicon glyphicon-picture"></span>
        上传封面
      </uploader>
    </span>
  </div>
  <div class="media-body course-detail">
    <div class="form-group"
         tooltip="{{course.name}}">
      <span ng-hide="editingInfo" class="course-name" id="course-name">{{course.name}}</span>
      <span ng-if="editingInfo">
        <input class="form-control course-name"
               id="course-name-input"
               name="name"
               maxlength="30"
               type="text"
               focus-me="courseNameFocus"
               ng-init="courseNameFocus=true"
               ng-model="editingInfo.name"
               placeholder="课程名称"
               required>
      </span>
    </div>
    <div class="form-group">
      <ui-select ng-model="editingInfo.categoryId"
                 class="course-control"
                 ng-if="editingInfo">
        <ui-select-match placeholder="所在专业">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="option._id as option in categories | filter: $select.search">
          <span ng-bind-html="option.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <ui-select ng-model="course.categoryId"
                 class="course-control"
                 ng-disabled="true"
                 ng-if="!editingInfo">
        <ui-select-match placeholder="所在专业">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="option._id as option in categories | filter: $select.search">
          <span ng-bind-html="option.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="form-group">
      <span ng-repeat="owner in course.owners">{{owner.name}} </span>
    </div>
    <div class="form-group">
      <div class="course-info">
        <span class="label label-primary">简介：</span>
      </div>
      <span ng-hide="editingInfo">
        <textarea class="form-control course-control"
                  name="info"
                  ng-disabled="true"
                  rows="6"
                  ng-model="course.info"
                  placeholder="课程信息">
          </textarea>
      </span>
      <span ng-if="editingInfo">
        <textarea class="form-control course-control"
                  ng-if="editingInfo"
                  name="info"
                  rows="6"
                  ng-model="editingInfo.info"
                  placeholder="课程信息">
        </textarea>
      </span>
    </div>
    <div class="form-group pull-right btn-group">
      <div ng-show="!editingInfo">
        <button type="button"
                class="btn btn-default glyphicon glyphicon-pencil course-btn"
                ng-click="switchEdit()">
        </button>
      </div>
      <span ng-show="editingInfo">
        <button type="submit"
                class="btn btn-primary"
                ng-disabled="saving"
                ng-click="saveCourse(form)">
          <span ng-if="!saving">保存</span>
          <span ng-if="saving">
            <i class="fa fa-spinner fa-spin"></i>
            保存中
          </span>
        </button>
        <button type="button"
                class="btn btn-warning"
                ng-click="deleteCourse(course)">
          删除
        </button>
        <button class="btn btn-default"
                ng-click="switchEdit(course)">
          取消
        </button>
      </span>
    </div>
  </div>
</form>