<div id="lectures-{{course._id}}" >
  <div class="row course-lectures"
       ng-show="course.$lectures != null">
    <br/>
    <div class="col-md-4"
         ng-if="course._id">
      <div class="row lectures-header">
        <label class="col-sm-3 title">班级</label>
        <div class="col-sm-10 search-class">
          <ui-select ng-model="addingClasse"
                     on-select="addClasse($item)">
            <ui-select-match placeholder="添加班级"><span class="text-muted">添加班级</span></ui-select-match>
            <ui-select-choices repeat="classe in classes | without:course.classes:'_id' | filter:{name:$select.search}">
              <span ng-bind-html="classe.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <hr/>

      <tabset vertical="true" type="pills">
        <tab ng-repeat="classe in course.classes"
             active="classe.$active">
          <tab-heading>
            <span ng-click="selectedClasse=classe">
              {{classe.name}}
              <button type="button"
                      class="close"
                      ng-click="removeClasse(classe)">&times;</button>
            </span>
          </tab-heading>
        </tab>
      </tabset>
    </div>

    <div class="col-md-8"
         ng-if="course._id">
      <div class="media lectures-header">
        <label class="media-object pull-left title">课时</label>
        <div class="media-body form-inline">
          <input type="text"
                 class="form-control search-lecture"
                 placeholder="查找课时"
                 ng-model="keyword"/>
          <button class="btn btn-primary pull-right"
                  ng-disabled="!course._id"
                  ui-sref="teacher.lecture({courseId:course._id, lectureId:'new'})">添加</button>
        </div>
      </div>
      <hr/>
      <div class="list-group lecture-list">
        <a class="list-group-item name stretch"
           ng-show="filter(lecture, keyword)"
           ng-repeat-reorder="lecture in course.$lectures"
           ng-repeat-reorder-handle="button.drag-point"
           ng-mouseover="overLecture=lecture"
           ng-mouseleave="overLecture=undefined">
          <span ng-click="startTeaching(course, lecture)"
                class="btn btn-link"
                tooltip="点击开始上课">
            {{lecture.name}}
          </span>
          <div class="pull-right" ng-show="overLecture==lecture">
            <button type="button" class="btn btn-default glyphicon glyphicon-pencil"
                    ui-sref="teacher.lecture({courseId:course._id, lectureId:lecture._id})">
            </button>
            <button type="button"
                    class="btn btn-default drag-point glyphicon glyphicon-sort"
                    draggable="true"></button>
            <button type="button"
                    class="btn btn-default glyphicon glyphicon-remove"
                    ng-click="deleteLecture(lecture)">
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
  <a ng-click="toggleLectures(course)"
     ng-show="course._id"
     class="btn btn-block toggle-lectures">
    <span class="anchor anchor-up">
      <i ng-show="course.$lectures == null"
         class="fa fa-chevron-down"></i>
      <i ng-show="course.$lectures != null"
         class="fa fa-chevron-up"></i>
    </span>
  </a>
</div>
