<div>
  <a ng-click="toggleLectures(course)"
     ng-show="course._id"
     du-smooth-scroll
     href="#course-{{course._id}}"
     offset="60"
     class="btn btn-block toggle-lectures">
    <span ng-show="course.$lectures == null"
          class="glyphicon glyphicon-chevron-down"></span>
    <span ng-show="course.$lectures != null"
          class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <div class="row course-lectures"
       ng-show="course.$lectures != null">
    <br/>
    <div class="col-md-4"
         ng-if="course._id">
      <div class="from-inline">
        <ui-select ng-model="addingClasse"
                   on-select="addClasse($item)">
          <ui-select-match placeholder="添加班级"><span class="text-muted">添加班级</span></ui-select-match>
          <ui-select-choices repeat="classe in classes | filter:{name:$select.search}">
            <span ng-bind-html="classe.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <hr/>

      <tabset vertical="true" type="pills">
        <tab ng-repeat="classe in course.classes"
             active="classe.$active">
          <tab-heading>
            <span ng-click="selectedClasse=classe">
              {{classe.name}}
              <button type="button"
                      class="close"
                      ng-click="removeClasse(classe)">&times;</button>
            </span>
          </tab-heading>
        </tab>
      </tabset>
    </div>

    <div class="col-md-8"
         ng-if="course._id">
      <div class="form-inline lecture-list-header">
        <label class="title">课时</label>
        <input type="text"
               class="form-control search"
               placeholder="搜索"
               ng-model="keyword"/>
        <button class="btn btn-primary pull-right"
                ng-disabled="!course._id"
                ui-sref="teacher.lecture({courseId:course._id, lectureId:'new'})">添加</button>
      </div>
      <hr/>
      <div class="list-group lecture-list">
        <a class="list-group-item name stretch"
           ng-show="filter(lecture, keyword)"
           ng-repeat-reorder="lecture in course.$lectures"
           ng-repeat-reorder-handle="button.drag-point"
           ng-mouseover="overLecture=lecture"
           ng-mouseleave="overLecture=undefined">
          <span ui-sref="teacher.teaching({courseId:course._id, lectureId:lecture._id})"
                class="btn btn-link"
                tooltip="点击开始上课">
            {{lecture.name}}
          </span>
          <div class="pull-right" ng-show="overLecture==lecture">
            <button type="button" class="btn btn-default glyphicon glyphicon-pencil"
                    ui-sref="teacher.lecture({courseId:course._id, lectureId:lecture._id})">
            </button>
            <button type="button"
                    class="btn btn-default drag-point glyphicon glyphicon-sort"
                    draggable="true"></button>
            <button type="button"
                    class="btn btn-default glyphicon glyphicon-remove"
                    ng-click="deleteLecture(lecture)">
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
