<form class="form-horizontal media" name="form" role="form">
  <div class="media-object pull-left">
    <uploader limit="2*1024*1024"
              ng-disabled="!editing"
              on-complete="onThumbUploaded($data)"
              accept="image">
      <img src-key="course.thumbnail"
           suffix="?imageView2/2/w/700/h/400"
           src="/assets/images/empty.jpg"/>
    </uploader>
  </div>
  <div class="media-body">
    <div class="form-group">
      <div class="col-sm-10">
        <input class="form-control"
               id="course-name"
               name="name"
               type="text"
               ng-model="course.name"
               ng-disabled="!editing"
               placeholder="课程名称"
               required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <ui-select ng-model="course.categoryId"
                   ng-disabled="!editing">
          <ui-select-match placeholder="所在专业">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="option._id as option in categories | filter: $select.search">
            <span ng-bind-html="option.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <span ng-repeat="owner in course.owners">{{owner.name}} </span>
    <div style="height: 80px"/>
    简介：
    <div class="form-group">
      <div class="col-sm-10">
        <textarea class="form-control"
                  id="course-info"
                  name="info"
                  rows="6"
                  ng-disabled="!editing"
                  ng-model="course.info"
                  placeholder="课程信息">
        </textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12 btn-group">
        <button type="button"
                ui-sref="teacher.courseStats({courseId:course._id})"
                class="btn btn-link">
          统计
        </button>
        <button type="button"
                class="btn btn-link"
                ng-click="editing=!editing">
          <span ng-if="editing">返回</span>
          <span ng-if="!editing">编辑</span>
        </button>
        <button type="submit"
                ng-show="editing"
                class="btn btn-link"
                ng-click="saveCourse(course,form)">
          确认
        </button>
        <button type="button"
                class="btn btn-link"
                ng-show="editing && course && course._id"
                ng-click="deleteCourse(course)">
          删除
        </button>
      </div>
    </div>
  </div>
</form>