<div class="modal-header">
  <h3 class="modal-title">图片上传</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
        <img
        ng-src="{{viewState.previewUrl}}"
        ng-show="viewState.previewUrl"
        alt="预览" class="img-preview">
        <img src="/assets/images/empty.jpg"
        ng-hide="viewState.previewUrl"
        alt="">
      </div>
      <label class="btn btn-default" ng-show="!viewState.uploading">
        <input type="file"
        style="display:none;"
        ng-file-select="onFileSelect($files)"/>
        选择图片
      </label>
      <label class="btn btn-default disabled ng-hide" ng-hide="!viewState.uploading">
        <i class="fa fa-spinner fa-spin"></i>上传中 {{viewState.progress}}
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="confirm()"
  ng-disabled="!files">插入</button>
  <button class="btn btn-warning" ng-click="close()">关闭</button>
</div>
