<div class="bud navbar navbar-default main-nav"
     ng-class="[$state.current.navClasses, ($state.current.authenticate?'auth':'login')]"
     ng-controller="NavbarCtrl">

  <div class="container"
       ng-if="!$state.current.authenticate">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <i class="logo budon budon-logo-with-title" style="font-size: 145px;"></i>
      </a>
    </div>
  </div>

  <div class="container"
       click-outside="switchMenu(true)"
       is-active="!viewState.isCollapsed"
       ng-if="$state.current.authenticate">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button class="navbar-toggle collapsed"
              ng-click="switchMenu(!viewState.isCollapsed)"
              type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ng-click="switchMenu(true)"
         class="navbar-brand">
        <i ng-hide="getCurrentUser().orgId"
           class="budon budon-logo"
           style="font-size: 36px;"></i>
        <span ng-if="getCurrentUser().orgId">
          {{getCurrentUser().orgId.name}}
        </span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse"
         collapse="viewState.isCollapsed"
         id="navbar-main">

      <ul class="bud nav navbar-nav navbar-right">
        <li ng-if="getTitle()"
            class="nav-title"
            ng-class="{active: isActive(getTitle().link)}">
          <a ui-sref="{{getTitle().link}}"
             tooltip-placement="bottom"
             tooltip="{{getTitle().name | minLength:10}}">{{getTitle().name}}</a>
        </li>
        <li ng-repeat="item in additionalMenu"
            ng-class="{active: isActive(item.link)}">
          <a class="text-center" ui-sref="{{item.link}}" ng-bind-html="item.title"></a>
        </li>
        <li ng-show="isLoggedIn()"
            dropdown>
          <a style="margin-right:20px;"
             class="navbar-avatar dropdown-toggle"
             src-key="getCurrentUser().avatar"
             suffix="?imageView2/1/w/64/h/64"
             source-attr="background-image"
             >
          </a>
          <ul class="dropdown-menu message-dropdown" role="menu">
            <div class="message-filters clearfix"
                 ng-init="viewState.messageType = 'message'">
              <span>{{viewState.messageType == 'message'?'消息':'通知'}}</span><span class="text-muted">|</span>
              <a href class="btn btn-nav text-muted"
                 ng-class="{'active':viewState.messageType == 'message'}"
                 ng-click="viewState.messageType = 'message'">
                <i class="fa fa-envelope"></i>
              </a>
              <a href class="btn btn-nav text-muted"
                 ng-class="{'active':viewState.messageType == 'notification'}"
                 ng-click="viewState.messageType = 'notification'">
                <i class="fa fa-bell"></i>
              </a>
              <a class="btn btn-xs btn-clearall pull-right text-muted"
                 ng-click="clearAll()"
                 ng-if="messages.length>0">
                清空消息
              </a>
            </div>
            <ul class="media-list message-list"
                ng-if="messages.length > 0">
              <li ng-repeat="message in messages | filter: {'type': viewState.messageType}"
                  class="message media"
                  ng-click="removeMsg(message)"
                  ui-sref="{{message.link}}">
                <div class="avatar-xs pull-left"
                     src-key="message.raw.fromWhom.avatar"
                     source-attr="background-image"></div>
                <div class="media-body">
                  <a class="close" ng-click="removeMsg(message, $event)">&times;</a>
                  <h6 class="media-heading">
                    {{message.raw.fromWhom.name}}
                    <small>{{message.raw.created|timeToTimeAgo}}</small>
                  </h6>
                  <div class="text-muted">{{message.title}}</div>
                </div>
              </li>
            </ul>
            <div class="bottom-btns clearfix">
              <a class="col-xs-6 text-center btn btn-setting" href="/settings">
                <i class="glyphicon glyphicon-cog"></i>个人设置
              </a>
              <a class="col-xs-6 text-center btn btn-logout" href ng-click="logout()">
                <i class="glyphicon glyphicon-off"></i>退出登录
              </a>
            </div>
          </ul>
          <span class="badge"
                style="position: absolute;top: 10px;left: 25px;"
                ng-show="messages.length">
            {{messages.length||'0'}}
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav-loading" ng-show="$loading"></div>
</div>
