<div class="navbar navbar-main"
     ng-controller="NavbarCtrl">

  <div class="container"
       click-outside="switchMenu(true)"
       is-active="!viewState.isCollapsed">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button class="navbar-toggle collapsed"
              ng-click="switchMenu(!viewState.isCollapsed)"
              type="button">
        <span class="sr-only">戳我</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">STEAM</a>
    </div>

    <div class="navbar-collapse collapse"
         collapse="viewState.isCollapsed">
      <ul class="nav navbar-nav navbar-left">
        <li ng-class="{active:isActive('courseList')}">
          <a ui-sref="courseList">趣课</a>
        </li>
        <li ng-class="{active:isActive('groupList')}">
          <a ui-sref="groupList" >小组</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li  ng-if="!isLoggedIn()">
          <button type="button" class="login-btn btn btn-xs btn-danger btn-outline navbar-btn" login-window>登录</button>
        </li>
        <li ng-if="isLoggedIn()"
            dropdown
            class="profile-dropdown">
          <span dropdown-toggle>
             <span class="avatar-sm navbar-avatar dropdown-toggle" ng-src="{{me.avatar|trusted:'url'}}">
             </span>
             <span>{{me.name}}</span>
          </span>
          <ul class="dropdown-menu profile-menu" role="menu">
            <li><a ui-sref="user.home({userId:me._id})">
              我的主页</a></li>
            <li><a href="/settings">
              个人设置</a></li>
            <li><a href="/" data-no-turbolink="true">
              我的收藏</a></li>
            <li><a href="/">
            通知中心</a></li>
            <li>
              <a href ng-click="logout()"
                 class="dropdown_login_out_link"
                 data-method="delete"
                 rel="nofollow">
                注销登录
              </a>
            </li>
          </ul>
            <span class="badge"
                  ng-show="getMsgCount()">
              {{getMsgCount()||'0'}}
            </span>
        </li>
      </ul>

    </div>

  </div>

  <div class="nav-loading" ng-show="$loading"></div>
</div>
