<!-- navbar-static-top -->
<div class="bud navbar navbar-default navbar-fixed-top main-nav"
     ng-class="{'sub':navInSub}"
     ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle"
              type="button"
              ng-click="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="{{getCurrentUser().role}}.home" class="navbar-brand">
        <img style="width:36px;height:36px;"
             ng-src="{{navInSub?'/assets/images/logo-sub.png':'/assets/images/logo.png'}}"
             alt="logo">
      </a>
    </div>
    <div collapse="isCollapsed"
         class="navbar-collapse collapse"
         id="navbar-main">
      <ul class="bud nav navbar-nav nav-title"
          ng-if="getTitle()">
        <li ng-class="{active: isActive(getTitle().link)}">
          <a ui-sref="{{getTitle().link}}"
             tooltip-placement="bottom"
             tooltip="{{getTitle().name | minLength:10}}">{{getTitle().name}}</a>
        </li>
      </ul>
      <ul class="bud nav navbar-nav navbar-right">
        <li ng-repeat="item in additionalMenu"
            ng-class="{active: isActive(item.link)}">
          <a ui-sref="{{item.link}}" ng-bind-html="item.title"></a>
        </li>
        <li ng-show="isLoggedIn()" class="pull-right" ng-class="{active: isActive('/settings')}" dropdown is-open="dropDownOpen" ng-mouseenter="dropDownOpen=true" ng-mouseleave="dropDownOpen=false">
          <a style="margin-right:20px;"
             class="navbar-avatar dropdown-toggle"
             src-key="getCurrentUser().avatar"
             suffix="?imageView2/1/w/64/h/64"
             source-attr="background-image"
             >
          </a>
          <ul class="dropdown-menu message-dropdown" role="menu">
            <div class="message-filters clearfix" ng-init="viewState.messageType = 'message'">
              <span>{{viewState.messageType == 'message'?'消息':'通知'}}</span><span class="text-muted">|</span>
              <a href class="btn btn-nav text-muted" ng-class="{'active':viewState.messageType == 'message'}" ng-click="viewState.messageType = 'message'">
                <i class="fa fa-envelope"></i>
              </a>
              <a href class="btn btn-nav text-muted" ng-class="{'active':viewState.messageType == 'notification'}" ng-click="viewState.messageType = 'notification'">
                <i class="fa fa-bell"></i>
              </a>
            </div>
            <ul class="media-list message-list" ng-show="messages.length">
              <li ng-repeat="message in messages|filter: {'type': viewState.messageType}" class="message media" ng-click="removeMsg(message)" ui-sref="{{message.link}}">
                <div class="avatar-xs pull-left" src-key="message.raw.fromWhom.avatar" source-attr="background-image"></div>
                <div class="media-body">
                  <h6 class="media-heading">{{message.raw.fromWhom.name}} <small>{{message.raw.created|timeToTimeAgo}}</small></h6>
                  {{message.title}}
                </div>
              </li>
            </ul>
            <div class="bottom-btns clearfix">
              <a class="col-xs-6 text-center btn btn-setting" href="/settings">
                <i class="glyphicon glyphicon-cog"></i>设置
              </a>
              <a class="col-xs-6 text-center btn btn-logout" href ng-click="logout()">
                <i class="glyphicon glyphicon-off"></i>退出
              </a>
            </div>
          </ul>
          <span class="badge" style="position: absolute;top: 10px;left: 40px;" ng-show="messages.length">{{messages.length||'0'}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav-loading" ng-show="$loading"></div>
</div>
