<div ng-include="'components/navbar/navbar.html'"></div>

<form class="form-horizontal container">
  <h3>测试 API</h3>
  <div class="input-group">
    <span class="input-group-addon">
      <b>API</b>
    </span>
    <input class="form-control"
           ng-model="$storage.request"
           focus-me="apiInputFocus"
           ng-init="apiInputFocus=true"
           ng-change="setRequest($storage.request)"
           typeahead="request as request.url for request in getRequests() | filter:{url:$viewValue} | limitTo:8"
           placeholder="输入要测试的API，然后回车"/>
    <div class="btn-group input-group-btn"
         dropdown
         is-open="methods.isOpen"
         on-toggle="toggleDropDown(open)">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="removeRequest()">Clear</button>
        <button type="submit" class="btn btn-default" ng-click="send()">Send {{$storage.request.method}}</button>
        <button type="button" class="btn btn-default dropdown-toggle">
          <span class="caret"></span>
        </button>
      </div>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="method in methods"><a href ng-click="send(method)">{{method}}</a></li>
      </ul>
    </div>
  </div>
  <hr/>
  <h3 ng-click="showRequestData=!showRequestData"
      ng-init="showRequestData=$storage.request.data!=null"
      class="btn-link">
    Request Json Data:
  </h3>
  <div ng-show="showRequestData"
       class="well well-sm">
    <div ui-ace="aceOptions"
         class="ace-editor"
         ng-model="$storage.request.data"
         style="height:200px">
    </div>
  </div>
  <hr/>
  <h3>Response:</h3>
  <tabset class="bud">
    <tab heading="tree view">
      <json-formatter json="response" open="1"></json-formatter>
    </tab>
    <tab heading="raw">
      <div>{{response|json}}</div>
    </tab>
  </tabset>
</form>
