<div class="container">
  <div class="col-md-12">
    <a class="btn btn-primary" ng-click="login('admin@admin.com','admin')">Admin</a>
    <a class="btn btn-primary" ng-click="login('test@test.com','test')">Test</a>
    <input class="form-control" placeholder="用户名" ng-model="$storage.user.username">
    <input class="form-control" placeholder="密码" ng-model="$storage.user.password">
    <a class="btn btn-primary" ng-click="login($storage.user.username,$storage.user.password)">Login</a>
    <a class="btn btn-primary" ng-click="logout()">Log out</a>
    <br/><label>Authorization</label><div>{{token}}</div>
  </div>

  <div class="col-md-12">
    <input class="col-md-6 input" ng-model="$storage.request.url"/>
    <select class="btn btn-primary" ng-model="$storage.request.method">
      <option value="GET">GET</option>
      <option value="POST">POST</option>
      <option value="PUT">PUT</option>
      <option value="DELETE">DELETE</option>
    </select>
    <a class="btn btn-primary" ng-click="send()">Send</a>
  </div>
  <hr/>

  <h3>json body</h3>

  <div class="col-md-12">
    <div ui-ace="aceOptions" class="ace-editor" ng-model="$storage.request.data" style="height:300px"></div>
  </div>
  <h3>response</h3>
  <div class="col-md-12">
    <tabset class="bud">
      <tab heading="tree view">
        <json-formatter json="response" open="1"></json-formatter>
      </tab>
      <tab heading="raw">
        <div>{{response|json}}</div>
      </tab>
    </tabset>
  </div>

  <div class="col-md-12" style="margin-top:100px">
    timestamp to datetime
    <input ng-model="timestamp">
    <div>{{timestamp|uxToLocaleTime}}</div>
  </div>

</div>
