<div class="user-tile-md">
  <a class="user-name" ui-sref="user.home({userId: user._id})">
    <div class="avatar-sm inline-block-middle"
         ng-src="{{user.avatar|trusted:'url'}}"
         style="cursor: pointer"
         ui-sref="user.home({userId:user._id})"></div>
    {{user.name}}
  </a>
  <a ng-if="me._id == user._id"
     ui-sref="settings.profile"
     class="btn btn-sm btn-primary pull-right">
    <i class="fa fa-pencil"></i>&nbsp;编辑
  </a>
  <button login-window
          ng-if="me._id != user._id"
          login-success="toggleFollow()"
          ng-class="{'btn-primary':follow}"
          class="btn btn-sm btn-default follow-btn pull-right">
    <span ng-if="!follow" tooltip="点击关注该用户">
      <i class="fa fa-plus"></i>&nbsp;关注
    </span>
    <span ng-if="follow" tooltip="点击取消关注">
      <i class="fa fa-check-circle"></i>&nbsp;已关注
    </span>
  </button>
  <div class="user-info clearfix">
    <div class="text-muted">{{user.info}}</div>
    <div class="status">
      关注&nbsp;
      <a href
         ui-sref-active="active"
         ui-sref="user.following({userId:user._id})">
        {{userStatus.numFollowings}}
      </a>
    </div>
    <div class="status">
      粉丝&nbsp;
      <a href
         ui-sref-active="active"
         ui-sref="user.followers({userId:user._id})">
        {{userStatus.numFollowers}}
      </a>
    </div>
    <div class="status">
      趣课&nbsp;
      <a href
         ui-sref-active="active"
         ui-sref="user.courses({userId:user._id})">
        {{userStatus.numCourses}}
      </a>
    </div>
    <div class="status">
      文章&nbsp;
      <a href
         ui-sref-active="active"
         ui-sref="user.articles({userId:user._id})">
        {{userStatus.numArticles}}
      </a>
    </div>
  </div>
</div>
