.user-tile {
  padding: 25px 25px;
  text-align: center;
  .user-name {
    .text-overflow();
    font-size: 18px;
    a {
      text-align: center;
      .text-overflow();
      text-decoration: none;
      color: #333;
      display: block;
      padding-top: 10px;
      padding-bottom: 15px;
      .transition(all .13s linear);
      &:hover {
        color: @base-color;
      }
    }
    small {
      white-space: normal;
    }
  }
  .follow-btn-group {
    padding-top: 10px;
    min-height: 30px;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .user-courses {
    text-align: left;
    margin-left: -8px;
    margin-right: -8px;
    .list-title {
      margin: 0;
      margin-bottom: 10px;
      a {
        margin-top: 2px;
        margin-right: -5px;
      }
    }
    .list-item {
      margin: 0;
      margin-top: 5px;
      margin-right: 25px;
      .text-overflow();
    }
    .item-like {
      position: absolute;
      right: 30px;
      color: #D8D8D8;
    }
  }
  .user-articles {
    .user-courses;
  }
  .user-states {
    font-size: 0;
    margin-left: -25px;
    margin-right: -25px;
    .state {
      width: 25%;
      display: inline-block;
      a {
        text-decoration: none;
        font-size: 20px;
        .text-muted {
          font-size: 14px;
        }
      }
      + .state {
        border-left: 1px solid #eee;
      }
    }
  }
}
