<div class="panel panel-card user-tile">
  <div class="avatar-lg"
       ng-src="{{user.avatar|trusted:'url'}}"
       style="cursor: pointer"
       ui-sref="user.home({userId:user._id})"></div>
  <h4 class="user-name">
    <a href=""
       ui-sref="user.home({userId: user._id})">
      {{user.name}}
    </a>
    <small>{{user.info}}</small>
  </h4>
  <div class="follow-btn-group">
    <a ng-if="me._id == user._id"
       ui-sref="settings.profile"
       class="btn btn-sm btn-primary">
      <i class="fa fa-pencil"></i>&nbsp;编辑个人信息
    </a>
    <button login-window
            ng-if="me._id != user._id"
            login-success="toggleFollow()"
            ng-class="{'btn-primary':follow}"
            class="btn btn-sm btn-default">
      <span ng-if="!follow" tooltip="点击关注该用户">
        <i class="fa fa-plus"></i>&nbsp;关注
      </span>
      <span ng-if="follow" tooltip="点击取消关注">
        <i class="fa fa-check-circle"></i>&nbsp;已关注
      </span>
    </button>
  </div>
  <hr>
  <div ng-if="courses" class="user-courses">
    <p class="list-title text-muted">作者最新的趣课</p>
    <p ng-repeat="course in courses" class="list-item">
      <a ui-sref="courseDetail({courseId: course._id})">{{course.title}}</a>
      <span class="pull-right item-like">
        <i class="fa fa-heart"></i>&nbsp;<span class="text-muted">{{course.likeUsers.length || 0}}</span>
      </span>
    </p>
  </div>
  <div class="user-status clearfix"
       ng-if="userStatus">
    <div class="status">
      <a href
         ui-sref-active="active"
         ui-sref="user.following({userId:user._id})">
        {{userStatus.numFollowings}}
        <div class="text-muted">关注</div>
      </a>
    </div>
    <div class="status">
      <a href
         ui-sref-active="active"
         ui-sref="user.followers({userId:user._id})">
        {{userStatus.numFollowers}}
        <div class="text-muted">粉丝</div>
      </a>
    </div>
    <div class="status">
      <a href
         ui-sref-active="active"
         ui-sref="user.courses({userId:user._id})">
        {{userStatus.numCourses}}
        <div class="text-muted">趣课</div>
      </a>
    </div>
    <div class="status">
      <a href
         ui-sref-active="active"
         ui-sref="user.articles({userId:user._id})">
        {{userStatus.numArticles}}
        <div class="text-muted">文章</div>
      </a>
    </div>
  </div>
</div>
