<div class="panel panel-card user-tile">
  <div class="avatar-lg"
       ng-src="{{user.avatar}}"
       style="cursor: pointer"
       ui-sref="user.home({userId:user._id})"></div>
  <h4 class="user-name">
    <a href=""
       ui-sref="user.home({userId: user._id})">
      {{user.name}}
    </a>
    <small>{{user.info}}</small>
  </h4>
  <button login-window
          login-success="toggleFollow()"
          ng-if="me._id != user._id"
          class="btn btn-sm btn-primary follow-btn">
    <span ng-if="!follow">
      <i class="fa fa-plus-circle"></i>&nbsp;关注
    </span>
    <span ng-if="follow">
      <i class="fa fa-check-circle"></i>&nbsp;已关注
    </span>
  </button>
  <hr>
  <div class="user-status clearfix">
    <div class="status">
      <a href
         ui-sref-active="active"
         ui-sref="user.following({userId:user._id})">
        {{userData.numFollowings}}
        <div class="text-muted">关注</div>
      </a>
    </div>
    <div class="status">
      <a href
         ui-sref-active="active"
         ui-sref="user.followers({userId:user._id})">
        {{userData.numFollowers}}
        <div class="text-muted">粉丝</div>
      </a>
    </div>
    <div class="status">
      <a href
         ui-sref-active="active"
         ui-sref="user.courses({userId:user._id})">
        {{userData.numCourses}}
        <div class="text-muted">趣课</div>
      </a>
    </div>
    <div class="status">
      <a href
         ui-sref-active="active"
         ui-sref="user.articles({userId:user._id})">
        {{userData.numArticles}}
        <div class="text-muted">文章</div>
      </a>
    </div>
  </div>
</div>
