.user-tile {
  .avatar-lg {
    margin-top: 10px;
  }
  .user-name {
    .text-overflow();
    a {
      .text-overflow();
      text-decoration: none;
      color: #333;
      display: block;
      padding-top: 15px;
      padding-bottom: 5px;
      .transition(all .13s linear);
      &:hover {
        color: @base-color;
      }
    }
  }
  .follow-btn {
    height: 26px;
    margin-top: 8px;
    margin-bottom: 14px;
    padding: 3px 10px;
  }
  hr {
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .user-status {
    font-size: 0;
    .status {
      font-size: 14px;
      width: 25%;
      display: inline-block;
      .number {
        color: @base-color;
        font-size: 20px;
      }
      border-right: 1px solid #eee;
      &:nth-last-child(1){
        border-right: none;
      }
    }
  }
}
