<div class="user-tile-inline">
  <a class="user-name" ui-sref="user.home({userId: user._id})">
    <div class="avatar-sm inline-block-middle"
         ng-src="{{user.avatar}}"
         style="cursor: pointer"
         ui-sref="user.home({userId:user._id})"></div>
    {{user.name}}
  </a>
  <span ng-if="me._id != user._id">
    <button login-window
            login-success="toggleFollow()"
            class="btn btn-sm btn-primary follow-btn pull-right">
      <span ng-if="!follow">
        <i class="fa fa-plus-circle"></i>&nbsp;关注
      </span>
      <span ng-if="follow">
        <i class="fa fa-check-circle"></i>&nbsp;已关注
      </span>
    </button>
  </span>
  <div class="user-info clearfix">
    <div class="text-muted">{{user.info}}</div>
    <div class="status">
      关注&nbsp;
      <a href
         ui-sref-active="active"
         ui-sref="user.following({userId:user._id})">
        {{userData.numFollowings}}
      </a>
    </div>
    <div class="status">
      粉丝&nbsp;
      <a href
         ui-sref-active="active"
         ui-sref="user.followers({userId:user._id})">
        {{userData.numFollowers}}
      </a>
    </div>
    <div class="status">
      趣课&nbsp;
      <a href
         ui-sref-active="active"
         ui-sref="user.courses({userId:user._id})">
        {{userData.numCourses}}
      </a>
    </div>
    <div class="status">
      文章&nbsp;
      <a href
         ui-sref-active="active"
         ui-sref="user.articles({userId:user._id})">
        {{userData.numArticles}}
      </a>
    </div>
  </div>
</div>
