<div class="main">
  <div class="container">
    <div class="panel panel-info course-panel">
      <div class="panel-heading">
        课程
        <a ui-sref="course" class="btn btn-xs pull-right"><i class="fa fa-plus"></i></a>
      </div>
      <div class="panel-body">
        <ul class="media-list">
          <li class="media" ng-repeat="course in courses">
            <a class="media-left" href="#">
              <img holder-src="" ng-src="{{course.thumbnail}}">
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{course.title}}</h4>
              <p>{{course.content}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        类别
      </div>
      <div class="panel-body">
        <ul class="media-list">
          <li class="media" ng-repeat="categories in categoriess">
            <a class="media-left" href="#">
              <img holder-src="" ng-src="{{categories.thumbnail}}">
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{categories.title}}</h4>
            </div>
          </li>
        </ul>
        <form name="form" ng-submit="createCategory()">
          <div class="form-group">
            <label>
              名称
              <input type="text" class="form-control" ng-model="newCategory.name" required>
            </label>
          </div>
          <div class="form-group">
            <img ng-src="{{newCategory.logo}}" alt="" src="/assets/images/empty.jpg">
            <uploader class="btn btn-danger"
                      on-complete="onImageUploaded($data, newCategory, 'logo')"
                      accept-type="image"
                      crop="true"
                      crop-ratio="1"
                      max-width="64">
              logo
            </uploader>
          </div>
          <input type="submit" class="btn btn-danger">
        </form>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        课程
      </div>
      <div class="panel-body">

      </div>
    </div>

  </div>
</div>
