<div class="discover">
  <div class="container discover-search">
    <div class="col-md-8 col-md-offset-2">
      <div class="sprite-search-bar-hat"></div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <form>
        <div class="input-group input-group-lg">
          <input type="text" class="form-control">
          <!-- hack to let the input keep rounded :( -->
          <div class="sprite-search-bar-addon"></div>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">搜索</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="discover-body">
    <div class="container">
      <!-- recommended articles -->
      <div class="col-lg-6 block">
        <h4 class="block-title">
          <i class="title-icon budon budon-news"></i>
          STEM 最新资讯
        </h4>

        <div class="article-tile">
          <div src-key="'0/YGMYZiJvrI/programming_code_desktop_960x800_hd-wallpaper-1168547.jpg'" source-attr="background-image" class="article-image"></div>
          <h4 class="article-title">
          “现在的工业机器人都太笨了”，来自MIT和CMU的Mujin公司试图让机器人变聪明
          </h4>
          <p class="article-summary text-muted">
          “机器人将会改变世界。
          </p>
          <div class="article-info">
            <div class="article-post-time">
             12分钟前
            </div>
            <div class="avatar-xs">
            </div>
            <span>STEM联盟</span>
            <a href="" class="btn btn-xs pull-right">
              <i class="budon budon-send"></i>
            </a>
          </div>
        </div>

        <div class="article-tile">
          <div src-key="'0/Cr7cgZp88w/20140324094718680.jpg'" source-attr="background-image" class="article-image"></div>
          <h4 class="article-title">
          “现在的工业机器人都太笨了”，来自MIT和CMU的Mujin公司试图让机器人变聪明
          </h4>
          <p class="article-summary text-muted">
          “机器人将会改变世界。
          </p>
          <div class="article-info">
            <div class="article-post-time text-muted">
             12分钟前
            </div>
            <div class="avatar-xs">
            </div>
            <span>STEM联盟</span>
            <a href="" class="btn btn-xs pull-right">
              <i class="budon budon-send"></i>
            </a>
          </div>
        </div>

        <div class="block-pager">

        </div>
      </div>

      <!-- newest courses -->
      <div class="col-lg-6 block">
        <div class="col-sm-12">
          <h4 class="block-title">
            <i class="title-icon budon budon-course"></i>
            最新趣课
          </h4>
        </div>
        <div class="col-sm-6" ng-repeat="course in courses">
          <div class="course-tile">
            <div class="course-cover-image" src-key="course.image" source-attr="background-image">
            </div>
            <h4 class="course-title">
              {{course.title}}
            </h4>
            <hr>
            <div class="tool">
              <i class="budon budon-tool"></i>
              <div class="badge">{{course.ingredients.length||0}}</div>
            </div>
            <div class="ingredients">
              <div class="scroll">
                <div class="ingredient text-muted" ng-repeat="ingredient in course.ingredients">
                  <div class="ingredient-image" src-key="ingredient.image" source-attr="background-image"></div>
                  x
                  {{ingredient.quantity}}
                </div>
              </div>
            </div>
            <hr>
            <div class="status text-muted">
              <i class="fa fa-heart">
              </i>
              {{course.likes}}
            </div>

            <div class="pull-right">
              <div class="avatar-xs" src-key="course.postBy.avatar" source-attr="backgroud-image"></div>
              {{course.postBy.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
