.discover{

  /**  search bar. todo: responsive */
  .discover-search{
    .sprite-search-bar-hat{

    }
    .sprite-search-bar-addon{
      position: absolute;
      z-index: 4;
      top: 6px;
      left: 10px;
    }
    .input-group{
      input.form-control{
        padding-left: 40px;
      }
    }
  }

  /**  discover-body. */
  .discover-body{
    margin-top: 28px;
    padding-top: 20px;
    background: #f1f1f1;
    min-height: 576px;

    .block{
      .block-title{
        .title-icon{
          color: #f1f1f1;
          background: #000;
          width: 32px;
          height: 32px;
          border-radius: 16px;
          font-size: 16px;
          padding: 8px 9px;
        }
      }
    }
  }

}

/**  discover article tile. todo: responsive */
.article-tile{
  position: relative;
  background: #FFF;
  .box-shadow(1px 1px 1px 1px rgba(0,0,0,0.3));
  height: 215px;
  width: 100%;
  padding: 18px;
  margin: 20px 0;
  display: inline-block;

  .article-image{
    float: left;
    height: 100%;
    width: 300px;
    margin-right: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .article-title{
    max-height: 76px;
  }
  .article-summary{
  }
  .article-info{
    position: absolute;
    height: 54px;
    display: inline-block;
    right: 18px;
    bottom: 0px;
    width: 190px;
    border-top: 1px solid #f1f1f1;
    .article-post-time{
      margin: -9px auto 5px auto;
      background: #FFF;
      width: 100px;
      text-align: center;
      font-size: 12px;
    }
    .avatar-xs{
      display: inline-block;
      vertical-align: middle;
    }
    .budon-send{
      font-size: 18px;
    }
  }
}

/**  discover course tile. todo: responsive */
.course-tile {
  position: relative;
  background: #FFF;
  .box-shadow(1px 1px 1px 1px rgba(0,0,0,0.3));
  height: 473px;
  width: 100%;
  padding: 16px;
  margin: 15px 0;
  display: inline-block;
  .course-title{
    margin-bottom: 35px;
    .text-overflow();
  }
  .course-cover-image{
    height: 283px;
    width: 100%;
    margin-right: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .tool{
    margin: auto;
    width: 45px;
    margin-top: -25px;
    background: #fff;
    text-align: center;
    font-size: 20px;
    color: #262626;
    .badge{
      padding: 4px 7px;
      .transform(scale(0.7, 0.7) translate(0, -9px));
      background: @base-color;
      margin-left: -12px;
    }
  }
  hr{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ingredients{
    white-space: nowrap;
    overflow: auto;
    .ingredient{
      width: 48px;
      height: 40px;
      border: 1px solid @base-color;
      border-radius: 4px;
      display: inline-block;
      margin: 2px;
      font-size: 12px;
      padding: 2px;
      word-spacing: -2px;
      .ingredient-image {
        width: 28px;
        height: 34px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
  .status{
    display: inline-block;
    margin-right: 15px;
    .fa-heart{
      color: @brand-danger;
    }
  }
  .avatar-xs{
    display: inline-block;
    vertical-align: middle;
  }
}
