.student{
  .lecture-view{
    padding-bottom: 50px;
    .container{
      background: #FFFFFF;
      position: relative;
      border:1px solid #DDDDDD;
      .box-shadow(0 0 2px #DDDDDD);
      padding: 0;
    }
    .lecture-header{
      padding: 12px 24px;
      h3{
        margin: 0;
      }
      div.text-muted{
        max-height: 60px;
        .text-overflow();
        white-space: initial;
      }
      hr{
        margin:15px;
      }
    }
    .key-points{
      .indicator{
        width: 90px;
        height: 60px;
        padding: 10px 20px;
        margin-left: 10px;
        i{
          font-size: 24px;
          color: @base-color;
        }
      }
      .list-group{
        margin-left: 110px;
        padding: 12px;
        border: 1px solid #ddd;
        margin-top: 25px;
        margin-right: 40px;
        .key-point{
          height: 30px;
          min-width: 55px;
          padding: 4px 12px;
          .text-overflow();
          background: @gray;
          color: #FFFFFF;
          border-radius: 5px;
          margin: 3px 6px;
          &.active{
            background: @base-color;
          }
        }
      }
    }
    &.player{
      .view{
        .ppt-view{
          height: 420px;
          .ppt-viewer{
            height: 100%;
            width: 100%;
            .box-shadow(none);
          }
        }
        .video-view{
          width: 100%;
          margin:auto;
        }
      }

      .switch{
        position: absolute;
        left: -61px;
        z-index: 0;
        top: 150px;
        width: 60px;
        display: inline-block;
        padding-top: 1px;
        .btn{
          width: 60px;
          height: 60px;
          background: #FFFFFF;
          color: @gray;
          padding-left: 5px;
          padding-right: 5px;
          border: 1px solid #DDDDDD;
          border-right: none;
          margin-top: -1px;
          position: relative;
          &:nth-child(1){
            border-top-left-radius: 3px;
          }
          &:nth-last-child(1){
            border-bottom-left-radius: 3px;
          }
          i{
            font-size: 25px;
            line-height: 48px;
          }
          &.active{
            background: @base-color;
            color: #FFFFFF;
          }
          &.sub.active{
            background: #FFFFFF;
            color: @base-color;
          }
          &.selected{
            &:before{
              content: '';
              position: absolute;
              right: -1px;
              top: 50%;
              margin-top: -8px;
              border-right: 16px solid #FFFFFF;
              border-top: 8px solid transparent;
              border-bottom: 8px solid transparent;
              width: 0;
              height: 0;
              z-index: 10;
            }
          }
        }
      }
    }
  }

  .mask{
    position: fixed;
    right: 0;
    top:60px;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: rgba(0,0,0,.3);
    opacity: 1;
  }

  .sider{
    position: fixed;
    right: 0;
    top:60px;
    bottom: 0;
    width:550px;
    background: #FFFFFF;
    .box-shadow(0 3px 3px 3px rgba(0,0,0,0.3));
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    .container{
      width: 550px;
    }
    .transition(right ease-in-out 0.2s);
    &.ng-hide-add,
    &.ng-hide-remove{
      display: block !important;
    }
    &.ng-hide {
      display: none;
      right: -550px;
    }
  }
  .empty{
    padding: 50px;
    text-align: center;
    font-size: 20px;
    color: @gray-light;
    border: @base-color dashed 2px;
    margin: 50px;
  }
  .quiz-and-homework{
    background: @gray-lighter;
  }
}

.sider-open{
  overflow: hidden;
}
