<div class="jumbotron time-table"
     src-key="'/assets/images/timetable_back.png'"
     suffix="?imageMogr2/blur/35x35"
     source-attr="background-image"
     id="timetable">
  <div class="content hidden-xs clearfix">
    <div class="calendar-continer clearfix">
      <a class="calendar-toggle btn btn-crystal rounded"
         >
        <i class="fa fa-calendar"></i>
      </a>
      <span class="date-display">{{getWeek()}}</span>
      <div class="up-down pull-right">
        <a class="btn btn-crystal rounded fa fa-caret-up"></a>
        <a class="btn btn-crystal rounded fa fa-caret-down"></a>
      </div>
      <div class="overlay">

      </div>
      <datepicker ng-model="selectedDay" show-weeks="false" class="bud datepicker" style="display:none"></datepicker>
    </div>

    <div class="text-center pull-left">
      <a href class="arrow" ng-click="prev()">
        <i class="fa fa-chevron-left"></i>
      </a>
    </div>

    <div class="pages pull-left">
      <div class="day day-header">
        <div class="time-span time-span-header">星期</div>
        <div class="time-span" ng-repeat="duration in ['9:00','10:00','11:00','12:00','1:00','2:00','3:00','4:00']">
          {{duration}}
          <sup>
            {{$index>3?'PM':'AM'}}
          </sup>
        </div>
      </div>
      <div class="day" ng-repeat="day in ['一','二','三','四','五']" ng-class="{'today': today.weekday()-1==$index}">
        <div class="time-span time-span-header">{{day}}</div>
        <div class="time-span" ng-repeat="span in ['9:00','10:00','11:00','12:00','1:00','2:00','3:00','4:00']">
        </div>
        <div class="event-row">
          <div class="event-cell" ng-repeat="event in eventSouces[$index]"
               ng-style="{'width':event.endTime.diff(event.startTime, 'minute')*94/60+'px',
               'left':(event.startTime.diff(event.startTime.clone().startOf('day'),'minute')-9*60)*94/60 +'px'}"
               ng-click="onEventClick($event, event)"
               tooltip="{{event.startTime.format('LT')+'-'+event.endTime.format('LT')}}">
            <div class="ahead" ng-style="{background: event.color}" ng-show="event.color"></div>
            <div class="title">{{event.title}}</div>
            <div class="subtitle">
              {{event.subtitle}}
            </div>
            <div class="class-info" ng-show="event.weeks">
              <span class="thisweek circle">{{event.currentWeek}}</span><span>/</span><span class="total circle">{{event.weeks}}</span>周
            </div>
          </div>
        </div>
      </div>
      <div class="tip-top-left">
        <img src="/assets/images/timetable_tip.png" alt="">
      </div>
    </div>

    <div class="text-center pull-left">
      <a href class="arrow" ng-click="next()"><i class="fa fa-chevron-right"></i></a>
    </div>



  </div>
</div>
