<div class="navbar navbar-default home-nav" id="home-nav">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <i class="logo budon budon-logo-with-title" style="font-size: 145px;"></i>
      </a>
    </div>
  </div>
</div>

<section class="home-section text-center" id="main" src-key="'/assets/images/classroom.jpg'" source-attr="background-image">
  <div class="container">
    <h2>教育的云计算时代，从云立方学院开始</h2>
    <p class="text-muted">5秒钟创建班级，1分钟课程上线；实时互动，多维统计，全新“教”与“学”的体验随时陪伴，在指尖跳跃！</p>
    <a class="btn btn-warning btn-lg rounded" href="mailto:info@cloud3edu.com" target="blank">
      <i class="fa fa-envelope"></i>联系我们
    </a>
    <div class="demo hidden-sm hidden-xs" src-key="'/assets/images/demo_1.png'" source-attr="background-image">
    </div>

    <form class="login-form"
          name="form"
          ng-submit="loginDemoUser()">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control input-lg"
                 type="text"
                 placeholder="用户名"
                 ng-model="demoUser.username"
                 disabled
                 name="username">
          <div class="input-group-addon">
            <i class="budon budon-user"></i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control input-lg"
                 type="password"
                 placeholder="密码"
                 name="password"
                 value="******"
                 disabled>
          <div class="input-group-addon">
            <i class="budon budon-lock"></i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-danger btn-lg rounded"
                type="submit">
          <span ng-if="!demoLoading">
            登录演示学生
          </span>
          <span ng-if="demoLoading" >
            <i class="fa fa-spinner fa-spin"></i>
            登录中
          </span>
        </button>
      </div>
    </form>

  </div>
</section>

<feature-list title="云立方学院可以为您带来什么？" distance="850"></feature-list>

<section class="home-section text-center" id="contacts">
  <div class="section_header">
    <h1>
      <i class="diamond"></i><i class="diamond"></i><i class="diamond"></i>
      如果您的教育机构需要
      <i class="diamond"></i><i class="diamond"></i><i class="diamond"></i>
    </h1>
  </div>
  <div class="container">
    <div class="demo col-sm-6 hidden-sm hidden-xs" src-key="'/assets/images/demo_2.png'" source-attr="background-image">
    </div>
    <div class="col-sm-6">
      <ul class="advantages">
        <li><i class="fa fa-check base-color"></i>快速部署在线教育服务，追踪教学过程</li>
        <li><i class="fa fa-check base-color"></i>增强教学和学习体验，机构竞争优势</li>
        <li><i class="fa fa-check base-color"></i>利用课堂实时互动，增强学习效率</li>
        <li><i class="fa fa-check base-color"></i>使用云服务，统计分析大量教学数据</li>
        <li><i class="fa fa-check base-color"></i>充分融合线上和线下的教学</li>
      </ul>
    </div>
    <div class="col-sm-12">
      <a href="mailto:info@cloud3edu.com" target="blank" class="btn btn-warning btn-lg rounded mail-to">
        请联系我们进入云立方学院
      </a>
    </div>
  </div>
</section>

<div ng-include="'components/footer/footer.html'" id="home-footer"></div>



