<div ng-if="courses.$count == null"
     class="text-center">
  加载中...
</div>

<div ng-if="courses.$count == 0"
     class="text-center">
  暂无发布趣课
</div>

<div class="user-view-header">
  {{courses.$count}} 篇趣课
  <a href
     class="btn btn-sm btn-primary pull-right"
     ng-if="user._id==me._id"
     ui-sref="courseEditor">创建趣课</a>
</div>

<div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="course in courses">
  <course-tile course="course" me="me"></course-tile>
</div>

<div class="row pagination-row text-center"
     ng-if="courses.$count"
     ng-show="courses.$count > pageConf.itemsPerPage">
  <pagination total-items="courses.$count"
              ng-model="pageConf.currentPage"
              items-per-page="pageConf.itemsPerPage"
              class="pagination-sm bud"
              ng-change="changePage()"
              boundary-links="true"
              rotate="false"
              max-size="pageConf.maxSize">
  </pagination>
</div>
