<div class="modal-header">
  <h3 class="modal-title">推送随堂问题</h3>
</div>
<div class="modal-body">
  <h4>Q: {{question.content.title}}</h4>
  <ul class="nav nav-pills nav-stacked" role="tablist">
    <li ng-repeat="option in question.content.body"
        role="presentation">
      <a>
        <span>{{$index | indexToABC}}. </span>
        {{option.desc}}
        <span ng-class="{'pull-right glyphicon glyphicon-ok':option.correct}"></span>
      </a>
    </li>
    <li role="presentation">
      <div class="alert alert-warning">
        <b>注解：</b>{{question.solution}}
        <div ng-if="question.keyPoints.length>0">
          <b>知识点：</b><span ng-repeat="id in question.keyPoints">{{getKeyPoint(id).name}} </span>
        </div>
      </div>
    </li>
  </ul>
  <div ng-if="pushed">
    <hr/>
    <progressbar class="progress-striped active"
                 max="classe.students.length"
                 value="answers.length"
                 type="success">
      <i style="color:black; font-weight: bold; position: absolute">学生提交数: {{answers.length}} / {{classe.students.length}}</i>
    </progressbar>
  </div>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-danger"
          ng-click="push()">
    <span ng-if="!pushed">开始提问</span>
    <span ng-if="pushed">返回</span>
  </button>
</div>
