<div class="modal-header modal-header-black">
  <h4 class="modal-title">
    回答随堂问题
    <a class="close" ng-click="close()">&times;</a>
  </h4>
</div>
<div class="modal-body push-question-body">
  <h4>Q: {{question.body | questionTitle}}</h4>
  <div class="question-image"
       ng-if="!pushed"
       ng-repeat="imageKey in question.body | questionImage">
    <img ng-src="{{imageKey}}">
  </div>
  <div class="list-group-item question-content">
    <label ng-repeat="option in question.choices"
           class="checkbox question-option"
           ng-class="{'option-correct':option.correct && submitted, 'submit':submitted}">
      <input type="checkbox"
             class="bud checkbox-primary"
             ng-disabled="submitted"
             ng-model="option.$selected">
      <span class="index">{{$index | indexToABC}}. </span>
      {{option.text}}
    </label>
  </div>
  <question-answer question="question"
                   class="question-answer"
                   ng-if="submitted"></question-answer>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-danger"
          ng-click="confirm(question)">
    <span ng-if="!submitted">提交</span>
    <span ng-if="submitted">关闭</span>
  </button>
</div>
