<div class="modal-header modal-header-black">
  <h4 class="modal-title">
    回答随堂问题
    <a class="close" ng-click="close()">&times;</a>
  </h4>
</div>
<div class="modal-body">
  <h4>Q: {{question.content.title}}</h4>
    <div class="checkbox"
         ng-repeat="option in question.content.body">
      <label ng-class="{'label-success':option.correct && submitted}">
        {{$index|indexToABC}}.
        <input type="checkbox" class="bud checkbox-primary"
               ng-disabled="submitted"
               ng-model="option.$selected">
        {{option.desc}}
      </label>
    </div>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-danger"
          ng-click="confirm(question)">
    <span ng-if="!submitted">提交</span>
    <span ng-if="submitted">关闭</span>
  </button>
</div>
