<div class="teacher-teaching">
  <div class="ppt-group"
       ng-show="!showVideo"
       ppt-viewer
       current-index="currentIndex"
       slides="lecture.slides"></div>
  <div class="ppt-all" ng-show="showAllPPT">
    <div class="container" ng-click="togglePPT()">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-md-3 col-lg-3 col-sm-4"
               ng-click="changeCurrentIndex($index)"
               ng-repeat="slide in lecture.slides">
            <img src-key="slide.thumb"
                 ng-class="{'active':$index==currentIndex}"
                 class="ppt-img">
            <label class="ppt-index pull-left">{{$index+1}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="video-group" ng-if="showVideo">
    <videogular class="video-content">
      <vg-video class="videoPlayer" vg-src="lecture.$mediaSource">
      </vg-video>
      <vg-poster-image></vg-poster-image>
      <vg-buffering></vg-buffering>
      <vg-overlay-play></vg-overlay-play>
      <vg-controls class="video-ctrl">
        <vg-play-pause-button></vg-play-pause-button>
        <vg-timeDisplay>{{ currentTime.getSeconds()|second2ReadableTime }}</vg-timeDisplay>
        <vg-scrubBar>
          <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
        </vg-scrubBar>
        <vg-timeDisplay>{{ totalTime.getSeconds()|second2ReadableTime }}</vg-timeDisplay>
        <vg-volume>
          <vg-mutebutton></vg-mutebutton>
          <vg-volumebar></vg-volumebar>
        </vg-volume>
        <vg-fullscreenButton></vg-fullscreenButton>
        <div class="video-btn">
          <button class="btn btn-primary"
                  tooltip="退出视频视图"
                  tooltip-placement="left"
                  ng-click="toggleVideo()">
            <i class="glyphicon glyphicon-film fa-2x"></i>
          </button>
        </div>
      </vg-controls>
    </videogular>
  </div>
  <button class="exit-button btn btn-primary"
     tooltip="退出"
     tooltip-placement="right"
     ui-sref="teacher.lecture({courseId:course._id, lectureId:lecture._id})">
    <i class="fa fa-arrow-left fa-2x"></i>
  </button>
  <div class="pull-right questions-button"
       tooltip="{{genTooltip(showMenu)}}"
       tooltip-placement="left">
    <button class="btn btn-primary question-btn"
            ng-click="showMenu=!showMenu">
      <i class="glyphicon glyphicon-align-justify fa-2x"></i>
    </button>
    <div class="questions-menu" ng-show="showMenu">
      <div class="white-bg">
        <div class="title" role="menuitem">
          <h3>随堂练习</h3>
          <span>目前共有{{lecture.quizzes.length}}个随堂问题</span>
        </div>
        <hr/>
        <div class="questions-group">
          <div ng-repeat="quizze in lecture.quizzes">
            <a class="question list-group-item"
               tooltip-append-to-body=true
               tooltip-placement="left"
               tooltip="推送该练习给{{classe.name}}的学生"
               ng-click="pushQuestion(quizze)">
              <b>{{$index+1}}. {{quizze.body | questionTitle}}</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pull-right tools-button" ng-show="!showVideo">
    <button class="btn btn-primary tool-btn"
            tooltip="切换到视频视图"
            ng-class="{'active':showVideo}"
            ng-click="toggleVideo()">
      <i class="glyphicon glyphicon-film fa-2x"></i>
    </button>
    <span class="split-v"></span>
    <button class="btn btn-primary tool-btn"
            tooltip="列出所有幻灯片"
            ng-class="{'active':showAllPPT}"
            ng-click="togglePPT()">
      <i class="glyphicon glyphicon-th fa-2x"></i>
    </button>
    <span class="page-num">
      <input class="page-current"
             type="number"
             ng-model="currentNum"
             ng-change="changeCurrentIndex(currentNum-1)"/>/<span class="page-total">{{lecture.slides.length}}</span>
    </span>
  </div>
</div>
