.teacher-teaching {
  margin-top:-60px;

  .questions-button {
    margin-top: -45px;
  }
  .question-btn {
    border-radius: 8px;
    padding: 5px 8px 5px 8px;
  }
  .questions-menu {
    position: absolute;
    right: 10px;
    width: 320px;
    margin-top: 10px;
    height: 480px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.60);
    padding: 25px
  }
  .white-bg {
    background: rgba(255, 255, 255, 0.30);
    padding: 10px;
    height: 100%;
    .title {
      color: #ffffff;
    }
    hr {
      border-top: 1px solid #aaaaaa;
    }
  }
  .question {
    color: #aaaaaa;
    display: block;
    font-size: 1.2em;
    border: none;
    background: none;
    border-bottom: 1px solid #aaaaaa;
    cursor: pointer;
  }
  .question:hover {
    color: #eeeeee;
    background: none;
  }
  .question:active {
    color: #ffffff;
    background: @base-color;
  }
}