<div class="user-view-header">
  <i class="fa fa-file-text-o text-muted bigger"></i>&nbsp;&nbsp;{{articles.$count || 0}} 篇文章
  <div class="pull-right">
    <search-input placeholder="搜索文章"
                  keyword="pageConf.keyword"
                  on-submit="reload()">
    </search-input>
    <span ng-if="user._id==me._id">
      <a class="btn btn-sm btn-primary"
         ui-sref="articleNew">创建文章</a>
    </span>
  </div>
  <hr>
</div>

<article-tile article="article"
              ng-repeat="article in articles"
              me="me"></article-tile>

<div class="pagination-row"
     ng-if="articles.$count"
     ng-show="articles.$count > pageConf.itemsPerPage">
  <pagination total-items="articles.$count"
              ng-model="pageConf.currentPage"
              items-per-page="pageConf.itemsPerPage"
              class="pagination-sm bud"
              ng-change="reload()"
              boundary-links="true"
              rotate="false"
              max-size="pageConf.maxSize">
  </pagination>
</div>

<loading-tile data="articles"
              loading-text="加载中..."
              not-found-text="暂无发表文章"
              not-found-icon="fa fa-file-text-o">
</loading-tile>
