<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <form role="form"
            name="articleForm"
            class="article-form panel panel-card"
            ng-submit="">
        <h4 class="text-center">
          <a class="btn btn-link" onclick="javascript:history.back()">
            <i class="fa fa-chevron-left"></i>&nbsp;返回
          </a>
          {{articleAction + articleType}}
        </h4>
        <div class="title-group">
          <div class="title col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <span class="control-label">{{articleType}}标题</span>
            <input type="text"
                   class="form-control"
                   ng-model="article.title"
                   focus-on="articleTitle"
                   placeholder="请输入{{articleType}}标题"
                   required>
          </div>
        </div>
        <div class="editor-group col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div text-angular
               class="article-content col-md-10 col-md-offset-1"
               focus-on="articleContent"
               ng-model="article.content"
               placeholder="请输入内容">
          </div>
        </div>
        <div class="save-button text-center">
          <a class="btn btn-default" onclick="javascript:history.back()">取消</a>
          <button type="submit"
                  ng-click="saveArticle(articleForm)"
                  onclick="javascript:history.back()"
                  class="btn btn-primary">
            {{articleAction=='编辑'?'保存':articleAction}}{{articleType}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
