<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <form role="form"
            name="articleForm"
            class="article-form panel panel-card"
            ng-submit="">
        <h4 class="text-center">
          <a class="btn btn-link" back-button>
            <i class="fa fa-chevron-left"></i>&nbsp;返回
          </a>
          {{articleAction + articleType}}
        </h4>
        <div class="title-group">
          <div class="title col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <span class="col-sm-2 control-label">{{articleType}}标题</span>
            <div class="col-sm-10">
              <input type="text"
                     class="form-control"
                     ng-model="article.title"
                     focus-on="articleTitle"
                     placeholder="请输入{{articleType}}标题"
                     required>
            </div>
          </div>
        </div>
        <div class="title-group">
          <div class="title col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <span class="col-sm-2 control-label">标签</span>
            <div class="col-sm-10">
              <ui-select multiple
                         ng-model="article.tags"
                         id="tag"
                         sortable="true"
                         tagging
                         tagging-label=""
                         on-select="addTag($item, $select.search, $event)"
                         class="form-control">
                <ui-select-match placeholder="请输入要添加的tag，然后按回车">
                  {{$item}}
                </ui-select-match>
                <ui-select-choices repeat="tag in tags | filter:$select.search">
                  {{tag}}
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
        <div class="editor-group col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div text-angular
               class="article-content col-md-10 col-md-offset-1"
               focus-on="articleContent"
               ng-model="article.content"
               fix-when-reach-top
               offset="310"
               placeholder="请输入内容">
          </div>
        </div>
        <div class="save-button text-center">
          <a class="btn btn-default" back-button>取消</a>
          <button type="submit"
                  ng-click="saveArticle(articleForm)"
                  class="btn btn-primary">
            {{articleAction=='编辑'?'保存':articleAction}}{{articleType}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
