<div class="modal-header forum forum-topic-composer">
  <h4 class="modal-title">新的提问</h4>
  <a href ng-click="close()" class="btn btn-crystal rounded close"><i class="fa fa-times"></i></a>
</div>
<div class="modal-body forum forum-topic-composer">
  <div class="clearfix title-row row">
    <div class="form-group col-xs-8">
      <div class="bud input-group">
        <div class="input-group-addon">主题:</div>
        <input class="form-control" type="text" placeholder="请输入您的讨论主题" ng-model="myTopic.title">
      </div>
    </div>
    <div class="form-group col-xs-4">
      <div class="bud input-group">
        <div class="input-group-addon">类型:</div>
         <ui-select ng-model="myTopic.metadata.postType">
          <ui-select-match placeholder="选择类型">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="option as option in ['提问','公告'] | filter: $select.search" >
            <div ng-bind-html="option | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>

  <div class="clearfix title-row row">
    <div class="form-group">
      <div class="bud input-group">
        <div class="input-group-addon">课时:</div>
         <ui-select ng-model="viewState.$lecture" on-select="addLectureAsTag($item)">
          <ui-select-match placeholder="关联课时">
            <span class="text-muted">关联课时</span>
          </ui-select-match>
          <ui-select-choices repeat="option as option in lectures | filter: lectureId |filter: $select.search" >
            <div ng-bind-html="option.name | highlight: $select.search" class="tag-option"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="form-group">
      <div class="bud input-group">
        <div class="input-group-addon">知识点:</div>
        <ui-select ng-model="viewState.$keypoint" on-select="addKeypointAsTag($item)">
          <ui-select-match placeholder="关联知识点">
            <span class="text-muted">关联知识点</span>
          </ui-select-match>
          <ui-select-choices repeat="option as option in keypoints | filter: $select.search">
            <div ng-bind-html="option.name | highlight: $select.search" class="tag-option"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>

  <div class="clearfix title-row row" ng-show="myTopic.metadata.tags.length">
    <div class="tags">
      <div class="tag pull-left" ng-repeat="tag in myTopic.metadata.tags">
        <i class="fa fa-times remove" ng-click="deleteTag(tag)"></i>
        {{tag.name}}
      </div>
    </div>
  </div>

  <div class="title-row">
    <bud-editor
      class="topic-input"
      content="myTopic.content"
      metadata="myTopic.metadata">
    </bud-editor>
  </div>

</div>
<div class="forum modal-footer forum-topic-composer">
  <button class="btn btn-danger" ng-click="create()"
  ng-disabled="!myTopic.title||!myTopic.content">提交</button>
  <button class="btn btn-default" ng-click="close()">取消</button>
</div>
