.user-detail {
  margin-bottom: 30px;
}

.user-ui-view {
  .panel;
  .panel-card;
  min-height: 180px;
  margin: 0;
  padding-bottom: 0;
  .user-view-header {
    padding: 10px;
    padding-bottom: 0;
    hr {
      margin-bottom: 0;
    }
    h4 {
      margin: 0;
      padding: 0 5px;
    }
    .btn-primary {
      margin-left: 15px;
    }
  }
  .search-input {
    margin-top: 0;
    float: right;
    width: 220px;
    input {
      height: 30px;
    }
    .fa {
      top: 8px;
    }
  }
  .user-info-list {
    margin-left: -11px;
    margin-right: -12px;
    margin-top: -1px;
    .user-info {
      margin-right: -1px;
      margin-bottom: -1px;
    }
  }
}

