<div class="container has-header">
  <div class="row">
    <div class="col-md-9">
      <h4>
        最近文章
      </h4>
      <hr/>
      <span ng-if="!articles.length">
        暂无发表文章
      </span>
      <div class="list-group">
        <div class="list-group-item" ng-repeat="article in articles">
          <a ui-sref="article({articleId: article._id})">{{article.title}}</a>
          <small class="pull-right text-muted">
            <a class="text-info"
               target="{{article.author._id}}"
               ui-sref="user({userId: article.author._id})">{{article.author.name}}</a>
            - {{article.created | date}}
          </small>
        </div>
      </div>
    </div>

    <div class="col-md-3 text-center">
      <div class="avatar-lg"
           src-key="user.avatar"
           suffix="?imageView2/1/w/64/h/64"
           source-attr="background-image">
      </div>
      <div class="caption">
        <h3 class="text-info">
          {{user.name}}
        </h3>
        <p>{{user.info}}</p>
        <p class="btn-group"><a class="btn btn-primary">文章 {{articles.length}}</a> <a class="btn btn-default">评论 {{comments.length}}</a></p>
      </div>
    </div>
  </div>
</div>
