<div class="container has-header">
  <div class="row">

    <!-- user info -->
    <div class="col-md-3 text-center">
      <div class="avatar-lg"
           src-key="user.avatar"
           suffix="?imageView2/1/w/64/h/64"
           source-attr="background-image">
      </div>
      <div class="caption">
        <h3 class="text-info">
          {{user.name}}
        </h3>
        <p>{{user.info}}</p>
        <p class="btn-group">
          <a ng-click="courses.$active=true"
             ng-class="{'btn-primary':courses.$active}"
             class="btn btn-default">
             课程 {{courses.$count}}
          </a>
          <a ng-click="articles.$active=true"
             ng-class="{'btn-primary':articles.$active}"
             class="btn btn-default">
             话题 {{articles.$count}}
          </a>
        </p>
      </div>
    </div>

    <!-- user articles & courses-->
    <tabset type="pills"
            justified="true"
            class="col-md-9">
      <tab heading="{{'#mine#课程' | mine:user._id}}" active="courses.$active">
        <br/>
        <div ng-if="!courses.length" class="text-center">
          暂无发布课程
        </div>
        <div class="col-lg-4 col-md-6" ng-repeat="course in courses" ui-sref="courseDetail({courseId:course._id})">
          <course-tile course="course"></course-tile>
        </div>
        <div id="new-course" class="text-center">
          <a href ng-if="user._id==me()._id" ng-click="createCourse()">创建新课程</a>
        </div>
      </tab>
      <tab heading="{{'#mine#话题' | mine:user._id}}" active="articles.$active">
        <br/>
        <div ng-if="!articles.length" class="text-center">
          暂无发表话题
        </div>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="article in articles">
            <a ui-sref="articleDetail({articleId: article._id})">{{article.title}}</a>
            <small class="text-muted">
              - {{article.created | moment: 'fromNow'}}
            </small>
            <span class="pull-right">
              <a href class="text-muted small" login-window login-success="likeClick(article)">{{article.likeUsers.length}}个赞</a>
              &nbsp;
              <a ng-if="article.author._id == me()._id"
                 style="cursor: pointer"
                 ui-sref="articleEditor({articleId:article._id})">
                 编辑
              </a>
              <a ng-if="article.author._id == me()._id"
                 style="cursor: pointer"
                 ng-click="removeArticle(article)">
                 删除
              </a>
            </span>
          </div>
        </div>
        <div id="new-article" class="text-center">
          <a href ng-if="user._id==me()._id" ng-click="createArticle()">创建新话题</a>
        </div>

      </tab>
    </tabset>
  </div>
</div>
