.user-detail {
  margin-bottom: 30px;
}

.user-ui-view {
  .panel;
  .panel-card;
  min-height: 180px;
  margin: 0;
  padding-bottom: 0;
  .user-view-header {
    position: relative;
    padding: 10px;
    padding-bottom: 0;
    hr {
      margin-bottom: 0;
    }
    h4 {
      margin: 0;
      padding: 0 5px;
    }
    .title {
      display: inline-block;
      padding-top: 5px;
      font-size: 15px;
    }
    .btn-primary {
      margin-left: 15px;
      float: right;
    }
    .search-input-group {
      float: right;
      @media screen and (max-width: 550px) {
        float: none;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
  .user-info-list {
    margin-left: -11px;
    margin-right: -12px;
    margin-top: -1px;
    .user-info {
      margin-right: -1px;
      margin-bottom: -1px;
      @media screen and (max-width: @screen-sm-min) {
        margin-right: 1px;
      }
    }
  }
}

