<form class="form-horizontal"
      name="form"
      ng-submit="changePassword(form)">
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fa fa-lock primary"></i>
      修改邮箱登录密码
    </h4>
    <a class="close" ng-click="close()">&times;</a>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="inputOldPassword" class="col-xs-4 control-label">原密码</label>
      <div class="col-xs-8">
        <input type="password"
               id="inputOldPassword"
               name="password"
               class="form-control"
               ng-model="password.old"
               placeholder="请输入您的原始密码"
               mongoose-error
               required/>
      </div>
    </div>

    <div class="form-group">
      <label for="inputNewPassword" class="col-xs-4 control-label">新密码</label>
      <div class="col-xs-8">
        <input id="inputNewPassword" 
               type="password"
               name="newPassword"
               class="form-control"
               placeholder="请输入您的新密码"
               ng-model="password.new"
               required/>
      </div>
    </div>

    <div class="form-group">
      <label for="inputNewPasswordAgain" class="col-xs-4 control-label">确认新密码</label>
      <div class="col-xs-8">
        <input id="inputNewPasswordAgain"
               type="password"
               name="newPasswordAgain"
               class="form-control"
               placeholder="请再一次输入您的新密码"
               ng-model="password.again"
               required/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm"
            type="button"
            ng-click="close()">取消</button>
    <button class="btn btn-danger btn-sm"
            type="submit">修改密码</button>
  </div>
</form>
