<div>
  <div class="row text-center">
    <div class="form-horizontal col-sm-8 col-sm-offset-2" role="form">
      <div class="form-group">
        <div class="avatar-lg"
             ng-src="{{editingInfo.avatar|trusted:'url'}}">
        </div>
      </div>
      <div class="form-group">
        <uploader class="btn btn-danger btn-sm rounded"
                  limit="2*1024*1024"
                  on-complete="onAvatarUploaded($data)"
                  crop="true"
                  crop-ratio="1"
                  max-width="128"
                  accept-type="image">
          修改头像
        </uploader>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <form class="form-horizontal col-sm-8 col-sm-offset-2"
          role="form"
          name="profileForm"
          ng-submit="saveProfile(profileForm)">
      <div class="form-group">
        <label for="inputName" class="col-xs-4 control-label">姓名</label>
        <div class="col-xs-8">
          <input type="text"
                 class="form-control"
                 id="inputName"
                 placeholder="请输入您的姓名"
                 required
                 focus-me="nameInputFocus"
                 ng-init="nameInputFocus=true"
                 mongoose-error
                 ng-model="editingInfo.name">
          <small class="text-danger" ng-if="profileForm.name.$error.mongoose">{{ errors.name.message }}</small>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-xs-4 control-label">邮箱</label>
        <div class="col-xs-8">
          <input type="email"
                 class="form-control"
                 id="inputEmail"
                 disabled
                 ng-model="editingInfo.email">
          <small class="text-danger" ng-if="errors.email">{{ errors.email.message }}</small>
        </div>
      </div>
      <div class="form-group">
        <label for="inputInfo" class="col-xs-4 control-label">简介</label>
        <div class="col-xs-8">
          <textarea type="text"
                    class="form-control"
                    id="inputInfo"
                    placeholder="简单的介绍一下自己吧"
                    ng-model="editingInfo.info"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-8 col-xs-offset-4 text-left">
          <button type="submit"
                  ng-disabled="viewState.saved || viewState.saving"
                  class="btn btn-danger btn-sm rounded" >
            <span ng-if="!viewState.saving">
              <span ng-if="!viewState.saved">保存</span>
              <span ng-if="viewState.saved">已保存</span>
            </span>
            <span ng-if="viewState.saving">
              <i class="fa fa-spinner fa-spin"></i>
              保存中
            </span>
          </button>
          &nbsp;&nbsp;
          <a ui-sref="user.home({userId:user._id})"
             class="btn btn-default btn-sm rounded">返回我的主页</a>
        </div>
      </div>
    </form>
  </div>
</div>
