<div class="comment-tile-simple">

  <div ng-if="comment.image"
       ng-src="{{comment.image | trusted:'url'}}"
       class="comment-image pull-right">
  </div>
  <h4>
    <ul class="ul-inline">
      <li class="user-info">
        <div class="avatar-xs inline-block-middle"
             ng-src="{{comment.postBy.avatar|trusted:'url'}}">
        </div>
        <a ui-sref="user.home({userId: comment.postBy._id})">
          {{comment.postBy.name}}
        </a>
      </li>
      <li>
        {{comment.created | moment: 'fromNow'}}
      </li>
      <li>
        <i class="iconfont icon-like"></i>
        {{comment.likeUsers.length||0}}
      </li>
    </ul>
  </h4>
  <a ui-sref="articleDetail({articleId: comment.belongTo, commentId: comment._id})">
    <p class="comment-summary">
      {{comment.content|htmlToPlaintext}}
    </p>
  </a>
  <small class="text-muted" ng-if="comment.$belongTo">
    评论于&nbsp;<a ui-sref="articleDetail({articleId: comment.$belongTo._id})">{{comment.$belongTo.title}}</a>
  </small>

</div>
