<div class="course-detail">
  <div class="course-steps-nav" ng-class="{'active':root.navbarVisible==false}">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
          <h3 title="{{viewState.selectedStep.title}}" class="step-title"><small>{{course.steps.length}}步骤</small>&nbsp;{{viewState.selectedStep.title}}</h3>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-7 col-xs-7">
          <ul class="ul-steps">
            <li ng-repeat="step in course.steps" ng-class="{'small':$index > viewState.stepIndex+viewState.stepThumbs ||$index < viewState.stepIndex-viewState.stepThumbs }" ng-hide="$index > viewState.stepIndex+viewState.stepThumbs+viewState.stepDots ||$index < viewState.stepIndex-viewState.stepThumbs-viewState.stepDots">
              <a href="#step{{$index+1}}" tooltip="{{step.title}}" tooltip-placement="bottom" class="step-dot" du-smooth-scroll du-scrollspy offset="10"><i class="fa fa-circle"></i></a>
            </li>
          </ul>
          <a href="#step{{viewState.stepIndex==course.steps.length?1:viewState.stepIndex+1}}" offset="10" class="pull-right btn btn-rounded btn-primary btn-outline btn-sm next-step-btn" du-smooth-scroll>{{viewState.stepIndex==course.steps.length?'第一步':'下一步'}}&nbsp;<i class="fa" ng-class="{'fa-long-arrow-up':viewState.stepIndex==course.steps.length,'fa-long-arrow-right':viewState.stepIndex!=course.steps.length}"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <article class="panel panel-card course">
          <div class="course-header">
            <h1>{{course.title}}</h1>
            <small class="text-muted">
              <a class="text-primary"
                 ui-sref="user.home({userId: course.author._id})">{{course.author.name}}</a>
              &nbsp;在{{course.created | moment: 'fromNow'}}&nbsp;
              发表于&nbsp;<a ui-sref="courseList({category:course.categoryId._id||null})">{{course.categoryId.name||'其他'}}</a>
            </small>
            <small class="text-muted stats">
              <span><i class="fa fa-comment"></i>{{course.commentsNum||0}}</span><span>
              <i class="fa fa-heart"></i>{{course.likeUsers.length||0}}</span><span>
              <i class="fa fa-eye"></i>{{course.viewersNum||0}}</span>
            </small>
          </div>

          <div class="course-body blog" compile-html="course.content|trusted"></div>

          <div class="course-like text-center" ng-if="course">
            <vote-box entity="course" me="me">
            </vote-box>
          </div>

          <div class="course-footer">
            <hr>
            <ul class="ul-block">
              <li class="user-info">
                <user-tile me="me" user="course.author" type="small"></user-tile>
              </li>
              <li>
                {{course.created | moment:'calendar'}} <br>
                发表于 <a ui-sref="courseList({category:course.categoryId._id||null})">{{course.categoryId.name||'其他'}}</a>
              </li>
              <li ng-if="course.tags.length" class="tags">
                标签：
                <a ui-sref="courseList({tags:tag})" class="tag" ng-repeat="tag in course.tags" ng-if="$index<5">
                  #{{tag}}
                </a>
                <div class="dropdown pull-right more-tags-dropdown" dropdown>
                  <a title="点击显示全部" dropdown-toggle class="more" ng-if="course.tags.length>=5">
                    <i class="fa fa-ellipsis-h"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a ui-sref="courseList({tags:tag})" class="tag" ng-repeat="tag in course.tags" ng-if="$index>4">
                        #{{tag}}
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>

          <div dropdown
               class="actions-dropdown"
               ng-if="me._id==course.author._id">
            <a class="dropdown-toggle btn btn-md" dropdown-toggle>
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="" ui-sref="courseEditor({courseId:course._id})">编辑</a>
              </li>
              <li>
                <a href="" ng-click="removeCourse(course)">删除</a>
              </li>
            </ul>
          </div>
        </article>
        <div class="panel panel-card comments-panel">
          <comments belong-to="course._id" type="{{const.CommentType.Course}}" me="me"></comments>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <user-tile user="course.author" me="me" type="normal-courses"></user-tile>
        <recommend-courses>
        </recommend-courses>
      </div>
    </div>
  </div>
</div>

