<div class="user-view-header">
  <h4>{{'#mine#关注' | mine: me._id==user._id}}&nbsp;&nbsp;{{following.$count}}</h4>
  <hr>
</div>

<div class="user-info-list">
  <user-tile-inline class="col-lg-6 col-md-6 col-sm-6 user-info"
                    ng-repeat="follow in following"
                    user="follow.to" me="me">
  </user-tile-inline>
</div>

<div class="pagination-row"
     ng-if="following.$count"
     ng-show="following.$count > pageConf.itemsPerPage">
  <pagination total-items="following.$count"
              ng-model="pageConf.currentPage"
              items-per-page="pageConf.itemsPerPage"
              class="pagination-sm bud"
              ng-change="changePage()"
              boundary-links="true"
              rotate="false"
              max-size="pageConf.maxSize">
  </pagination>
</div>

<div ng-if="following.$count == null"
     class="text-center">
  加载中...
</div>

<div ng-if="following.$count == 0"
     class="text-center">
  暂无关注
</div>
