.group-member-list{
  ul {
      margin-top: -20px;
      letter-spacing: -0.31em;
      word-spacing: -0.43em;
      font-size: 0;
  }
  li {
    display: inline-block;
    zoom: 1;
    width: 75px;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
  }
  .member{
    cursor: pointer;
  }
}
