<div class="container has-header">
  <div class="row">

    <div class="col-md-3" text-center>

      <a ui-sref="groupNew"><i>+</i>申请创建小组</a>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">值得加入的小组</h3>
        </div>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="group in groups">
            <a target="_blank" ui-sref="group({groupId: group._id})">{{group.title}}</a>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-sm-12" >
      <div class="panel panel-default setting-panel">
        <div class="panel-body" style="position: relative;">
          <div>
            <h4>
              话题
            </h4>
            <hr/>
        <br/>
        <div ng-if="!articles.length" class="text-center">
          暂无发表话题
        </div>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="article in articles">
            <a ui-sref="articleDetail({articleId: article._id})">{{article.title}}</a>

            <small class="text-muted">
              post by
              <a class="text-info"
                 ui-sref="user({userId: article.author._id})">{{article.author.name}}</a>
              - {{article.created | moment: 'fromNow'}}
            </small>
            <span class="pull-right">
              <small class="text-muted" ng-if="!me()._id">
                {{article.likeUsers.length}}个赞
              </small>
              <small class="text-muted" ng-if="me()._id">
                <a href login-window login-success="likeClick(article)">{{article.likeUsers.length}}个赞</a>
              </small>
            </span>
          </div>
        </div>
        <div id="new-article" class="text-center">
          <a href ng-if="me()._id" ng-click="createArticle()">创建新话题</a>
        </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
