<div class="container has-header">
  <div class="row">

    <div class="col-md-3" text-center>

      <a ui-sref="groupNew"><i>+</i>申请创建小组</a>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">值得加入的小组</h3>
        </div>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="group in groups">
            <a target="_blank" ui-sref="group({groupId: group._id})">{{group.title}}</a>
            
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-sm-12" >
      <div class="panel panel-default setting-panel">
        <div class="panel-body" style="position: relative;">
          <div>
            <h4>
              话题
              <a ui-sref="settings.newArticle" class="btn btn-link pull-right">创建新文章</a>
            </h4>
            <hr/>
            <div class="list-group">
              <div class="list-group-item" ng-repeat="article in articles">
                <a target="_blank" ui-sref="article({articleId: article._id})">{{article.title}}</a>
                <small class="text-muted">- {{article.created | moment:'fromNow'}}</small>
                <span class="pull-right">

                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>