<div class="pen-wrapper">
  <div class="pen" placeholder="{{placeholder}}"></div>
  <div class="pen-wrapper-tools">
    <uploader class="icon-btn fa fa-camera"
      limit="{{imageSizeLimitation}}"
      on-complete="onImageUploaded($data)"
      crop="true"
      max-width="1000"
      accept-type="image">
    </uploader>
    <span dropdown class="emojis-dropdown">
      <i class="icon-btn fa fa-smile-o dropdown-toggle" dropdown-toggle></i>
      <div class="dropdown-menu" role="menu">
        <a href="" class="emoji-icon" ng-repeat="emoji in emojis" ng-click="insertEmoji(emoji)">
          <img ng-src="{{configs.cdn+'/emojis/'+emoji+'.png'}}" title="{{':'+emoji+':'}}" alt="{{':'+emoji+':'}}">
        </a>
      </div>
    </span>
  </div>
</div>
