<div class="user-view-header">
  <span class="title">
    <i class="fa fa-group text-muted bigger"></i>&nbsp;&nbsp;{{groups.$count || 0}} 个小组
  </span>
  <span ng-if="user._id==me._id">
    <a class="btn btn-sm btn-primary"
       ng-click="createGroup()">新建小组</a>
  </span>
  <search-input placeholder="搜索小组"
                class="search-input"
                keyword="pageConf.keyword"
                on-submit="reload()">
  </search-input>
  <hr>
</div>

<div class="col-lg-4 col-sm-6" ng-repeat="group in groups">
  <group-tile group="group" me="me"></group-tile>
</div>

<div class="pagination-row"
     ng-if="groups.$count"
     ng-show="groups.$count > pageConf.itemsPerPage">
  <pagination total-items="groups.$count"
              ng-model="pageConf.currentPage"
              items-per-page="pageConf.itemsPerPage"
              class="pagination-sm bud"
              ng-change="reload()"
              boundary-links="true"
              rotate="false"
              max-size="pageConf.maxSize">
  </pagination>
</div>

<loading-tile data="groups"
              loading-text="加载中..."
              not-found-text="暂无加入小组"
              not-found-icon="fa fa-group">
</loading-tile>
