<div class="sub-nav">
  <div class="container">
    <ul class="pull-left">
      <li>
        <a class="btn btn-primary btn-md rounded" ui-sref="student.courseList"><i class="fa fa-arrow-left"></i></a>
      </li>
      <li>
        <h3>课程主页<small>/{{course.name}}</small></h3>
      </li>
    </ul>
  </div>
</div>
<!-- jumbotron -->
<section class="jumbotron course-detail">
  <div class="text-center">

    <div class="course text-left" course-tile course="course"></div>

    <div class="header">
      <h2>{{course.name}}</h2>
    </div>
    <div class="description">
      {{course.info}}
    </div>
  </div>

  <div class="action-bar">
    <div class="span4">
      <div class="avatar" src-key="course.owners[0].avatar" source-attr="background-image">
      </div>
      <label>
        {{course.owners[0].name||'某老师'}}
      </label>
    </div>
    <div class="span4">
      <a class="btn btn-danger btn-lg" ng-click="gotoLecture()" ng-show="course.$lectures">
        开始学习 ({{viewedLectureIndex+'/'+course.$lectures.length}})
      </a>
    </div>
    <div class="span4">
      <a class="btn btn-lg" >
        <i class="fa fa-map-marker"></i>
        {{course.location||'上课地址'}}
      </a>
    </div>
  </div>

</section>

<!-- lecture list -->
<section class="course-detail lecture-list" id="lecture-list">
  <div class="container" >
    <div class="above-header">
      <h1>
        <i class="fa fa-calendar"></i>
      </h1>
    </div>
    <div class="section-header">
      <h3>
        我要学的课程
      </h3>
    </div>
    <div class="row">
      <p class="col-md-6 col-md-offset-3 text-center">
        前所未有得多媒体教学——Video和教案无限期播放，无论你是要预习还<br/>是要温故知新，这里都能满足你！赶快来学习吧！
      </p>
    </div>
    <div class="bud list-group">
      <!-- todo: disable-animation="true" animation looks strange -->
      <a class="bud list-group-item lecture row fade-repeat"
        ng-repeat="lecture in course.$lectures | paging:itemsPerPage:currentPage"
        ui-sref="student.lectureDetail({courseId:course._id,lectureId:lecture._id})">
        <div class="col-xs-1 text-center number">
          {{$index + 1 + itemsPerPage * ((currentPage||1) - 1)}}
          <i class="fa fa-check primary" ng-show="lecture.$viewed"></i>
        </div>
        <div class="col-xs-9">
          <h3 class="title">{{lecture.name}}</h3>
          <div class="info">
            {{lecture.info}}
          </div>
        </div>
        <div class="col-xs-1 text-center arrow-right">
          <i class="fa fa-star-o" ng-show="lecture.starred"></i>
        </div>
        <div class="col-xs-1 text-center arrow-right">
          <i class="fa fa-chevron-right"></i>
        </div>
      </a>
    </div>

    <pager
      total-items="course.$lectures.length"
      items-per-page="itemsPerPage"
      align="false"
      class="bud"
      ng-model="currentPage">
    </pager>
  </div>

</section>


