<!-- lecture list -->
<section class="course-detail lecture-list" id="lecture-list">
  <div class="container">
    <div class="course-info row">
      <div class="course-info-left">
        <div class="course-thumbnail"
          src-key="course.thumbnail"
          source-attr="background-image">
        </div>
      </div>
      <div class="course-info-right">
        <h4 class="course-title" tooltip="{{course.name}}" tooltip-placement="bottom">
          {{course.name}}
        </h4>
        <h5>
          {{course.owners[0].name||'某老师'}}
        </h5>
        <div class="course-summary">
          {{course.info}}
        </div>
        <div class="learn-progress">
          <div class="learn-progress-inner-bar"
            ng-style="{'width':viewedLectureIndex / course.$lectures.length * 100 + '%'}"
            >
          </div>
          <div class="tip">
            {{+viewedLectureIndex + '/' + course.$lectures.length}}课时
          </div>
        </div>
        <a class="btn btn-danger btn-lg" ng-click="gotoLecture()" ng-show="course.$lectures">
          {{viewedLectureIndex?'继续学习':'开始学习'}}
        </a>
      </div>
    </div>

    <div class="bud list-group">
      <!-- todo: disable-animation="true" animation looks strange -->
      <a class="bud list-group-item lecture row fade-repeat"
        ng-repeat="lecture in course.$lectures | paging:itemsPerPage:currentPage"
        ui-sref="student.lectureDetail({courseId:course._id,lectureId:lecture._id})">
        <div class="col-xs-1 text-center number">
          {{$index + 1 + itemsPerPage * ((currentPage||1) - 1)}}
          <i class="fa fa-check primary" ng-show="lecture.$viewed"></i>
        </div>
        <div class="col-xs-9">
          <h3 class="title">{{lecture.name}}</h3>
          <div class="info">
            {{lecture.info}}
          </div>
        </div>
        <div class="col-xs-1 text-center arrow-right">
          <i class="fa fa-star-o" ng-show="lecture.starred"></i>
        </div>
        <div class="col-xs-1 text-center arrow-right">
          <i class="fa fa-chevron-right"></i>
        </div>
      </a>
    </div>

    <pager ng-hide="course.$lectures.length <= itemsPerPage"
      total-items="course.$lectures.length"
      items-per-page="itemsPerPage"
      align="false"
      class="bud"
      ng-model="currentPage">
    </pager>
  </div>

</section>


