<div class="container">
  <ol class="breadcrumb">
    <li>
      <a ui-sref="student.courseList">主页</a>
    </li>
    <li>
      <a ui-sref="student.courseDetail({courseId:course._id})" class="active">
        {{course.name||'某课程'}}
      </a>
    </li>
  </ol>
  <div class="row">
    <div class="col-md-4">
      <div qiniu-key="course.thumbnail" source-attr="background-image"
           suffix="?imageView2/2/w/210/h/140"
           style="width: 100%;background-size:cover;
           background-position:center;height: 200px;">
      </div>
    </div>

    <div class="col-md-4">
      <h3 class="title">
        {{course.name}}
        <small>{{course.$category.name}}</small>
      </h3>
      <p class="info">
        {{course.info}}
      </p>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://lorempixel.com/300/200/people/" alt="">
        <div class="caption">
          <h5 class="title">
            {{course.teacher.name||'某老师'}}
            <small>{{course.teacher.title||'某职称'}}</small>
          </h5>
          {{course.teacher.info}}
        </div>
      </div>
    </div>
  </div>
  <hr/>

  <label>知识点</label>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="keypoint in keypoints">
      <strong>{{keypoint.name}}</strong><br>
      <span class="text-muted">{{keypoint._id}}</span>
    </li>
  </ul>
  <hr/>
  <label>课时</label>
  <ul class="list-group">
    <li class="list-group-item stretch" ng-repeat="lecture in course.$lectures">
      <a ui-sref="student.lectureDetail({courseId:course._id,lectureId:lecture._id})">
        <strong>{{lecture.name}}</strong>
      </a>
    </li>
  </ul>

</div>
