<div>

  <form role="form"
        name="newArticleForm"
        ng-submit="saveArticle(newArticleForm)">
    <div class="form-group">
      <label for="article-title">标题</label>
      <input type="text"
             class="form-control"
             ng-model="article.title"
             id="article-title"
             placeholder="请输入文章标题"
             required>
    </div>
    <div class="form-group">
      <label for="article-content">内容</label>
      <textarea id="article-content"
                class="form-control"
                ng-model="article.content"
                rows="6"
                placeholder="请输入文章内容"
                required></textarea>
    </div>
    <button type="submit" class="btn btn-default">保存</button>
    <a class="btn btn-link" ui-sref="settings.myArticles">返回</a>
  </form>

</div>