<div ng-show="selectedCategory"
     class="list-group col-md-8 item-detail-group">
  <form class="form list-group-item"
        ng-submit="saveCategory(form)"
        name="form"
        id="item-name">
    <input class="form-control"
           name="name"
           tooltip="点击即可编辑"
           ng-model="editingInfo.name"
           ng-blur="saveCategory(form)"
           placeholder="请输入专业名称"
           required>
  </form>

  <div ui-view
       class="fadeIn list-group-item manage-courses-list">
    <div ng-if="!(courses.length > 0)"
         class="empty-courses text-center">
      <h5>
        该专业还没有课程
      </h5>
    </div>
    <div ng-if="courses.length > 0">
      <strong>课程列表</strong>
      <span class="liner"></span>
      <input class="form-control search-input"
             ng-model="searchCourse"
             placeholder="查找课程">
      <hr/>

      <div class="course-info header">
        <span class="name">课程名</span>
        <span class="teacher">授课教师</span>
        <span class="info">课程简介</span>
      </div>
      <div ng-repeat="course in courses | filter:searchCourse"
           class="course-info">
        <a ng-click="viewCourse(course)">
          <span class="name">{{course.name}} ({{course.lectureAssembly.length}}课时)</span>
        <span class="teacher">
          <span ng-repeat="owner in course.owners">{{owner.name}} </span>
        </span>
          <span class="info" tooltip="{{course.info}}">{{course.info}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
